<%- include('../_header') -%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3 class="page-title">การนำเข้าข้อมูลด้วย FTP / API
                </h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="#">Data Storage</a></li>
                            <li class="breadcrumb-item active" aria-current="page">การนำเข้าข้อมูลด้วย FTP / API</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">นำเข้าข้อมูลด้วย FTP / API <i class="mdi-shield-half-full"></i><i class="mdi-shield-half-full"></i><i class="mdi-shield-half-full"></i>
                            <span class="text-secondary"></span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row pb-2 justify-content-end">
                            <div class="col-md-10 justify-content-start align-self-center d-none d-md-flex">
                                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#samedata2-modal" data-bs-whatever="@mdo" type="button">
                                    <i class="fas fa-upload"></i>สร้างการนำเข้าข้อมูล</button>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value="" id="Srearch" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-warning" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-2 justify-content-end">
                            <div class="col-md-8 justify-content-start align-self-center d-none d-md-flex">
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <table class="tablesaw no-wrap table-bordered table " id="myTable">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>ชื่อข้อมูล</th>
                                    <th>รายละเอียดข้อมูล</th>
                                    <th>วันที่สร้าง</th>
                                    <th>วันที่นำเข้า</th>
                                    <th>ที่จัดเก็บ</th>
                                    <th>วิธีนำเข้า</th>
                                    <th>รับฟอร์มเอกสาร</th>
                                    <th>ดูข้อมูล</th>
                                    <th>ลบข้อมูล</th>
                                </tr>

                            </thead>
                            <tbody id="tbody_data_ftp">
                                
                            </tbody>
                        </table>
                        <div class="row mt-3">
                            <div class="col-md-6 text-secondary ">
                                <div class="row">
                                    <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a id="show_all"></a>
                                        รายการ</span>
                                </div>
                            </div>
                            <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                                <nav aria-label="Page navigation example" class="mt-2">
                                    <ul class="pagination">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Row -->
        <div class="modal fade" id="samedata2-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;สร้างการนำเข้าข้อมูล
                        </h4><button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/<%=process.env.SUBFOLDER%>createftp" method="post">
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="sender">ชื่อข้อมูล</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info"
                                        placeholder="ภาษาอังกฤษ ห้ามมี *?/_" name="name" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">รายละเอียดข้อมูล</label>
                                <div class="col-sm-6">
                                    <textarea type="text" row="4" class="form-control border border-info" id="spec"
                                        name="descrip"></textarea>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">วันที่สร้าง</label>
                                <div class="col-sm-6">
                                    <input type="datetime-local" placeholder="dd/mm/yyyy" value="<%=date_c[0].date%>" class="form-control border border-info "
                                        name="create_date" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">ประเภทการเก็บข้อมูล</label>
                                <div class="col-sm-6 mt-2">
                                    <div class="col-md-8 col-xl-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input success check-light-success" type="radio"
                                                name="type_file" value="log" id="checkbox_log" checked="">
                                            <label class="form-check-label" for="success-light-radio">Log</label>
                                            <input name="path" value="./var/log/ftp/" id="path" type="hidden">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input success check-light-success" type="radio"
                                                name="type_file" value="pdpa" id="checkbox_pdpa">
                                            <label class="form-check-label" for="success2-light-radio">PDPA</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">นำส่งโดย</label>
                                <div class="col-sm-6 mt-2">
                                    <div class="col-md-8 col-xl-9">
                                        <!-- <div class="form-check form-check-inline">
                                            <input class="form-check-input success check-light-success" type="radio"
                                                name="type_import" id="checkbox_agent" value="agent" checked="">
                                            <label class="form-check-label" for="success-light-radio">Agent</label>
                                        </div> -->
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input success check-light-success" type="radio"
                                                name="type_import" id="checkbox_ftp" value="ftp" checked>
                                            <label class="form-check-label" for="success2-light-radio">FTP</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div id="form_ftp">
                                <div class="mb-1 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="spec">Username</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control border border-info mt-2"
                                            placeholder="Username" name="username">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="spec">Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control border border-info mt-2"
                                            placeholder="Password" name="password">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">ที่จัดเก็บ</label>
                                <div class="col-sm-6 mt-2">
                                    <label type="text" for="" name="path" id="path_file"
                                        readonly>/var/log/ftp/</label>
                                </div>
                            </div>
                           
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-1">
                                    <button type="submit"
                                        class="btn btn-success btn waves-effect waves-light">ยืนยัน</button>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-secondary waves-effect waves-light" data-bs-dismiss="modal">ยกเลิก</button>
                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- End PAge Content -->
        <!-- -------------------------------------------------------------- -->
        <!--start overlay-->
        <%- include('../_footer') -%>
            <script>
                $(".mossparkline").sparkline([2, 4, 4, 6, 8, 5, 6, 4, 8, 6, 6, 2], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#39c449',
                    fillColor: '#39c449',
                    maxSpotColor: '#39c449',
                    highlightLineColor: 'rgba(0, 0, 0, 0.2)',
                    highlightSpotColor: '#39c449'
                });
            </script>
            <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js "></script>
            <script src="/UI/dist/js/pages/datatable/custom-datatable.js "></script>
            <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js "></script>
            <!-- <script src="/UI/assets/libs/chartist/dist/chartist.min.js "></script>
                                    <script src="/UI/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js "></script> -->
            <script src="/UI/assets/libs/flot/jquery.flot.js "></script>
            <script src="/UI/dist/js/pages/widget/widget-charts.js "></script>
            <script src="/UI/assets/libs/raphael/raphael.min.js"></script>
            <script src="/UI/assets/libs/morris.js/morris.min.js"></script>
            <script src="/UI/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
            <script src="/UI/dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>


            <script src="/UI/dist/js/views_js/ftp/function_ftp.js"></script>

            <script>
                function deleteftp(id) {
                    console.log('true:', id);
                    if (userid) {
                        var request2 = function () {
                            $.ajax({
                                url: `/${Sub}deleteftp/` + id,
                                type: "post",
                            });
                            setInterval('location.reload()', 200);
                        }
                        Swal.fire({
                        confirmButtonText: "ยืนยัน",
                        showCancelButton: true,
                        icon: 'warning',
                        cancelButtonText: "ยกเลิก",
                        title: "ยืนยันการลบ",
                        html: `<label style="color:blue"></label><br><label class="text-secondary">เมื่อกดยืนยันระบบจะทำการลบข้อมูล</label>`,
                        }).then((result) => {
                            if (result.value) {
                                request2();
                            }
                        });
                        
                    }
                };
            </script>

            <script>
                var line = new Morris.Line({
                    element: 'morris-line-chart33',
                    resize: true,
                    data: [{
                        y: '2011 Q1',
                        item1: 2666
                    }, {
                        y: '2011 Q2',
                        item1: 2778
                    }, {
                        y: '2011 Q3',
                        item1: 4912
                    }, {
                        y: '2011 Q4',
                        item1: 3767
                    }, {
                        y: '2012 Q1',
                        item1: 6810
                    }, {
                        y: '2012 Q2',
                        item1: 5670
                    }, {
                        y: '2012 Q3',
                        item1: 4820
                    }, {
                        y: '2012 Q4',
                        item1: 15073
                    }, {
                        y: '2013 Q1',
                        item1: 10687
                    }, {
                        y: '2013 Q2',
                        item1: 8432
                    }],
                    xkey: 'y',
                    ykeys: ['item1'],
                    labels: ['Item 1'],
                    gridLineColor: '#eef0f2',
                    lineColors: ['#009efb'],
                    lineWidth: 1,
                    hideHover: 'auto'
                });
            </script>

     
            <script>
                // Check
                var check_1 = 0;
                var check_2 = 0;
                function check_data_1() {
                    // console.log(check_1,':',check_2);
                    if (check_1 == 0 && check_2 == 0) {
                        $('#path_file').text('/var/log/ftp/');
                        $('#path').val('/var/log/ftp/');
                    } else if (check_1 == 0 && check_2 == 1) {
                        $('#path_file').text('/var/log/ftp/');
                        $('#path').val('/var/log/ftp/');
                    } else if (check_1 == 1 && check_2 == 0) {
                        $('#path_file').text('/var/pdpa/ftp/');
                        $('#path').val('/var/pdpa/ftp/');
                    } else if (check_1 == 1 && check_2 == 1) {
                        $('#path_file').text('/var/pdpa/ftp/');
                        $('#path').val('/var/pdpa/ftp/');
                    }
                }

                $("#form_ftp").fadeIn();
                // $('#checkbox_agent').on("click", function () {
                //     $("#form_ftp").hide();
                //     $("#form_agent").fadeIn();
                //     check_2 = 0;
                //     check_data_1()
                // });

                // $('#checkbox_ftp').on("click", function () {
                //     $("#form_agent").hide();
                //     $("#form_ftp").fadeIn();
                //     check_2 = 1;
                //     check_data_1()
                // });

                $('#checkbox_log').on("click", function () {
                    check_1 = 0;
                    check_data_1()
                });

                $('#checkbox_pdpa').on("click", function () {
                    check_1 = 1;
                    check_data_1()
                });
            </script>
            <script>
    function nowAsDuration(){
    return moment.duration({
        hours:   moment().hour(),
        minutes: moment().minute(),
        seconds: moment().second()
    });
}
$("input").on("change", function() {
    var a = moment(this.value);
    var b = nowAsDuration();
    var c = a.add(b);
    this.setAttribute("my-date", c.format( this.getAttribute("my-date-format") )
    )
}).trigger("change")

            </script>

            <script>
                function click_form_ex(id){
                console.log(id);
                $.get(`/${Sub}form_EX/` + id, function(data) {
                console.log(data);
                if (data != 'false') {
                    id_form = data;
                    $.ajax({
                        url: `/UI/assets/form_excel/FormExcel_${id_form}.xlsx`,
                        method: 'GET',
                        xhrFields: {
                            responseType: 'blob'
                        },
                        success: function (data) {
                            var a = document.createElement('a');
                            var url = window.URL.createObjectURL(data);
                            a.href = url;
                            a.download = `FormExcel_${id_form}.xlsx`;
                            document.body.append(a);
                            a.click();
                            a.remove();
                            window.URL.revokeObjectURL(url);
                        }
                    });
                }else{
                    
                }
                
                });
                };

                function click_form_csv(id){
                console.log(id);
                $.get(`/${Sub}form_CSV/` + id, function(data) {
                console.log(data);
                if (data != 'false') {
                    id_form = data;
                    $.ajax({
                        url: `/UI/assets/form_excel/FormCSV_${id_form}.csv`,
                        method: 'GET',
                        xhrFields: {
                            responseType: 'blob'
                        },
                        success: function (data) {
                            var a = document.createElement('a');
                            var url = window.URL.createObjectURL(data);
                            a.href = url;
                            a.download = `FormCSV_${id_form}.csv`;
                            document.body.append(a);
                            a.click();
                            a.remove();
                            window.URL.revokeObjectURL(url);
                        }
                    });
                }else{
                    alert("ไม่สามารถดาวน์โหลดได้");
                }
                
                });
                };
            </script>