<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3 class="page-title">นำเข้าข้อมูล</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="#">Data Storage</a></li>
                            <li class="breadcrumb-item"><a href="/import">การนำเข้าข้อมูลด้วย FTP / API</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ไฟล์นำเข้า</li>

                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">นำเข้าข้อมูล<span class="text-secondary"></span>
                        </h4>
                    </div>
                    <div class="card-body ">
                        <div class="row pb-2 justify-content-end">
                            <div class="col-md-10 justify-content-start align-self-center d-none d-md-flex">
                         
                            </div>
                            <div class="col-md-2">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value="" id="Srearch" aria-describedby="button-addon2">
                                    <input type="hidden" name="id" id="ftp_id" value="<%=id%>">
                                    <button class="btn btn-outline-warning" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <table class="tablesaw no-wrap table-striped table-bordered table-hover table " id="myTable">
                            <thead>
                                <tr>
                                    <th scope="col " data-tablesaw-sortable-col
                                        data-tablesaw-sortable-default-col data-tablesaw-priority="3 "
                                        class="border ">ลำดับ</th>
                                    <th scope="col " data-tablesaw-sortable-col
                                        data-tablesaw-priority="persist " class="border ">ประเภท</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="2 "
                                        class="border ">ชื่อไฟล์</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="2 "
                                        class="border ">วันที่นำเข้า</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="4 "
                                        class="border ">ดูข้อมูล</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_data_ftp">

                            </tbody>
                        </table>
                        <div class="row mt-3">
                            <div class="col-md-6 text-secondary ">
                                <div class="row">
                                    <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a id="show_all"></a>
                                        รายการ</span>
                                </div>
                            </div>
                            <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                                <nav aria-label="Page navigation example" class="mt-2">
                                    <ul class="pagination">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <center>
                            <a href="/<%=process.env.SUBFOLDER%>import"> <button type="button" class="btn btn-lg  btn-secondary waves-effect waves-light">ย้อนกลับ</button></a>
                           </center>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        <!-- Row -->
        <div class="modal fade" id="samedata2-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-header d-flex align-items-center">

                        <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;สร้างการนำเข้าไฟล์
                        </h4><button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <form action="/<%=process.env.SUBFOLDER%>import_file" id="post" enctype="multipart/form-data" method="post">
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="sender">รายละเอียดข้อมูล</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info"
                                        placeholder="รายละเอียดข้อมูล" name="name" required>
                                    <input type="hidden" name="id" value="<%=id%>">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">นำเข้าไฟล์</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="file" id="formFile"
                                        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                        name="file">
                                </div>
                            </div>



                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-1">
                                    <button type="submit"
                                        class="btn btn-success btn waves-effect waves-light">ยืนยัน</button>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-secondary waves-effect waves-light"
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="samedata10-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">

                    <!-- <div class="modal-header d-flex align-items-center">

                        <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;สร้างการนำเข้าไฟล์</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> -->
                                <table class="tablesaw no-wrap table-striped table-bordered table-hover table " id="myTable">
                                    <thead>
                                        <tr>
                                            <th scope="col " data-tablesaw-sortable-col
                                                data-tablesaw-sortable-default-col data-tablesaw-priority="3 "
                                                class="border ">ลำดับ</th>
                                            <th scope="col " data-tablesaw-sortable-col
                                                data-tablesaw-priority="persist " class="border ">ประเภท</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="2 "
                                                class="border ">ชื่อไฟล์</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="2 "
                                                class="border ">วันที่นำเข้า</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="4 "
                                                class="border ">ดูข้อมูล</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (data2){ for (var f=0; f < data2.length; f++) { %>
                                            <tr>
                                                <td class="title align-top ">
                                                    <%= (f+1) %>
                                                </td>
                                                <td class="align-top ">
                                                    <%=data2[f].type%>
                                                </td>
                                                <td class="align-top ">
                                                    <%=data2[f].name%>
                                                </td>
                                                <td class="align-top ">
                                                    <%=data2[f].date%>
                                                </td>

                                                <td class="center" align="center">
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#samedata10-modal" data-bs-whatever="@mdo" title="ดูข้อมูล"class="text-info">
                                                        <i class="fas fa-file-alt fa-2x"></i></a>
                                                </td>
                                            </tr>
                                            <% }} %>
                                    </tbody>
                                </table>
                </div>
            </div>
        </div>

        <% if (data6){ for (var g=0; g < data6.length; g++) { %>
            <div class="modal fade" id="samedata10-modal-<%=data6[g].id%>" tabindex="-1" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-12">
                        <div class="modal-header d-flex align-items-center">
                            <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;ข้อมูล</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="card-body " style="overflow: scroll;">
                        <% if (data6[g].type_file == 'pdpa'){ %>
                            <table class="tablesaw no-wrap table-striped table-bordered table-hover table " id="myTable">
                                <thead>
                                    <tr>
                                        <th scope="col " data-tablesaw-sortable-col
                                            data-tablesaw-sortable-default-col data-tablesaw-priority="3 "
                                            class="border ">ลำดับ</th>
                                        <% if (data3){ for (var j=0; j < data3.length; j++) { %>
                                            <th scope="col" class="border "><%=data3[j].data_name%></th>
                                            <% }} %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var p = 1%>
                                    
                                    <% if (data4){ for (var e=0; e < data4.length; e++) { %>
                                        <% if (data4[e].id == data6[g].id){ %>
                                        <tr>
                                            <td class="title align-top ">
                                                <%= (p++) %>
                                            </td>
                                            <% for (var jj=0; jj < data3.length; jj++) { %>
                                                <% var c = 0%>
                                                
                                                <% for (var k=0; k < data2.length; k++) { %>
                                                <% if (data2[k].rows == data4[e].rows && data2[k].columns == jj && data2[k].fid == data6[g].id){ %>
                                                <% c = 1%>
                                                <td class="align-top ">
                                                    <%=data2[k].value%>
                                                </td>
                                                <% }%>
                                                <% }%>
                                                <% if (c == 0){ %>
                                                    <% c = 0%>
                                                    <td class="align-top ">
                                                    </td>
                                                <% }%>
                                            <% } %>
                                        </tr>
                                        <% } %>
                                    <% } %>
                                    <% } %>
        
        
                                </tbody>
                            </table>
                        <% }else{%>
                            <table class="tablesaw no-wrap table-striped table-bordered table-hover table " id="myTable">
                                <thead>
                                    <tr>
                                        <th scope="col " data-tablesaw-sortable-col
                                            data-tablesaw-sortable-default-col data-tablesaw-priority="3 "
                                            class="border ">ลำดับ</th>
                                        <th scope="col" class="border ">msg</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var p = 1%>
                                    
                                    <% if (data7){ for (var k=0; k < data7.length; k++) { %>
                                        <% if (data7[k].import_file_id == data6[g].id){ %>
                                        <tr>
                                            <td class="title align-top ">
                                                <%= (p++) %>
                                            </td>
                                            <td class="title align-top ">
                                                <%=data7[k].value%>
                                            </td>
                                        </tr>
                                    <% } %>
                                    <% } %>
                                    <% } %>
        
        
                                </tbody>
                            </table>
                        <% } %>
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <% }} %>
        
        
        <!-- -------------------------------------------------------------- -->
        <!-- End PAge Content -->
        <!-- -------------------------------------------------------------- -->
        <!--start overlay-->
        <%- include('../_footer') -%>
            <script src="/UI/dist/js/views_js/ftp/function_ftp_view.js"></script>

         
           
    