<%- include('../_header') -%>


    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ข้อมูลกลุ่ม</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">การจัดการผู้ใช้</a></li>
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>group/list">ข้อมูลกลุ่มผู้ใช้</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ตรวจสอบกลุ่มผู้ใช้งาน
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card-body">

            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0">ตรวจสอบกลุ่มผู้ใช้งาน</h4>
            </div>
            <div class="card-body" style="min-height: 650px;">
                <% if (data){%>
                    <br>
                    <h5 class="card-title mb-0">สมาชิกภายในกลุ่ม</h5><br>
                    <div class="row el-element-overlay">
                        <%if(data != ''){%>
                        <%  for (var i = 0; i < data.length; i++) { %>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="el-card-item pb-3">
                                        <div class="el-card-avatar mb-3 overflow-hidden position-relative text-center">
                                            <!-- <img src="/UI/image/<%= data[i].image%>" alt="user" class="d-block position-relative " width="250"> -->
                                            <img src="/UI/image/<%= data[i].image%>" alt="user" width="100">
                                            <div class="el-overlay  overflow-hidden">
                                                <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                                                    <li class="el-item d-inline-block my-0  mx-1">

                                                    </li>
                                                    <li class="el-item d-inline-block my-0  mx-1">
                                                        <a class="btn default btn-outline el-link text-white border-white" href="javascript:void(0);">
                                                            <i class="icon-link"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="el-card-content text-center">
                                            <h4 class="mb-0">
                                                <%= data[i].name%>
                                            </h4>
                                            <h4 class="mb-2">
                                            </h4><span class="text-muted"><%= data[i].firstname%> <%= data[i].lastname%></span>
                                            <%if(data[i].admin == 0){%>
                                                <h4 class="mb-3"></h4>
                                                <h4 class=" badge mb-3 bg-light-success text-success rounded-pill " style="font-size: larger;">ผู้ดูแลข้อมูล</h4>
                                                <%}else {%>
                                                    <h4 class="mb-3"></h4>
                                                    <h5 class=" badge mb-3 bg-light-primary text-primary rounded-pill " style="font-size: larger;">เจ้าหน้าที่พนักงาน</h5>
                                                    <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                            <%}else{%>
                                <h1 style="color: red;">ไม่พบข้อมูล</h1>
                                <%}%>
                            <%}%>
                               
                    </div>

                    <br>

                    <hr>
                    <div class="row el-element-overlay">
                        <% if (data2){ %>
                            <h5 class=" mb-0">อุปกรณ์ภายในกลุ่ม</h5><br>
                            <h4 class="mb-2"></h4>
                            <div class="row el-element-overlay">
                                <%if(data2 != ''){%>
                                <% for (var i = 0; i < data2.length; i++) { %>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card">
                                            <div class="el-card-item pb-3">
                                                <div class="el-card-avatar mb-3 overflow-hidden position-relative text-center">
                                                    <img src="/UI/image/<%= data2[i].image%>" alt="user" class="mt-3" width="100">
                                                    <!-- <img src="/UI/image/<%= data2[i].image%>" alt="user" class="d-block position-relative " width="350" height="350" /> -->
                                                    <div class="el-overlay  overflow-hidden">
                                                        <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                                                            <li class="el-item d-inline-block my-0  mx-1">

                                                            </li>
                                                            <li class="el-item d-inline-block my-0  mx-1">
                                                                <a class="btn default btn-outline el-link text-white border-white" href="javascript:void(0);">
                                                                    <i class="icon-link"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content text-center">
                                                    <h4 class="mb-0">
                                                        <%= data2[i].name%>
                                                    </h4>
                                                    <h4 class="mb-2">
                                                    </h4><span class="text-muted"></span>

                                                    <h4 class="mb-3"></h4>
                                                    <h5>
                                                        <%= data2[i].data_type%>
                                                    </h5>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                                    <%}else{%>
                                        <h1 style="color: red;margin-left: 1%;">ไม่พบข้อมูล</h1>
                                        <%}}%>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-1">
                                    <!-- <button type="submit" class="btn btn-success waves-effect btn-lg waves-light">ยืนยัน</button> -->
                                </div>
                                <div class="col-sm-1">
                                    <a href="/<%=process.env.SUBFOLDER%>group/list"> <button type="button" class="btn btn-secondary waves-effect waves-light">กลับ</button></a>
                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>
                    </div>

            </div>
        </div>
    </div>

    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/UI/assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="/UI/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>


    <%- include('../_footer') -%>


