<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title"> เพิ่มรูปแบบการประมวลผลข้อมูล</h3>
                <div class="d-flex align-items-center" style="margin-top: 1%;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index">หน้าแรก</a></li>
                            <li class="breadcrumb-item active"><a href="/<%=process.env.SUBFOLDER%>classification">รูปแบบการประมวลผลข้อมูล</a>
                            </li>
                            <li class="breadcrumb-item active">เพิ่มรูปแบบการประมวลผลข้อมูล</li>

                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 d-md-flex justify-content-end align-items-center">
                <a href="/<%=process.env.SUBFOLDER%>classification" class="btn btn-secondary">ย้อนกลับ</a>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" id="c_new">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">เพิ่มรูปแบบการประมวลผลข้อมูลที่จะนำไปใช้ตามกิจกรรมการประมวลผล <span
                                class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body">
                        <form id="form_add_classify" action="/<%=process.env.SUBFOLDER%>classification/add" method="POST">
                            <div class="row col-12">

                                <!-- <div class="row col-12">

                                    <div class="col-2">

                                    </div>
                                    <div class="col-10">

                                    </div>

                                </div> -->
                                <div class="row col-12">
                                    <div class="col-2">

                                    </div>
                                    <div class="col-10">

                                    </div>
                                </div>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold; display: inline;">
                                            ประเภทของข้อมูลที่กำหนดไว้แล้ว (เลือกข้อมูลที่กำหนด Pattern ไว้แล้ว)
                                        </h5>
                                    </div>
                                    <div class="col-10">
                                        <a href="#select-pattern" id="select_pattern" data-bs-toggle="modal"
                                            class="option-pattern" style="margin-left: 5%; display: inline;">
                                            เลือกข้อมูลที่กำหนด Pattern ไว้แล้ว</a>
                                        <textarea name="example_pattern" class="form-control"
                                            style="height: 300px; resize: none; margin-top: 0.5%;" readonly></textarea>
                                        <span id="span_example_pattern"></span>
                                        <input type="text" name="pattern_id" readonly hidden />
                                        <input type="text" name="classify_name_part1" readonly hidden />
                                    </div>
                                </div>

                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold; display: inline;">ข้อมูลส่วนบุคคล</h5>

                                    </div>
                                    <div class="col-10">
                                        <table class="table customize-table table-striped mb-0 v-middle">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        ลำดับที่
                                                    </th>
                                                    <th>
                                                        ชื่อ
                                                    </th>
                                                    <th>
                                                        ระยะเวลา
                                                    </th>
                                                    <th>
                                                        ความเสี่ยง
                                                    </th>
                                                    <th>
                                                        ประเภทข้อมูล
                                                    </th>
                                                    <th>
                                                        เลือกใช้ข้อมูล
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_table_pattern_data">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <hr>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold;">ชื่อกิจกรรมการประมวลผล:</h5>
                                    </div>
                                    <div class="col-10">
                                        <div class="input-group">
                                            <input type="text" name="event_process_id" readonly hidden />
                                            <input type="text" name="classify_name_part2"
                                                placeholder="กรุณาเลือกกิจกรรม..." class="form-control"
                                                style="width: 50%; display: inline;" readonly />
                                            <span class="input-group-text">
                                                <a href="#select-event-process" data-bs-toggle="modal"
                                                    style="display: inline;" class="h5 font-bold">ดูข้อมูล
                                                    <i class="fas fa-file-alt fa-2x text-info"
                                                        style="vertical-align: -5px;"></i>
                                                </a>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <hr>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold;">
                                            อธิบายความจำเป็นที่จะต้องนำข้อมูลส่วนบุคคลไปใช้ในกิจกรรมนี้
                                            (ประมวลผล)
                                        </h5>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" name="classify_explain_process" value=""
                                            placeholder="กรุณาป้อนคำอธิบาย..." class="form-control"
                                            style="width: 100%; display: inline;" />
                                    </div>
                                </div>
                                <br>
                                <br>
                                <hr>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold;">ผู้ใช้งาน/ผู้เข้าถึงข้อมูล<br /></h5>
                                        <span class="h5" style="font-weight: bold; margin-top: 1%;">ประมวลผลนี้</span>
                                    </div>
                                    <div class="col-10">
                                        <input type="checkbox" id="customCheck1"
                                            name="classify_user_access_info_process_inside" class="form-check-input"
                                            value="1"
                                            onclick="if($(this).prop('checked')){$('#classify_user_access_info_process_inside').show()}else{$('#classify_user_access_info_process_inside').hide()}" />
                                        <label for="customeCheck1">ภายใน <span
                                                id="processor_inside_total"></span></label>
                                        <br><br>
                                        <div id="classify_user_access_info_process_inside" class="row col-12">
                                            <select id="classify_user_access_info_process_inside_from_new_id"
                                                class="select2 form-control" multiple="multiple"
                                                name="classify_user_access_info_process_inside_from_new_id"
                                                style="height: 36px;width: 100%;"
                                                onchange="processor_inside_total($(this).val().length)">
                                                <script>
                                                    function processor_inside_total(params) {
                                                        $('#classify_user_access_info_process_inside_from_new_total').val(params);
                                                        if (params > 0) {
                                                            $('#processor_inside_total').html(" ( " + params + " คน )");
                                                        } else {
                                                            $('#processor_inside_total').html("");
                                                        }
                                                    }
                                                </script>
                                                <%if(account){for (var i=0; i < account.length; i++) {%>

                                                    <option value="<%=account[i].acc_id%>">
                                                        <%=account[i].firstname%>
                                                            <%=account[i].lastname%>
                                                    </option>
                                                    <%}}%>
                                            </select>
                                            <input id="classify_user_access_info_process_inside_from_new_total"
                                                type="text"
                                                name="classify_user_access_info_process_inside_from_new_total" value="0"
                                                readonly hidden>
                                        </div>
                                        <br>


                                    </div>
                                </div>

                                <div class="row col-12">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-10">
                                        <input type="checkbox" id="customCheck1"
                                            name="classify_user_access_info_process_outside" class="form-check-input"
                                            value="1"
                                            onclick="if($(this).prop('checked')){$('#classify_user_access_info_process_outside').show()}else{$('#classify_user_access_info_process_outside').hide()}" />
                                        <label for="customeCheck1">ภายนอก <span
                                                id="processor_outside_total"></span></label>
                                        <br><br>
                                        <div id="classify_user_access_info_process_outside" class="row col-12">
                                            <select id="classify_user_access_info_process_outside_from_new_id"
                                                class="select2 form-control" multiple="multiple"
                                                name="classify_user_access_info_process_outside_from_new_id"
                                                style="height: 36px;width: 100%;"
                                                onchange="processor_outside_total($(this).val().length)">
                                                <script>
                                                    function processor_outside_total(params) {
                                                        $('#classify_user_access_info_process_outside_from_new_total').val(params);
                                                        if (params > 0) {
                                                            $('#processor_outside_total').html(" ( " + params + " คน )");
                                                        } else {
                                                            $('#processor_outside_total').html("");
                                                        }
                                                    }
                                                </script>
                                                <%if(account){for (var i=0; i < account.length; i++) {%>

                                                    <option value="<%=account[i].acc_id%>">
                                                        <%=account[i].firstname%>
                                                            <%=account[i].lastname%>
                                                    </option>
                                                    <%}}%>
                                            </select>
                                            <!-- <input type="text" name="pattern_processor_inside_id" readonly> -->

                                            <input id="classify_user_access_info_process_outside_from_new_total"
                                                type="text"
                                                name="classify_user_access_info_process_outside_from_new_total"
                                                value="0" readonly hidden>
                                        </div>

                                        <br>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <hr>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold;">ระยะเวลาการประมวลผล</h5>
                                    </div>
                                    <div class="col-10">
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control"
                                                placeholder="กรุณาป้อนจำนวนระยะเวลา..." name="classify_period_process"
                                                required>
                                            <span class="input-group-text">วัน</span>
                                        </div>
                                        <input type="checkbox" id="customCheck3"
                                            name="classify_period_proccess_follow_policy" class="form-check-input"
                                            style="vertical-align: -5px;" />
                                        <label for="customCheck3" style="display: inline;">
                                            ตามระยะเวลาจัดเก็บ (Policy)
                                        </label>
                                        <br><br>
                                        <span id="period_process_follow_policy"></span>
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <hr>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold;">ระยะเวลาสิ้นสุด</h5>
                                    </div>
                                    <div class="col-10">
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control"
                                                placeholder="กรุณาป้อนจำนวนระยะเวลา..." name="classify_period_end"
                                                required>
                                            <span class="input-group-text">วัน</span>
                                        </div>
                                        <input type="checkbox" id="customCheck4"
                                            name="classify_period_end_follow_pattern" class="form-check-input"
                                            style="vertical-align: -5px" />

                                        <label for="customCheck4" style="display: inline;">
                                            ภายหลังจากหมดระยะเวลาจัดเก็บ(Pattern)
                                        </label>
                                        <br><br>
                                        <div class="input-group">
                                            <input type="text" name="classify_period_end_follow_pattern_total"
                                                class="form-control" placeholder="กรุณเลือกPattern..." hidden readonly>

                                            <span id="day_end_pattern" class="input-group-text font-bold" hidden>
                                                วัน
                                            </span>
                                        </div>
                                        <br>

                                    </div>
                                </div>
                                <br>
                                <br>
                                <hr>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold;">ประเภทข้อมูลที่ใช้ในกิจกรรม</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <input type="checkbox" id="customeCheck4"
                                                name="classify_type_data_in_event_personal" class="form-check-input"
                                                style="vertical-align: -5px;" />
                                            <label for="customeCheck4">ข้อมูลส่วนบุคคล</label>
                                            <a href="#set-datamark" data-bs-toggle="modal" class="btn btn-success"
                                                style="margin-left: 10%">
                                                <i class="mdi mdi-pen"></i>
                                                &nbsp;&nbsp;สร้างเครื่องหมายให้ข้อมูล
                                            </a>
                                            <span id="text_show_datamark"></span>
                                        </p>
                                        <p style="margin-top: 1%;">
                                            <input type="checkbox" id="customeCheck5"
                                                name="classify_type_data_in_event_special_personal_sensitive"
                                                class="form-check-input" />
                                            <label for="customeCheck5">ข้อมูลส่วนบุคคล
                                                (อ่อนไหว)</label>
                                        </p>
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <hr>
                                <!-- ************************************************************************ -->
                                <div id="select_processing_base">
                                    <div class="row col-12">
                                        <div class="col-2">
                                            <h5 style="font-weight: bold;">ฐานการประมวลผล</h5>

                                        </div>
                                        <div class="col-10">
                                            <div class="input-group">
                                                <select class="form-control" name="pattern_processing_base_id" id=""
                                                    style="width: 53%; display: inline;">
                                                    <option value="" disabled selected>กรุณาเลือก</option>
                                                    <% for(var i=0;i<base_process.length;i++) {%>
                                                        <option value="<%= base_process[i].pattern_processing_base_id %>">
                                                            <%= base_process[i].pattern_processing_base_name%>
                                                        </option>
                                                        <%}%>
                                                </select>
                                                <span class="input-group-text">
                                                    <a id="btn_add_processing_base" href="#add-processing-base"
                                                        data-bs-toggle="modal"
                                                        class="option-pattern">เพิ่มฐานการประมวล</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <br>
                                <hr>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold;">อธิบายเพิ่มเติม</h5>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" name="classify_processing_base_explain"
                                            placeholder="กรุณาป้อนคำอธิบาย..." class="form-control" />
                                    </div>
                                </div>
                                <br>
                                <br>
                                <hr>

                                <!-- ************************************************************************ -->

                                <div id="select_special_conditions">
                                    <div class="row col-12">
                                        <div class="col-2">
                                            <h5 style="font-weight: bold;">เงื่อนไขพิเศษเพิ่มเติม</h5>

                                        </div>
                                        <div class="col-10">
                                            <div class="input-group">
                                                <select class="form-control" name="classification_special_conditions_id"
                                                    id="" style="width: 53%; display: inline;" />
                                                <option value="" disabled selected>กรุณาเลือก</option>
                                                <% for( i in special ) {%>
                                                    <option
                                                        value="<%= special[i].classification_special_conditions_id %>">
                                                        <%= special[i].classification_special_conditions_name %>
                                                    </option>
                                                    <%}%>
                                                        </select>
                                                        <span class="input-group-text">
                                                            <a id="btn_add_special_conditions"
                                                                href="#add_special_conditions" data-bs-toggle="modal"
                                                                class="option-pattern">เพิ่มเงื่อนไขพิเศษ</a>
                                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <br>
                                <hr>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold;">อธิบายเพิ่มเติม</h5>
                                    </div>
                                    <div class="col-10">
                                        <td style="text-align: left;">
                                            <input type="text" name="classify_special_conditiion_explain"
                                                placeholder="กรุณาป้อนคำอธิบาย..." class="form-control" />
                                        </td>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <hr>
                                <div style="background-color: #e9ecef;">
                                    <br>
                                    <div class="row col-12">
                                        <div class="col-2">
                                            <h5 style="font-weight: bold;">การป้องกันข้อมูล</h5>
                                        </div>
                                        <div class="col-10">

                                        </div>
                                    </div>
                                    <div class="row col-12">
                                        <div class="col-2">
                                            <p class="font-bold" style="display: inline;">
                                                จำกัดปริมาณข้อมูลที่ใช้ประมวลผลไม่เกิน
                                            </p>
                                        </div>
                                        <div class="col-10">
                                            <div class="input-group">
                                                <input type="number" name="classify_protect_data_limit_process"
                                                    placeholder="กรุณาป้อนปริมาณ..." class="form-control" required
                                                    style="width: 50%; display: inline;" />
                                                <span class="input-group-text font-bold">
                                                    ชุดข้อมูล (Row)
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="row col-12">
                                        <div class="col-2">
                                            <p class="font-bold" style="display: inline;">
                                                กำหนดเวลาเข้าถึงข้อมูลเฉพาะ
                                            </p>
                                        </div>
                                        <div class="col-10">
                                            <input type="checkbox" name="classify_protect_data_limit_follow_datetime"
                                                id="customCheck6" class="form-check-input1" />
                                            <label for="customCheck6" style="margin-left: 1%;">
                                                จันทร์ - ศุกร์ เวลา 08.00 น. - 17.00 น.
                                            </label>
                                        </div>
                                    </div>
                                    <!-- <br>
                                    <br>
                                    <div class="row col-12">
                                        <div class="col-2">
                                            <p class="font-bold" style="display: inline;">
                                                กำหนดการเข้าถึงข้อมูลภายใน Alltra ใช้ 2 Factor ในการเข้าถึง
                                            </p>
                                        </div>
                                        <div class="col-10">
                                            <input type="checkbox"
                                                name="classify_approach_protect_used_two_factor_from_google_authen"
                                                id="customeCheck7" class="form-check-input1">
                                            <label for="customeCheck7" style="margin-left: 1%;">
                                                Google Authen
                                            </label>&emsp;
                                            <input type="checkbox"
                                                name="classify_approach_protect_used_two_factor_from_email"
                                                id="customeCheck8" class="form-check-input1" />
                                            <label for="customeCheck8" style="margin-left: 1%;">
                                                E-mail
                                            </label>&emsp;
                                            <input type="checkbox"
                                                name="classify_approach_protect_used_two_factor_from_sms"
                                                id="customeCheck9" class="form-check-input1" />
                                            <label for="customeCheck9" style="margin-left: 1%;">
                                                SMS (Option)
                                            </label>&emsp;

                                        </div>
                                    </div> -->
                                    <br>
                                </div>
                                <!-- 
                                <br>
                                <br>
                                <hr>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <h5 style="font-weight: bold;">
                                            กำหนดข้อมูลยกเว้น หรือ ไม่จำเป็น (Filter)
                                        </h5>
                                    </div>
                                    <div class="col-10">

                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <p class="font-bold" style="display: inline;">
                                            ชื่อรูปแบบข้อมูล
                                        </p>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" name="classify_data_exception_or_unnecessary_filter_name"
                                            placeholder="ถ้าระบุได้..." class="form-control">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <p class="font-bold" style="display: inline;">Tag</p>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" name="classify_data_exception_or_unnecessary_filter_tag"
                                            placeholder="ถ้าระบุได้..." class="form-control">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <p class="font-bold" style="display: inline;">Label</p>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" name="classify_data_exception_or_unnecessary_filter_label"
                                            placeholder="ถ้าระบุได้..." class="form-control">
                                    </div>
                                </div>
                                <br> -->
                                <br>
                                <%if(session.admin=='3' ){%>
                                    <div style="background-color: #f0e4ca;">
                                        <br>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <h5 style="font-weight: bold; color: red;">
                                                    ประเมินความเสี่ยงของข้อมูล (เฉพาะ DPO)
                                                </h5>
                                            </div>
                                            <div class="col-10">

                                            </div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <p class="font-bold">ข้อมูลส่วนบุคคล สามารถระบุตัวบุคคลได้</p>
                                            </div>
                                            <div class="row col-10">
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio1"
                                                        name="classify_risk_assess_only_dpo_data_personal_can_specify"
                                                        class="form-check-input" value="1" checked />
                                                    <label for="customeRadio1" style="margin-left: 1%">
                                                        ได้โดยตรง
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio2"
                                                        name="classify_risk_assess_only_dpo_data_personal_can_specify"
                                                        class="form-check-input" value="2" />
                                                    <label for="customRadio2" style="margin-left: 1%">
                                                        เป็นข้อมูลไม่ระบุได้โดยตรง
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio3"
                                                        name="classify_risk_assess_only_dpo_data_personal_can_specify"
                                                        class="form-check-input" value="3" />
                                                    <label for="customRadio3" style="margin-left: 1%">
                                                        มีการทำข้อมูลแฝง
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <p class="font-bold">ปริมาณข้อมูลทั้งหมดที่ใช้ประมวลผล</p>
                                            </div>
                                            <div class="row col-10">
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio4"
                                                        name="classify_risk_assess_only_dpo_data_number_all_used_process_many"
                                                        class="form-check-input" value="1" checked />
                                                    <label for="customRadio4" style="margin-left: 1%">
                                                        มาก
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio5"
                                                        name="classify_risk_assess_only_dpo_data_number_all_used_process_many"
                                                        class="form-check-input" value="0" />
                                                    <label for="customRadio5" style="margin-left: 1%">
                                                        น้อย
                                                    </label>
                                                </div>
                                                <div class="row col-8">
                                                    <!-- <span id="risk_assess_only_dpo_data_number_all_used_process_total" ></span> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <p class="font-bold">การควบคุมการเข้าถึงข้อมูลใน Alltra</p>
                                            </div>
                                            <div class="row col-10">
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio6"
                                                        name="classify_risk_assess_only_dpo_access_control_inside"
                                                        class="form-check-input" value="1" checked />
                                                    <label for="customRadio6" style="margin-left: 1%">
                                                        มี
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio7"
                                                        name="classify_risk_assess_only_dpo_access_control_inside"
                                                        class="form-check-input" value="0" />
                                                    <label for="customRadio7" style="margin-left: 1%">
                                                        ไม่มี
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <p class="font-bold">การควบคุมการเข้าถึงข้อมูลระบบนอก Alltra</p>
                                            </div>
                                            <div class="row col-10">
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio8"
                                                        name="classify_risk_assess_only_dpo_access_control_outside"
                                                        class="form-check-input" value="1" checked />
                                                    <label for="customRadio8" style="margin-left: 1%">
                                                        มี
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio9"
                                                        name="classify_risk_assess_only_dpo_access_control_outside"
                                                        class="form-check-input" value="0" />
                                                    <label for="customRadio9" style="margin-left: 1%">
                                                        ไม่มี
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <p class="font-bold">การป้องกันข้อมูลจากระบบ Alltra</p>
                                            </div>
                                            <div class="row col-10">
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio10"
                                                        name="classify_risk_assess_only_dpo_protect_data_inside"
                                                        class="form-check-input" value="1" checked />
                                                    <label for="customRadio10" style="margin-left: 1%">
                                                        มี
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio11"
                                                        name="classify_risk_assess_only_dpo_protect_data_inside"
                                                        class="form-check-input" value="0" />
                                                    <label for="customRadio11" style="margin-left: 1%">
                                                        ไม่มี
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <p class="font-bold">การป้องกันข้อมูลจากระบบนอก Alltra</p>
                                            </div>
                                            <div class="row col-10">
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio12"
                                                        name="classify_risk_assess_only_dpo_protect_data_outside"
                                                        class="form-check-input" value="1" checked />
                                                    <label for="customRadio12" style="margin-left: 1%">
                                                        มี
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio13"
                                                        name="classify_risk_assess_only_dpo_protect_data_outside"
                                                        class="form-check-input" value="0" />
                                                    <label for="customRadio13" style="margin-left: 1%">
                                                        ไม่มี
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <p class="font-bold">ประเมินผลกระทบต่อเจ้าของข้อมูล</p>
                                            </div>
                                            <div class=" row col-10">
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio14"
                                                        name="classify_risk_assess_only_dpo_assess_the_impact_of_data"
                                                        class="form-check-input" value="1" checked />
                                                    <label for="customRadio14" style="margin-left: 1%">
                                                        มีสูง
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio15"
                                                        name="classify_risk_assess_only_dpo_assess_the_impact_of_data"
                                                        class="form-check-input" value="2" />
                                                    <label for="customRadio15" style="margin-left: 1%">
                                                        มีปานกลาง
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio16"
                                                        name="classify_risk_assess_only_dpo_assess_the_impact_of_data"
                                                        class="form-check-input" value="3" />
                                                    <label for="customRadio16" style="margin-left: 1%">
                                                        มีต่ำ
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <p class="font-bold">
                                                    วิธีแก้ไขเมื่อเกิดข้อมูลรั่วไหลหรือผลกระทบต่อเจ้าของข้อมูล
                                                </p>
                                            </div>
                                            <div class="col-10">
                                                <input type="text"
                                                    name="classify_risk_assess_only_dpo_fix_a_leak_of_data"
                                                    placeholder="กรุณาป้อนวิธีแก้ไข..." class="form-control"
                                                    style="width: 100%;" />
                                            </div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <p class="font-bold">ประเมินผลกระทบต่อองค์กร</p>
                                            </div>
                                            <div class="row col-10">
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio17"
                                                        name="classify_risk_assess_only_dpo_assess_the_impact_of_organization"
                                                        class="form-check-input" value="1" checked />
                                                    <label for="customRadio17" style="margin-left: 1%">
                                                        มีสูง
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio18"
                                                        name="classify_risk_assess_only_dpo_assess_the_impact_of_organization"
                                                        class="form-check-input" value="2" />
                                                    <label for="customRadio18" style="margin-left: 1%">
                                                        มีปานกลาง
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" id="customRadio19"
                                                        name="classify_risk_assess_only_dpo_assess_the_impact_of_organization"
                                                        class="form-check-input" value="3" />
                                                    <label for="customRadio16" style="margin-left: 1%">
                                                        มีต่ำ
                                                    </label>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-2">
                                                <p class="font-bold">
                                                    วิธีแก้ไขเมื่อเกิดข้อมูลรั่วไหลหรือผลกระทบต่อเจ้าของข้อมูล
                                                </p>
                                            </div>
                                            <div class="col-10">
                                                <input type="text"
                                                    name="classify_risk_assess_only_dpo_fix_a_leak_of_organization"
                                                    placeholder="กรุณาป้อนวิธีแก้ไข..." class="form-control"
                                                    style="width: 100%;" />
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <input type="text" name="classify_dpo_check" value="1" readonly hidden />
                                    <%}%>
                                        <br>
                                        <br>




                                        <div class="text-center">
                                            <br>
                                            <br>
                                            <input type="text" name="acc_id" value="<%= session.userid %>" readonly
                                                hidden />

                                            <button type="button" class="btn btn-success"
                                                onclick="form_add_classify_submit()">บันทึกข้อมูล</button>
                                            <a href="javascript:history.back();" class="btn btn-secondary">ยกเลิก</a>
                                        </div>
                                        <!-- Modals Add Datamark -->
                                        <div id="set-datamark" class="modal fade" tabindex="-2"
                                            aria-labelledby="success-header-modalLabel" aria-hidden="true"
                                            style="display: none; margin-top: 5%">
                                            <div class="modal-dialog modal-lm">
                                                <div class="modal-content">
                                                    <div
                                                        class="modal-header modal-colored-header border-bottom title-part-padding">
                                                        <h4 class="modal-title"
                                                            style="color: black; font-weight: bold;">
                                                            สร้างเครื่องหมายให้ข้อมูล
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <span>
                                                                <table class="">
                                                                    <tr>
                                                                        <td style="width: 35%; text-align: left;">
                                                                            <input type="radio" id="customRadio20"
                                                                                name="classify_type_data_in_event_personal_datamark_check"
                                                                                value="0" class="form-check-input"
                                                                                checked
                                                                                onclick="if($(this).prop('checked')){$('span#event_personal_datamark').hide()} event_personal_datamark()" />
                                                                            <label for="customRadio20"
                                                                                class="font-bold">
                                                                                ไม่ต้องการ
                                                                                <br>
                                                                            </label>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 35%; text-align: left;">
                                                                            <input type="radio" id="customRadio21"
                                                                                name="classify_type_data_in_event_personal_datamark_check"
                                                                                value="1" class="form-check-input"
                                                                                onclick="if($(this).prop('checked')){$('span#event_personal_datamark').show()} event_personal_datamark()" />
                                                                            <label for="customRadio21"
                                                                                class="font-bold">
                                                                                ต้องการ
                                                                                <br>
                                                                            </label>
                                                                        </td>
                                                                    </tr>

                                                                </table>
                                                            </span>
                                                            <hr>
                                                            <span id="event_personal_datamark">
                                                                <table class=" ">
                                                                    <tr>
                                                                        <td style="width: 35%; text-align: left;">
                                                                            <input type="radio" id="not_use"
                                                                                name="classify_type_data_in_event_personal_datamark1"
                                                                                class="form-check-input" value="3"
                                                                                onclick="if($(this).prop('checked')){$('span#pseudonymized').hide() , $('span#total-pseudonymized').hide()} event_personal_datamark()"
                                                                                style="margin-left: 10%;" />
                                                                            <label for="not_use" class="font-bold">
                                                                                Anonymized Data (ไม่ระบุข้อมูล)
                                                                                <br>
                                                                            </label>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 35%; text-align: left;">
                                                                            <input type="radio" id="not_use1"
                                                                                name="classify_type_data_in_event_personal_datamark1"
                                                                                class="form-check-input"
                                                                                onclick="if($(this).prop('checked')){$('span#pseudonymized').show(), $('span#total-pseudonymized').show()} event_personal_datamark()"
                                                                                checked style="margin-left: 10%;" />
                                                                            <label for="not_used1" class="font-bold">
                                                                                Pseudonymized Data
                                                                                (ข้อมูลที่มีการแฝง)
                                                                                <br>
                                                                            </label>
                                                                        </td>
                                                                    </tr>

                                                                </table>
                                                                <hr>
                                                                <span id="pseudonymized">
                                                                    <table class=" " id="pseudonymized">
                                                                        <tr>
                                                                            <td style="width: 35%; text-align: left;">
                                                                                <input type="radio"
                                                                                    name="classify_type_data_in_event_personal_datamark"
                                                                                    id="datamark1" value="0"
                                                                                    class="form-check-input"
                                                                                    onclick="if($(this).prop('checked')){example_mark()} event_personal_datamark()"
                                                                                    checked style="margin-left: 20%;" />
                                                                                <label for="datamark1"
                                                                                    class="font-bold">
                                                                                    หัวข้อมูลอย่างเดียว </label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width: 35%; text-align: left;">
                                                                                <input type="radio"
                                                                                    name="classify_type_data_in_event_personal_datamark"
                                                                                    id="datamark2" value="1"
                                                                                    class="form-check-input"
                                                                                    onclick="if($(this).prop('checked')){example_mark()} event_personal_datamark()"
                                                                                    style="margin-left: 20%;" />
                                                                                <label for="datamark2"
                                                                                    class="font-bold">
                                                                                    หัวและท้ายข้อมูล </label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width: 35%; text-align: left;">
                                                                                <input type="radio"
                                                                                    name="classify_type_data_in_event_personal_datamark"
                                                                                    id="datamark3" value="2"
                                                                                    class="form-check-input"
                                                                                    onclick="if($(this).prop('checked')){example_mark()} event_personal_datamark()"
                                                                                    style="margin-left: 20%;" />
                                                                                <label for="datamark3"
                                                                                    class="font-bold">
                                                                                    ท้ายข้อมูลอย่างเดียว </label>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </span>
                                                                <span id="total-pseudonymized">
                                                                    <table class="table table-boardless"
                                                                        id="total-pseudonymized">
                                                                        <td style="width: 35%; text-align: right;">
                                                                            <label for="total-digit" class="font-bold">
                                                                                จำนวนตัวอักษรที่แสดง: </label>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" min="1" value="1"
                                                                                name="classify_type_data_in_event_personal_datamark_total"
                                                                                placeholder="กรุณาป้อนจำนวน..."
                                                                                class="form-control"
                                                                                onkeyup="example_mark()"
                                                                                onchange="event_personal_datamark()" />
                                                                        </td>
                                                                    </table>
                                                                    <span id="example-datamark">
                                                                        <table class="table table-boardless">
                                                                            <td>
                                                                                สมมุติจำนวนแสดงตัวอักษร = 
                                                                                <span style="color: red;" id="ex_mark_number">
                                                                                
                                                                                </span>
                                                                                <br /> ["ตัวอย่างข้อความ"] 
                                                                                <span style="color: red;">
                                                                                    ทำเครื่องหมาย
                                                                                </span> 
                                                                                <span id="ex_mark_text">
                                                                                    ["****ย่าง"]
                                                                                </span>
                                                                            </td>
                                                                        </table>
                                                                    </span>
                                                                    




                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="" style="margin-right: 45%;">
                                                            <button type="button"
                                                                class="btn btn-success font-weight-large"
                                                                data-bs-dismiss="modal"> ยืนยัน </button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Modals Add Pattern -->
    <div id="select-pattern" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        aria-hidden="true" style="display: none; margin-top: 5%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-colored-header border-bottom title-part-padding">
                    <h4 class="modal-title" style="color: black; font-weight: bold;">
                        รูปแบบข้อมูล
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="h5" style="font-weight: bold;">
                        เลือกรูปแบบข้อมูล
                    </div>
                    <div>
                        <table class="table table-boardless">
                            <tbody id="table-body-pattern-add">
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12 justify-content-center align-self-center d-block d-md-flex">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination" id="pagination-wapper-pattern-add">
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 text-secondary">
                            <span>แสดงผล <span id="start-pattern-add"></span> ถึง <span id="end-pattern-add"></span>
                                ทั้งหมด <span id="total-pattern-add"></span> รายการ </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="margin-right: 42%;">
                            <button type="button" class="btn btn-danger font-weight-large"
                                data-bs-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <!-- Modals Add Event Process -->
    <div id="select-event-process" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        aria-hidden="true" style="display: none; margin-top: 5%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-colored-header border-bottom title-part-padding">
                    <h4 class="modal-title" style="color: black; font-weight: bold;">
                        กิจกรรมการประมวลผล
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="h5" style="font-weight: bold;">
                        เลือกกิจกรรมการประมวลผลที่ต้องการใช้งาน
                    </div>
                    <div>
                        <table class="table table-boardless">
                            <tbody id="table-body-event-add">
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12 justify-content-center align-self-center d-block d-md-flex">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination" id="pagination-wapper-event-add">
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 text-secondary">
                            <span>แสดงผล <span id="start-event-add"></span> ถึง <span id="end-event-add"></span>
                                ทั้งหมด <span id="total-event-add"></span> รายการ </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="margin-right: 42%;">
                            <button type="button" class="btn btn-danger font-weight-large" data-bs-dismiss="modal">
                                ยกเลิก </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <!-- Modals Add Users (Inside) -->
    <div id="select-users-inside" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        aria-hidden="true" style="display: none; margin-top: 5%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-colored-header border-bottom title-part-padding">
                    <h4 class="modal-title" style="color: black; font-weight: bold;">
                        สมาชิกในระบบ Alltra
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="h5" style="font-weight: bold;">
                        เลิือกสมาชิกในระบบ Alltra ที่ต้องการใช้งาน
                    </div>
                    <div>
                        <table class="table table-boardless">
                            <tbody id="table-body-user-inside-add">
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12 justify-content-center align-self-center d-block d-md-flex">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination" id="pagination-wapper-user-inside-add">
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 text-secondary">
                            <span> แสดงผล <span id="start-user-inside-add"></span> ถึง <span
                                    id="end-user-inside-add"></span>
                                ทั้งหมด <span id="total-user-inside-add"></span> รายการ </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="margin-right: 42%;">
                            <button type="button" class="btn btn-danger font-weight-large" data-bs-dismiss="modal">
                                ยกเลิก </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <!-- Modals Add Users (Outside) -->
    <div id="select-users-outside" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        aria-hidden="true" style="display: none; margin-top: 5%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-colored-header border-bottom title-part-padding">
                    <h4 class="modal-title" style="color: black; font-weight: bold;">
                        สมาชิกในระบบ Alltra
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="h5" style="font-weight: bold;">
                        เลือกสมาชิกในระบบ Alltra ที่ต้องการใช้งาน
                    </div>
                    <div>
                        <table class="table table-boardless">
                            <tbody id="table-body-users-outside-add">
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12 justify-content-center align-self-center d-block d-md-flex">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination" id="pagination-wapper-users-outside-add">
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 text-secondary">
                            <span> แสดงผล <span id="start-users-outside-add"></span> ถึง <span
                                    id="end-users-outside-add"></span>
                                ทั้งหมด <span id="total-users-outside-add"></span> รายการ </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="margin-right: 42%;">
                            <button type="button" class="btn btn-danger font-weight-large" data-bs-dismiss="modal">
                                ยกเลิก </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <!-- Modals Add Processing_base -->
    <div id="add-processing-base" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        aria-hidden="true" style="display: none; margin-top: 5%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-colored-header border-bottom title-part-padding">
                    <h4 class="modal-title" style="color: black; font-weight: bold;">
                        สร้างฐานการประมวลผล
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="h5" style="font-weight: bold;">
                        สร้างฐานการประมวลผลที่ต้องการใช้งาน
                    </div>
                    <div>
                        <table class="table table-boardless">
                            <tbody id="">
                                <th class="th-pattern1"> ฐานการประมวลผล : </th>
                                <td class="td-option-pattern"><input type="text" name="pattern_processing_base_name"
                                        placeholder="กรุณป้อนฐานการประมวลผล..." class='form-control' />
                                </td>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="button-center-success">
                            <a id="add_processing_base" type="button" class="btn btn-success font-weight-large"> ยืนยัน
                            </a>
                        </div>
                        <div class="button-center-danger1">
                            <button type="button" class="btn btn-danger font-weight-large" data-bs-dismiss="modal">
                                ยกเลิก </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <!-- Modals Add Speical Conditions -->
    <div id="add_special_conditions" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        aria-hidden="true" style="display: none; margin-top: 5%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-colored-header border-bottom title-part-padding">
                    <h4 class="modal-title" style="color: black; font-weight: bold;">
                        สร้างเงื่อนไขพิเศษเพิ่มเติม
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="h5" style="font-weight: bold;">
                        สร้างเงื่อนไขพิเศษเพิ่มเติมที่ต้องการใช้งาน
                    </div>
                    <div>
                        <table class="table table-boardless">
                            <tbody id="">
                                <th class="th-pattern2"> เงื่อนไขพิเศษเพิ่มเติม : </th>
                                <td class="td-option-pattern"><input type="text"
                                        name="classification_special_conditions_name"
                                        placeholder="กรุณาป้อนเงื่อนไขพิเศษ..." class='form-control' />
                                </td>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="button-center-success">
                            <a id="add-special-conditions" type="button" class="btn btn-success font-weight-large">
                                ยืนยัน </a>
                        </div>
                        <div class="button-center-danger1">
                            <button type="button" class="btn btn-danger font-weight-large" data-bs-dismiss="modal">
                                ยกเลิก </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <style>
        .highlighted {
            background-color: yellow;
        }
    </style>

    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>



    <!-- <script src="/UI/dist/js/all_function_pattern.js"></script> -->
    <script src="/UI/dist/js/all_function_classification.js"></script>

    <script>
        $(document).ready(function () {

            $('span#event_personal_datamark').hide();

            example_mark()

            $('#classify_user_access_info_process_inside').hide();
            $('#classify_user_access_info_process_outside').hide();




        });

        function event_personal_datamark() {
            text_show_datamark = ''
            if ($('#customRadio20').prop('checked')) {
                text_show_datamark += 'ไม่ต้องการสร้างเครื่องหมาย'
            } else {
                text_show_datamark += 'ต้องการสร้างเครื่องหมาย'
                if ($('#not_use').prop('checked')) {
                    text_show_datamark += ' (ไม่ระบุข้อมูล) '
                } else {
                    text_show_datamark += ' (ข้อมูลที่มีการแฝง) '
                    if ($('#datamark1').prop('checked')) {
                        text_show_datamark += 'หัวข้อมูลอย่างเดียว จำนวน ' + $('input[name="classify_type_data_in_event_personal_datamark_total"]').val() + ' ตัว'
                    } else if ($('#datamark2').prop('checked')) {
                        text_show_datamark += 'หัวและท้ายข้อมูล จำนวน ' + $('input[name="classify_type_data_in_event_personal_datamark_total"]').val() + ' ตัว'
                    } else {
                        text_show_datamark += 'ท้ายข้อมูลอย่างเดียว จำนวน ' + $('input[name="classify_type_data_in_event_personal_datamark_total"]').val() + ' ตัว'
                    }
                }
            }

            $('#text_show_datamark').html(text_show_datamark);

        }

        function example_mark() {
            var amount = $('input[name="classify_type_data_in_event_personal_datamark_total"]').val();
            var textlabel = "ตัวอย่างข้อความ"
            var type = 0;
            if ($('#datamark1').prop('checked')) {
                type = 0;
            } else if ($('#datamark2').prop('checked')){
                type = 1;
            }else if ($('#datamark3').prop('checked')){
                type = 2;
            }
            console.log(type);
            var text = "";
	
            if (textlabel != undefined) {
                var textlabel_length = textlabel.length;
                //Check Amount
                if (amount >= (textlabel_length - 2)) {
                    amount = textlabel_length - 2;
                }
                //Mask
                if (type == 0) { //type = 0 >> ซ่อนด้านหน้า
                    //Mask with *
                    for (var i = 0;i < (textlabel_length - amount);i++) {
                        text += "*";
                    }
                    //Sub String
                    text += textlabel.substr(textlabel_length - amount, amount);
                }
                else if (type == 1) { //type = 1 >> ซ่อนด้านหน้าและหลัง
                    var index_start = Math.floor((textlabel_length - amount)/2);
                    //Mask with *
                    for (var i = 0;i < index_start;i++) {
                        text += "*";
                    }
                    //Sub String
                    text += textlabel.substr(index_start, amount);
                    //Mask with *
                    for (var i = 0;i < ((textlabel_length - amount) - index_start);i++) {
                        text += "*";
                    }
                }
                else if (type == 2){ //type = 2 >> ซ่อนด้านหลัง
                    //Sub String
                    text += textlabel.substr(0, amount);
                    //Mask with *
                    for (var i = 0;i < (textlabel_length - amount);i++) {
                        text += "*";
                    }
                }else{ // notmark
                    text = textlabel;
                }
	        }
            $('#ex_mark_number').html(amount+"");
            $('#ex_mark_text').html("["+text+"]");
        }




        function check_doc_id_pattern() {
            Sub = document.getElementById('SubDomain').value;
            if ($('input[name="pattern_id"]').val() != "" && typeof $('input[name="pattern_id"]').val() != 'undefined') {
                // $('#textarea_doc_id').val($('input[name="doc_id"]').val());
                $.ajax({
                    type: 'POST',
                    url: `/${Sub}classification/get/doc_id_pattern_detail` ,
                    data: { pattern_id: $('input[name="pattern_id"]').val() },
                    success: function (result) {
                        $.each(result, function (i, xxx) {
                            if (xxx.datatag.length != 0) {
                                var text_div_text2 = ``;
                                var text_div_text1 = ``;
                                var tbody_table_pattern_data = ``;

                                text_div_text2 += `<br><br><br>`;
                                text_div_text1 += `ข้อมูลส่วนบุคคล: มี ` + (xxx.datatag.length) + ` ข้อมูล<br>`;
                                text_div_text1 += `---------------------------------------------------------------------------<br>`;
                                for (let i = 0; i < xxx.datatag.length; i++) {
                                    tbody_table_pattern_data += `<tr>`
                                    tbody_table_pattern_data += `   <td>`
                                    tbody_table_pattern_data += `       ` + (i + 1);
                                    tbody_table_pattern_data += `   </td>`
                                    tbody_table_pattern_data += `   <td>`
                                    tbody_table_pattern_data += `       ` + xxx.datatag_name[i] + ` ( ` + xxx.datatag_code[i] + ` )`;
                                    tbody_table_pattern_data += `   </td>`
                                    tbody_table_pattern_data += `   <td>`
                                    tbody_table_pattern_data += `       ` + xxx.datatag[i].day_start + ` ถึง ` + xxx.datatag[i].day_end;
                                    tbody_table_pattern_data += `   </td>`
                                    tbody_table_pattern_data += `   <td>`
                                    tbody_table_pattern_data += `       ` + xxx.datatag[i].level_name;
                                    tbody_table_pattern_data += `   </td>`
                                    tbody_table_pattern_data += `   <td>`
                                    tbody_table_pattern_data += `       ` + xxx.datatag[i].data_type_name;
                                    tbody_table_pattern_data += `   </td>`
                                    tbody_table_pattern_data += `   <td>`
                                    tbody_table_pattern_data += `       เลือก <input type="checkbox" class="form-check-input" name="doc_id_person_data_pattern" value="` + xxx.datatag_id[i] + `" checked> `;
                                    tbody_table_pattern_data += `   </td>`
                                    tbody_table_pattern_data += `</tr>`
                                    // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                                    text_div_text2 += `<br><br>เลือก <input type="checkbox" class="form-check-input" name="doc_id_person_data_pattern" value="` + xxx.datatag_id[i] + `" checked> <br><br><br><br>`;
                                    text_div_text1 += `ลำดับที่ ` + (i + 1) + `<br>`;
                                    text_div_text1 += `      ` + xxx.datatag_name[i] + ` ( ` + xxx.datatag_code[i] + ` )<br>`;
                                    text_div_text1 += `      -ระยะเวลา: ` + xxx.datatag[i].day_start + ` ถึง ` + xxx.datatag[i].day_end + `<br>`;
                                    text_div_text1 += `      -ความเสี่ยง: ` + xxx.datatag[i].level_name + `<br>`;
                                    text_div_text1 += `      -ประเภทข้อมูล: ` + xxx.datatag[i].data_type_name + `<br>`;
                                    text_div_text1 += `---------------------------------------------------------------------------<br>`;
                                }
                                $('#div_text1').html(text_div_text1);
                                $('#div_text2').html(text_div_text2);
                                $('#tbody_table_pattern_data').html(tbody_table_pattern_data);
                            } else {
                                $('#div_text1').html('ข้อมูลส่วนบุคคล: ไม่มี ข้อมูล');
                                $('#div_text2').html('');
                                $('#tbody_table_pattern_data').html('');
                            }

                        });
                    },
                    error: function (e) {
                    }
                });
            } else {
                $('#textarea_doc_id').val("");
                $('#tbody_table_pattern_data').html('');

            }
        }


    </script>



    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>

    <script src="/UI/dist/js/feather.min.js"></script>
    <script src="/UI/dist/js/custom.min.js"></script>
    <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/UI/dist/js/pages/forms/select2/select2.init.js"></script>
    <%- include('../_footer') -%>