<%- include('../_header') -%>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h3 class="page-title">กิจกรรมประมวลผล</h3>
            <div class="d-flex align-items-center" style="margin-top: 1%;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb"> 
                        <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index">หน้าแรก</a></li>
                        <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>classification/event/">กิจกรรมประมวลผล</a></li>
                        <li class="breadcrumb-item active" aria-current="page">เพิ่มกิจกรรมประมวล</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" id="ev_index">
    <!-- row -->
    <div class="row">
        <!-- columns -->
        <div class="col-12">
            <div class="card">
                <div class="border-bottom title-part-padding">
                    <h4 class="card-title mb-0">เพิ่มกิจกรรมประมวลที่สามารถนำไปใช้งานร่วมกับรูปแบบการประมวลผลข้อมูล
                        <span class="text-secondary"></span></h4>
                </div>
                <div class="card-body">
                    <form action="/<%=process.env.SUBFOLDER%>classification/event/add" method="POST">
                        <table class="table table-boardless">
                            <tr>
                                <th width="13%;" style="font-weight: bold; text-align: left;">ชื่อกิจกรรมประมวลผล</th>
                                <td>
                                    <input type="text" name="event_process_name" placeholder="กรุณาป้อนกิจกรรมประมวลผล..." class="form-control" style="text-align: left;"/>
                                </td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">บันทึกข้อมูล</button>
                            <a href="/<%=process.env.SUBFOLDER%>classification/event/" class="btn btn-secondary">ยกเลิก</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- columns -->
    </div>
    <!-- row -->
</div>
<!-- ============================================================== -->
<!-- end container fluid  -->
<!-- ============================================================== -->
<script src="/ui/assets/libs/jquery/dist/jquery.min.js"></script>
<%- include('../_footer') -%>
