<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">รูปแบบการประมวลผลข้อมูล</h3>
                <div class="d-flex align-items-center" style="margin-top: 1%;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index">หน้าแรก</a></li>
                            <!-- <li class="breadcrumb-item active" aria-current="page">การป้องกันข้อมูลสู่ภายนอก (Export)
                        </li> -->
                            <li class="breadcrumb-item active" aria-current="page">รูปแบบการประมวลผลข้อมูล</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" id="c_index">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <!-- Column -->
            <!-- <div class="col-lg-4 col-md-6">
                <a href="javascript:void(0);">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">รูปแบบประเภทข้อมูล</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0">
                                    <%= classify.length %>
                                </h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>

                            </div>
                            <span class="text-success" id="bar1">100%</span>
                            <div class="progress">
                                <div id='progress-bar1' class="progress-bar bg-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- Column -->
            <!-- Column -->
            <!-- <div class="col-lg-4 col-md-6">
                <a href="javascript:void(0);">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">พื้นที่จัดเก็บ ตามรูปแบบ GB</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0"><span id="diskSpace">
                                    <%= checkDiskSpace.size %>
                                </span></h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-info" id="bar2">
                            <%= 100-(((parseInt(checkDiskSpace.free)/parseInt(checkDiskSpace.size))*100).toFixed(0))
                            %>%
                        </span>
                            <div class="progress">
                                <div id='progress-bar2' class="progress-bar bg-info" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- Column -->
            <!-- Column -->
            <!-- <div class="col-lg-4 col-md-6">
                <a href="javascript:void(0);">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">การใช้งานรูปแบบประเภท</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0">
                                    <% if(used.length == 0){%>0
                                        <%}else{%>
                                            <%= used %>
                                                <%}%>
                                </h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-purple" id="bar3"><%= percent %>%</span>
                            <div class="progress">
                                <div id='progress-bar3' class="progress-bar bg-purple" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">สร้างรูปแบบประมวลผลข้อมูล โดยการค้นหาข้อมูลที่เก็บภายในระบบ
                            โดยจัดเป็นรูปแบบเพื่อการป้องกันการนำไปใช้
                            <span class="text-secondary"></span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="javascript:void(0);" method="post">
                            <div class="row pb-3">
                                <div class="col-md-8">
                                    <a href="/<%=process.env.SUBFOLDER%>classification/new" class="btn btn-success px-4">
                                        <i class="fas fa-plus"></i>
                                        เพิ่มรูปแบบการประมวลผลข้อมูล</a>
                                </div>
                                <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                    <div class="input-group mb-2">
                                        <a href="/<%=process.env.SUBFOLDER%>classification" class="btn btn-outline-warning"><i
                                                data-feather="refresh-cw"></i></a>
                                                <input type="text" class="form-control" placeholder="ค้นหา.." id="myInput-2" name="search" aria-label="" aria-describedby="button-addon2" value="">
                                                <button type="button" class="btn btn-outline-warning search-key-2"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div style="min-height: 470px; margin-left: 1%; margin-right: 1%;">
                            <p class="h4 split-para">รูปแบบการประมวลผลข้อมูล</p>
                            <table id="myTable"
                                class="tablesaw table-striped table-bordered table-hover table tablesaw-stack tablesaw-sortable"
                                data-tablesaw-mode="stack" data-tablesaw-sortable style="margin-top: 1%;">
                                <thead>
                                    <tr>
                                        <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                            data-tablesaw-priority="3" class="border text-center">ลำดับ</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                            class="border text-center">
                                            ชื่อรูปแบบ</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4"
                                            class="border text-center">
                                            ข้อมูลส่วนบุคคล</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            วันที่สร้าง</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ผู้สร้าง</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ดูข้อมูล</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6"
                                            class="border text-center" width="8%">
                                            แก้ไขข้อมูล</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ลบข้อมูล</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-secondary" style="margin-left: 1%;">
                                <span>แสดงผล <span id="start"></span> ถึง <span id="end"></span> ทั้งหมด <span
                                        id="total"></span> รายการ</span>
                            </div>
                            <div class="col-md justify-content-end align-self-center d-block d-md-flex">
                                <nav aria-label="Page navigation example" style="margin-right: 2%;">
                                    <ul class="pagination" id="pagination-wapper">
                                    </ul>
                                </nav>
                            </div>
                        </div><br /><br />
                    </div>
                </div>
                <!-- Row -->
                <!-- From Delete Classification -->
                <form id="del-classify" method="POST">
                    <div id="delete-classify" class='modal fade modal-scroll' tabindex="-1"
                        aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class='modal-header modal-colored-header border-bottom title-part-padding'>
                                    <h4 class="modal-title" style="color: black; font-weight: bold;">
                                        ยืนยันลบรูปแบบการประมวลผลข้อมูล
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="table table-boardless">
                                                <th style="font-weight: bold; width: 30%; text-align: right;">
                                                    ชื่อรูปแบบ:
                                                </th>
                                                <td id="c-name"></td>
                                            </table>
                                            <table class="table table-boardless">
                                                <th style="font-weight: bold; width: 30%; text-align: right;">
                                                    ข้อมูลส่วนบุคคล:
                                                </th>
                                                <td id="c-data"></td>
                                            </table>
                                            <table class="table table-boardless">
                                                <th style="font-weight: bold; width: 30%; text-align: right;">
                                                    วันที่สร้าง:
                                                </th>
                                                <td id="c-create"></td>
                                            </table>
                                            <table class="table table-boardless">
                                                <th style="font-weight: bold; width: 30%; text-align: right;">
                                                    ผู้สร้าง:
                                                </th>
                                                <td id="c-creator"></td>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="button-center-success">
                                        <button type="submit" id="sub-del-classify"
                                            class="btn btn-danger  font-weight-large">ยืนยัน</button>
                                    </div>
                                    <div class="button-center-danger2">
                                        <button type="button" class="btn btn-secondary font-weight-large"
                                            data-bs-dismiss="modal">ยกเลิก</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>


    <script src="/UI/dist/js/all_function_pattern.js"></script>
    <script src="/UI/dist/js/all_function_classification.js"></script>
    <%- include('../_footer') -%>