<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ข้อมูลส่วนบุคคล</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>personal_data">ข้อมูลส่วนบุคคล</a></li>
                            <li class="breadcrumb-item">แก้ไขข้อมูลส่วนบุคคล</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="d-flex col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <a href="/<%=process.env.SUBFOLDER%>personal_data" class="btn btn-secondary">ย้อนกลับ</a>
            </div>

            <div class="container-fluid" style="margin-top: 1%;">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="border-bottom title-part-padding">
                                <h4 class="card-title mb-0">แก้ไขข้อมูลส่วนบุคคล<span class="text-secondary"></span>
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="row-6" align="center">
                                    <div class="col-6">
                                        <!-- ----------------------------------------- -->
                                        <!-- 1. Basic Form -->
                                        <!-- ----------------------------------------- -->
                                        <div class="card">
                                            <div class="card-body">
                                                <form action="/<%=process.env.SUBFOLDER%>update_personal/<%=personal[0].data_id%>" method="POST">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-floating mb-3">
                                                                <div class="input-group mb-3">
                                                                    <label class="input-group-text"
                                                                        for="inputGroupSelect01">ระดับของข้อมูลส่วนตัวบุคคล</label>
                                                                    <select class="form-select" id="inputGroupSelect01"
                                                                        name="data_level_id">
                                                                        <% for (var i=0; i < level.length; i++) { %>
                                                                            <option value="<%= level[i].level_id %>" <%
                                                                                if(level[i].level_name==personal[0].level_name){%>
                                                                                selected
                                                                                <%}%>>
                                                                                    <%= level[i].level_name%>
                                                                            </option>
                                                                            <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div style="float: left;">
                                                                <h5 style="color: red;">
                                                                    *ใช้ได้เฉพาะตัวอักษรภาษาอังกฤษ(a-z), ตัวเลข(0-9)
                                                                    และตัวอักษรพิเศษ( _ ) เท่านั้น </h5>
                                                            </div>
                                                            <br>
                                                            <div class="input-group mb-3" id="new_data_code">
                                                                <span class="input-group-text">Code : #</span>
                                                                <input id="codes1"
                                                                    value="<% for(i in personal_1){%><%= personal_1[i] %>,<%}%>"
                                                                    readonly hidden />
                                                                <input type="text" name="data_code"
                                                                    value="<%= personal_name[1] %>" class="form-control"
                                                                    id="data_code" placeholder="กรอก Code .." required>
                                                                <span class="input-group-text" id="icon_code"><i
                                                                        class="ti-minus"></i></span>
                                                            </div>
                                                            <p>
                                                            <div id="show"></div>
                                                            </p>
                                                            <div class="form-floating mb-3">
                                                                <input type="text" name="data_name"
                                                                    value="<%=personal[0].data_name%>"
                                                                    class="form-control" id="tb-fname"
                                                                    placeholder="กรอกชื่อข้อมูลส่วนตัว" required>
                                                                <label for="tb-fname">ชื่อข้อมูลส่วนบุคคล :</label>
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <div class="input-group mb-3">
                                                                    <label class="input-group-text"
                                                                        for="inputGroupSelect01">ประเภทของข้อมูลส่วนตัวบุคคล
                                                                        :</label>
                                                                    <select class="form-select" id="inputGroupSelect01"
                                                                        name="data_type_id">
                                                                        <% for (var i=0; i < data_type.length; i++) { %>
                                                                            <option
                                                                                value="<%= data_type[i].data_type_id %>"
                                                                                <%
                                                                                if(data_type[i].data_type_id==personal[0].data_type_id){%>
                                                                                selected <%}%>>
                                                                                    <%= data_type[i].data_type_name%>
                                                                            </option>
                                                                            <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <input type="text"
                                                                    placeholder="กรอกรายละเอียดเพิ่มเติมของข้อมูลส่วนบุคคล.."
                                                                    name="data_detail" id="tb-fname"
                                                                    class="form-control"
                                                                    value="<%=personal[0].data_detail%>">
                                                                <label for="tb-fname"> รายละเอียดเพิ่มเติม :</label>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <label for="example-datetime-local-input"
                                                                    class="col-md-2 col-form-label">วันที่เริ่ม
                                                                    :</label>
                                                                <div class="col-md-10">
                                                                    <input class="form-control" type="datetime-local"
                                                                        name="data_date_start"
                                                                        value="<%=personal[0].data_date_start%>"
                                                                        id="example-datetime-local-input">
                                                                </div>
                                                            </div>
                                                            <label style="float: right;" for="">ถึง</label>
                                                            <br>
                                                            <br>
                                                            <div class="mb-3 row">
                                                                <label for="example-datetime-local-input"
                                                                    class="col-md-2 col-form-label">วันที่สิ้นสุด
                                                                    :</label>
                                                                <div class="col-md-10">
                                                                    <input class="form-control" type="datetime-local"
                                                                        name="data_date_end"
                                                                        value="<%=personal[0].data_date_end%>"
                                                                        id="example-datetime-local-input">
                                                                </div>
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <input type="text" name="data_location_name"
                                                                    value="<%=personal[0].data_location_name%>"
                                                                    class="form-control" id="tb-fname"
                                                                    placeholder="กรอกสถานที่จัดเก็บของข้อมูลส่วนตัว.."
                                                                    required>
                                                                <label for="tb-fname"> สถานที่จัดเก็บข้อมูล :</label>
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <input type="text"
                                                                    placeholder="กรอกรายละเอียดเพิ่มเติมของสถานที่จัดเก็บข้อมูล..."
                                                                    name="data_location_detail" id="tb-fname"
                                                                    class="form-control"
                                                                    value="<%=personal[0].data_location_detail%>">
                                                                <label for="tb-fname">
                                                                    รายละเอียดเพิ่มเติมของสถานที่จัดเก็บข้อมูล :</label>
                                                            </div>

                                                            <input id="personal_dataTag" value="<%=tag_name%>" readonly
                                                                hidden />

                                                            <input type="text" class="form-control"
                                                                name="personal_dataTag"
                                                                value="<%=personal[0].data_tag%>" style="display: none;"
                                                                placeholder="ใส่แท็ก..">

                                                            <div class="amsify-suggestags-area">
                                                                <div class="amsify-suggestags-list "
                                                                    style="width: 524px; display: none;">
                                                                    <ul class="amsify-list">
                                                                        <%for(i=0;i<tag.length;i++){%>
                                                                            <li class="amsify-list-item"
                                                                                data-val="<%=tag[i].tag_name%>">
                                                                                <%=tag[i].tag_name%>
                                                                            </li>
                                                                            <%}%>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-12">
                                                            <div class="d-md-flex align-items-center mt-3">
                                                                <div class="ms-auto mt-3 mt-md-0">
                                                                    <button type="submit" class="btn btn-warning  ">
                                                                        บันทึกข้อมูล
                                                                    </button>
                                                                    <a href="/<%=process.env.SUBFOLDER%>personal_data"
                                                                        class="btn btn-secondary  ">
                                                                        ยกเลิก
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- <script src="/UI/dist/js/pagination_data.js"></script> -->

    <link rel="stylesheet" href="/UI/dist/css/amsify.suggestags.css">
    <script src="/UI/dist/js/jquery.amsify.suggestags.js"></script>
    <script>
        $(document).ready(function () {
            // Get value on button click and show alert
            $("#data_code").focus(function () {
                $('#data_code').on("change keyup keydown paste click", function () {
                    let str = $(this).val().toLowerCase();
                    $(this).val(str)
                    const codes1 = document.getElementById('codes1').value // data_code
                    let sort_codes = codes1.split(',')
                    var new_data_code = document.getElementById("show_code");
                    var letters = /^[a-z]+$/;
                    var numbers = /^[0-9]+$/;
                    var format = /[!@#$%^&*()+\-=\[\]{};':"\\|,.<>\/? ]+/;
                    for (var j = 0; j < sort_codes.length - 1; j++) {
                        var mixCode = "#" + str;
                        if (sort_codes[j] == mixCode || str.match(format) || (mixCode.length == 1)) {
                            $("#icon_code").html('<i class="ti-close" style="color: red;"></i>');
                            break
                        } else if (sort_codes[j] != mixCode && str.match(letters) || !str.match(format) || str.match(numbers) && (mixCode.length > 1)) {
                            $("#icon_code").html('<i class="ti-check" style="color: limegreen;"></i>');
                        }
                    }
                });
            });

        });

        const personal_dataTag = document.getElementById('personal_dataTag').value;
        let sort_personal_dataTag = personal_dataTag.split(',')
        let personal_dataTag_new = []
        for (i in sort_personal_dataTag) {
            personal_dataTag_new.push(sort_personal_dataTag[i])
        }


        $('input[name="personal_dataTag"]').amsifySuggestags({
            suggestions: personal_dataTag_new,
            whiteList: true
        });

        $('div.amsify-suggestags-list').css("width", "542px")

    </script>


    <%- include('../_footer') -%>