<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">เปรียบเทียบการเข้าใช้งาน</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">เปรียบเทียบการเข้าใช้งาน</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <div class="d-flex">

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid note-has-grid" id="ajex_access_compare">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <div class="row">
                    <div class="col-md-8 justify-content-start align-self-center d-none d-md-flex">
                        <h4 class="card-title mb-0">เปรียบเทียบการเข้าใช้งาน</h4>
                    </div>
                    <div class="col-md-4 justify-content-end align-self-center d-none d-md-flex space">
                        <div class="not_allowed">
                            <a class="btn btn-info" id="accesscsv">CSV</a>
                            <a class="btn btn-success" id="accessexcel">Excel</a>
                            <a class="btn btn-warning" id="accesspdf"> PDF</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row pb-2 justify-content-end">

                    <div class="col-md-4 justify-content-start align-self-center d-none d-md-flex">

                    </div>
                    <div class="col-md-12">
                        <div class="d-flex">
                            <div class="col-4" style="margin-left: 0.5%;">
                                <select name="users" id="select2-with-tags" multiple="" class="form-control users"
                                    onchange="selectCheck()" placeholder="เลือกผู้ใช้งาน"
                                    style="background-color: white;width: 100%;" required>
                                    <% if(account_list) { %>
                                        <option value="sum" selected>ผู้ใช้งานทั้งหมด</option>
                                        <% for(var i=0; i<account_list.length; i++){ %>
                                            <option value="<%= account_list[i].name %>">
                                                <%= account_list[i].name %>
                                            </option>
                                            <%}%>
                                                <%}%>
                                </select><input id="mySelectCheck" type="hidden" value="sum">
                            </div>
                            <div class="input-group" style="margin-right: 5%;">
                                <input class="form-control" type="date" name="date1" id="date1"
                                    value="<%= date[0].new %>" required>
                                <span class="input-group-text" id="basic-addon1">ถึง</span>
                                <input class="form-control" type="date" name="date2" id="date2"
                                    value="<%= date[0].new %>" required>

                                <select name="type" id="type" class="form-control" style="background-color: white;">
                                    <% if(typegroup) { %>
                                        <option value="">ประเภททั้งหมด</option>
                                        <% for(var i=0; i<typegroup.length; i++){ %>
                                            <option value="<%= typegroup[i].type %>">
                                                <%= typegroup[i].type %>
                                            </option>
                                            <%}%>
                                                <%}%>
                                </select>
                                <input type="text" class="form-control" placeholder="ค้นหา.." id="search" name="search"
                                    aria-label="" aria-describedby="button-addon2">
                                <button type="button" class="btn btn-outline-warning" id="button-search"> Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="min-height: 470px; margin-left: 0.5%; margin-right: 1%;overflow-y: scroll;">



                    <div class="col-lg-12 datagrap" id="">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <div>
                                                <h4 class="card-title ">จำนวนการใช้งานของผู้ใช้
                                                </h4>
                                            </div>
                                            <div class="ms-auto ">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item" id="account">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 revenue">
                                        <div id="revenue-statistics-3" style="height: 350px;">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="myTable"
                        class="tablesaw no-wrap table-striped table-bordered table-hover table tabledata"
                        data-tablesaw-mode="stack" data-tablesaw-sortable>
                        <thead>
                            <tr>
                                <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                    data-tablesaw-priority="3" class="border text-center" style="width: 5%;">ลำดับ</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2"
                                    class="border text-center">วันที่ เวลา</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3"
                                    class="border text-center">ชื่อผู้ใช้งาน</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1"
                                    class="border text-center">ประเภท</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3"
                                    class="border text-center">ข้อความ</th>

                            </tr>
                        </thead>
                        <tbody id="table-body">

                        </tbody>
                    </table>
                    <div class="row tabledata">
                        <div class="col-md-6 text-secondary">
                            <span>แสดงผล <span id="start"></span> ถึง <span id="end"></span> ทั้งหมด <span
                                    id="total-db"></span> รายการ</span>
                        </div>
                        <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                            <nav aria-label="Page navigation example" class="mt-2">
                                <ul class="pagination" id="pagination-wapper">
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End PAge Content -->
    <!-- -------------------------------------------------------------- -->
    <!--start overlay-->
    <%- include('../_footer') -%>
        <script src="/UI/other/dist/js/page/page_log.js"></script>
        <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
        <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
        <script src="/UI/dist/js/pages/forms/select2/select2.init.js"></script>
        <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
        <script src="/UI/other/dist/js/views_js/report_js/js_report_accesshistory.js"></script>
        <script>
            var data_values = 0;
            if (accessFileData == data_values) {
                var accessFileData = null
            }
            function selectCheck() {
                var text = $('#select2-with-tags').val().toString();
                if (text != '') {
                    if ($('#mySelectCheck').val() == 'sum') {
                        var arr = text.split(',');
                        if (arr.length > 1) {
                            var value_adjust = '';
                            for (var i = 1; i < arr.length; i++) {
                                if (i == 1) {
                                    value_adjust += arr[i];
                                }
                            }
                            $('#select2-with-tags').val([value_adjust]);
                            $('#select2-with-tags').trigger('change');
                        }
                    } else {
                        var arr = text.split(',');
                        if (arr[0] == 'sum' && text != 'sum') { //All Mode
                            $('#select2-with-tags').val(['sum']);
                            $('#select2-with-tags').trigger('change');
                        }
                    }
                }
                $('#mySelectCheck').val($('#select2-with-tags').val());
            }

            function data_graph(data) {
                $('#revenue-statistics-3').empty()
                var data_time = data.datatime;
                var data_value = data.datavalue;
                var data_acc = data.account;
                x = []
                for (let index = 0; index < data_acc.length; index++) {
                    x.push({ name: `จำนวนการใช้งาน ${data_acc[index].name}`, data: data_value[index], })
                }
                console.log(x);
               var letters = '0123456789ABCDEF';
                var color = '#';
                var box = []
                for (var i = 0; i < data_acc.length; i++) {
                    randomColor = Math.floor(Math.random()*16777215).toString(16);
                    box.push("#"+randomColor)
                }
               
                $('#account').empty()
                for (var a = 0; a < data_acc.length; a++) {
                    var p = `<h6 class="text-muted"><i class="fa fa-circle me-1" style="color:${box[a]};" ></i>${data_acc[a].name}</h6>`
                    $('#account').append(p);
                }
                var Revenue_Statistics = {
                    series: x,
                    chart: {
                        fontFamily: 'Rubik,sans-serif',
                        height: 500,
                        type: "area",
                        toolbar: {
                            show: false,
                        },
                    },
                    fill: {
                        type: 'solid',
                        opacity: 0.2,
                        colors: box,
                    },
                    grid: {
                        show: true,
                        borderColor: "rgba(0,0,0,0.1)",
                        strokeDashArray: 3,
                        xaxis: {
                            lines: {
                                show: true
                            }
                        },
                    },
                    colors: box,
                    dataLabels: {
                        enabled: false,
                    },
                    stroke: {
                        curve: "smooth",
                        width: 1,
                        colors: box,
                    },
                    markers: {
                        size: 3,
                        colors: box,
                        strokeColors: "transparent",
                    },
                    xaxis: {
                        axisBorder: {
                            show: true,
                        },
                        axisTicks: {
                            show: true,
                        },
                        categories: data_time,

                        labels: {
                            style: {
                                colors: "#a1aab2",
                            },
                        },
                    },
                    yaxis: {
                        tickAmount: 5,
                        labels: {
                            style: {
                                colors: "#a1aab2",
                            },
                        },
                    },
                    tooltip: {
                        x: {
                            format: "dd/MM/yy HH:mm",
                        },
                        theme: "dark",
                    },
                    legend: {
                        show: false,
                    },
                };
                var chart_area_spline = new ApexCharts(document.querySelector(`#revenue-statistics-3`), Revenue_Statistics);
                chart_area_spline.render();

            }
        </script>