<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ไฟล์ Log</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">Log</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ไฟล์ Log</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <div>
                    <div class="dropdown me-2">
                        <%if(data.length>0){%>
                            <form action="/<%=process.env.SUBFOLDER%>file/search" method="post">
                                <div class="input-group mb-3">
                                    <input class="form-control" type="datetime-local" name="date1" required>
                                    <span class="input-group-text" id="basic-addon1">ถึง</span>
                                    <input class="form-control" type="datetime-local" name="date2" required>
                                    <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>

                                </div>
                            </form>
                            <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="row">
                    
                        <div class="card-body">
                            <div class="border-bottom title-part-padding">
                                <h4 class="card-title mb-0">ไฟล์ Log</h4>
                            </div>
                            <div class="card-body">
                                <div class="row pb-3">
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                </div>
                                <table class="tablesaw no-wrap table-striped table-bordered table-hover table" id="myTable">
                                    <thead>
                                        <tr>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3" class="border">ลำดับ</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist" class="border">อุปกรณ์</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2" class="border">วันที่ เวลา</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1" class="border">ชื่อไฟล์</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4" class="border">แฮช</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2" class="border">ดาวน์โหลด</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (data){ for (var i = 0; i < data.length; i++) { %>
                                            <tr>
                                                <td class="title align-top">
                                                    <%= (i+1) %>
                                                </td>
                                                <td class="align-top">
                                                    <%=data[i].name.split(",")[0]%>
                                                </td>
                                                <td class="align-top">
                                                    <%=data[i].date%>

                                                </td>
                                                <td class="text-wrap text-break align-top">
                                                    <%=data[i].name%>
                                                </td>
                                                <td class="align-top">
                                                    <%=data[i].hash%>
                                                </td>
                                                <td class="align-top">
                                                    <a href="/<%=process.env.SUBFOLDER%>log/download/<%=data[i].file_id %>">ดาวน์โหลด</a>
                                                </td>
                                            </tr>
                                            <%  }} %>
                                                <% if (data.length == 0){%>
                                                    <tr>
                                                        <td class="title align-top" style="text-align: center; color: rgb(228, 20, 20);" colspan="6">
                                                            ไม่พบข้อมูล
                                                        </td>
                                                    </tr>
                                                    <%}%>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->


    <!-- -------------------------------------------------------------- -->
    <!-- End PAge Content -->
    <!-- -------------------------------------------------------------- -->
    <!--start overlay-->
    <%- include('../_footer') -%>
        <script>
        </script>
        <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js "></script>
        <script src="/UI/dist/js/pages/datatable/custom-datatable.js "></script>
        <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js "></script>
        <script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js "></script>

        <script src="/UI/assets/libs/chartist/dist/chartist.min.js "></script>
        <script src="/UI/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js "></script>
        <script src="/UI/assets/libs/flot/jquery.flot.js "></script>

        <script src="/UI/dist/js/pages/widget/widget-charts.js "></script>

        <script src="/UI/dist/js/app.min.js "></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
        <script>
            var datadownload = <%-JSON.stringify(datadownload)%>;
            console.log(datadownload);
            if (datadownload == '1') {
                alert("ไม่สามารถดาวน์โหลดไฟล์ได้");
            }
        </script>