<%- include('_header') -%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">แดชบอร์ด</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">แดชบอร์ด</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <div class="d-flex">
                    <div class="dropdown me-2">

                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <% if (data4 != undefined){ %>
                                    <%=data4[0]%>
                                        <%}else{%>
                                            <%=data5%>
                                            <%}%>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% if (data6){ for (var i=0; i < data6.length; i++) { %>
                                <% if (data6[i] == data5){ %>
                                    <li><a class="dropdown-item active" href="/<%=process.env.SUBFOLDER%>indexcheck/<%=data6[i]%>">
                                        <%=data6[i]%>
                                    </a></li>
                                <% }else{ %>
                                <li><a class="dropdown-item" href="/<%=process.env.SUBFOLDER%>indexcheck/<%=data6[i]%>">
                                        <%=data6[i]%>
                                    </a></li>
                                <%}}}%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- -------------------------------------------------------------- -->
    <!-- Container fluid  -->
    <!-- -------------------------------------------------------------- -->
    <div class="container-fluid">
        <!-- Row -->
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start">
                            <div class="bg-light-warning text-warning d-inline-block px-4 py-3 rounded">
                                <i data-feather="cpu" class="feather-icon"></i>
                            </div>
                            <div class="ms-auto">

                            </div>
                        </div>
                        <div class="mt-2">
                            <h4 class="card-title">CPU Usage</h4>
                            <div class="progress mt-4">
                                <div class="progress-bar bg-warning" id="cpuusedper" style="width:0%; height:6px;"
                                    role="progressbar"> </div>
                            </div>
                            <div class="d-flex align-items-center mt-2 font-weight-medium">

                                <span id="cpuused">0%</span>
                                <div class="ms-auto">
                                    <span>3.5 GHz</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start">
                            <div class="bg-light-info text-info d-inline-block px-4 py-3 rounded">
                                <i class="fas fa-microchip"></i>
                            </div>
                            <div class="ms-auto">
                            </div>
                        </div>
                        <div class="mt-2">
                            <h4 class="card-title">Memory Usage</h4>
                            <div class="progress mt-4">
                                <div class="progress-bar bg-info" id="memusedper" style="width:0%; height:6px;"
                                    role="progressbar"> <span class="sr-only">50% Usage</span> </div>
                            </div>
                            <div class="d-flex align-items-center mt-2 font-weight-medium">
                                <span id="memused">0%</span>
                                <div class="ms-auto">
                                    <span id="mem">0 GB</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start">
                            <div class="bg-light-primary text-primary d-inline-block px-4 py-3 rounded">
                                <i data-feather="hard-drive" class="feather-icon"></i>
                            </div>
                            <div class="ms-auto">
                            </div>
                        </div>
                        <div class="mt-2">
                            <h4 class="card-title">HDD</h4>
                            <div class="progress mt-4">
                                <div class="progress-bar bg-primary" id="storageusedper" style="width: 0%; height:6px;"
                                    role="progressbar"> <span class="sr-only">10% Usage</span> </div>
                            </div>

                            <div class="d-flex align-items-center mt-2 font-weight-medium">
                                <span id="storageall">0 GB (0%)</span>
                                <div class="ms-auto">
                                    <span id="storage">0 GB</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start">
                            <div class="bg-light-success text-success d-inline-block px-4 py-3 rounded">
                                <i data-feather="arrow-up" class="feather-icon"></i>
                            </div>
                            <div class="ms-auto">
                            </div>

                            <div class="bg-light-danger text-danger d-inline-block px-4 py-3 rounded">
                                <i data-feather="arrow-down" class="feather-icon"></i>
                            </div>

                        </div>
                        <div class="mt-2">
                            <h4 class="card-title">Traffic</h4>
                            <div class="progress mt-4">
                                <!-- <div class="progress-bar bg-primary" id="storageusedper" style="width: 0%; height:6px;" role="progressbar"> <span class="sr-only">10% Usage</span> </div> -->
                            </div>

                            <div class="d-flex align-items-center mt-2 font-weight-medium">
                                <span id="txkB">0 kB/s</span>
                                <div class="ms-auto">
                                    <span id="rxkB">0 kB/s</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card">
                    <div class="box p-2 rounded bg-info text-center">
                        <h2 class="fw-light text-white">
                            <% if (session.acc_admin){%>
                                <%=session.acc_admin%>
                                    <%} else{%>
                                        0
                                        <%}%>
                        </h2>
                        <h6 class="text-white">ผู้ดูแลระบบ</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card">
                    <div class="box p-2 rounded bg-primary text-center">
                        <h2 class="fw-light text-white">
                            <% if (session.acc_user){%>
                                <%=session.acc_user%>
                                    <%}else{%>
                                        0
                                        <%}%>
                        </h2>
                        <h6 class="text-white">ผู้ดูแลข้อมูล</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card">
                    <div class="box p-2 rounded bg-success text-center">
                        <h2 class="fw-light text-white">
                            <% if (data){%>
                                <% if (data.length> 0){%>
                                    <%=data2.length%>
                                        <%}}%>
                        </h2>
                        <h6 class="text-white">อุปกรณ์ต้นทาง</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card">
                    <div class="box p-2 rounded bg-warning text-center">
                        <h2 class="fw-light text-white">
                            <% if (session.set_system){%>
                                <%=session.set_system[0].day_keep%> วัน
                                    <%}%>
                        </h2>
                        <h6 class="text-white">ระยะเวลาจัดเก็บข้อมูล</h6>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="d-flex flex-wrap">
                                                    <div>
                                                        <h3>ปริมาณการส่งข้อมูล</h3>
                                                        <h6 class="card-subtitle">
                                                            <% if (data4 != undefined){ %>
                                                                <%=data4[0]%>
                                                                    <%}else{%>
                                                                        <%=data5%>
                                                                        <%}%>
                                                        </h6>
                                                    </div>
                                                    <div class="ms-auto ">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item" id="account">
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div id="revenue-statistics-3" style="height: 350px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!---wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww-->
    </div>
    <%- include('_footer') -%>
        <!-- <script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js "></script>
    <script src="/UI/assets/libs/chartist/dist/chartist.min.js "></script>
    <script src="/UI/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js "></script>
    <script src="/UI/assets/libs/flot/jquery.flot.js "></script>
    <script src="/UI/dist/js/pages/widget/widget-charts.js "></script> -->
        <!-- <script src="/UI/dist/js/app.min.js "></script> -->
        <script>
            $(function () {
            
            function graph() {
                var data_time =  <%-JSON.stringify(date_values) %>;
                var number_log =  <%-JSON.stringify(datavalue) %>;
                var device =  <%-JSON.stringify(data2) %>;
                console.log('device:',device);
                console.log(device == '');
                if (device == '') {
                    device = [{name :"Sense-Switch1"}]
                }else{

                }
                console.log(device);
                console.log(device.length);
                x = []
                for (let index = 0; index < device.length; index++) {
                    x.push({ name: `จำนวนการใช้งาน ${device[index].name}`, data: number_log[index], })
                }
                var letters = '0123456789ABCDEF';
                var color = '#';
                var box = []
                for (var i = 0; i < device.length; i++) {
                    randomColor = Math.floor(Math.random() * 16777215).toString(16);
                    box.push("#" + randomColor)
                }
                $('#account').empty()
                for (var a = 0; a < device.length; a++) {
                    var p = `<h6 class="text-muted"><i class="fa fa-circle me-1" style="color:${box[a]};" ></i>${device[a].name}</h6>`
                    $('#account').append(p);
                }
                var Revenue_Statistics = {
                    series: x,
                    chart: {
                        fontFamily: 'Rubik,sans-serif',
                        height: 500,
                        type: "area",
                        toolbar: {
                            show: false,
                        },
                    },
                    fill: {
                        type: 'solid',
                        opacity: 0.2,
                        colors: box,
                    },
                    grid: {
                        show: true,
                        borderColor: "rgba(0,0,0,0.1)",
                        strokeDashArray: 3,
                        xaxis: {
                            lines: {
                                show: true
                            }
                        },
                    },
                    colors: box,
                    dataLabels: {
                        enabled: false,
                    },
                    stroke: {
                        curve: "smooth",
                        width: 1,
                        colors: box,
                    },
                    markers: {
                        size: 3,
                        colors: box,
                        strokeColors: "transparent",
                    },
                    xaxis: {
                        axisBorder: {
                            show: true,
                        },
                        axisTicks: {
                            show: true,
                        },
                        categories: data_time,

                        labels: {
                            style: {
                                colors: "#a1aab2",
                            },
                        },
                    },
                    yaxis: {
                        tickAmount: 5,
                        labels: {
                            style: {
                                colors: "#a1aab2",
                            },
                        },
                    },
                    tooltip: {
                        x: {
                            format: "dd/MM/yy HH:mm",
                        },
                        theme: "dark",
                    },
                    legend: {
                        show: false,
                    },
                };
                var chart_area_spline = new ApexCharts(document.querySelector(`#revenue-statistics-3`), Revenue_Statistics);
                chart_area_spline.render();
            }
          
            setTimeout(graph, 3000);
            Sub = document.getElementById('SubDomain').value;
                var getData = function () {
                    $.ajax({
                        url: `/${Sub}getperformance`,
                        type: "get",
                        success: function (data) {
                            var performance = data.data[0]
                            var traffic = data.data2[0]

                            $('#cpuusedper').css('width', parseInt(performance.cpuused) + '%')
                            $('#memusedper').css('width', parseInt(performance.memused) + '%')
                            $('#storageusedper').css('width', parseInt(performance.storageper))

                            $('#cpuused').text(performance.cpuused + '%')
                            $('#memused').text(parseFloat(performance.memused).toFixed(2) + '%')
                            $('#mem').text(parseFloat(performance.mem).toFixed(2) + 'GB')
                            $('#storageall').text(performance.storageused + '(' + performance.storageper + ')')
                            $('#storage').text(performance.storage)
                            $('#rxkB').text(traffic.rxkB + 'kB/s')
                            $('#txkB').text(traffic.txkB + 'kB/s')
                        }
                    });
                };
                setInterval(getData, 3000);
            });
        </script>