<%-include ("../../_header")%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">รายงานตามระยะเวลา</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">รายงานตามระยะเวลา</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid note-has-grid">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <div class="row">
                    <div class="col-md-8 justify-content-start align-self-center d-none d-md-flex">
                        <h4 class="card-title mb-0">รายงานตามระยะเวลา</h4>
                    </div>
                    <div class="col-md-4 justify-content-end align-self-center d-none d-md-flex space">
                        <div class="not_allowed">
                            <a class="btn btn-info" id="csv">CSV</a>
                            <a class="btn btn-success" id="excel">Excel</a>
                            <a class="btn btn-warning" id="pdf"> PDF</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row pb-2 justify-content-end">
                    <div class="col-md-8 justify-content-start align-self-center d-none d-md-flex">
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-2 ">
                            <a class="btn btn-outline-warning" id="reface"><i data-feather="refresh-cw"></i></a>
                            <select class="form-control" name="search_list" id="search_list" style="background-color: white;">
                                <option value="0" selected>กรุณาเลือก</option>
                                <option value="1">ข้อมูลส่วนบุคคลทั้งหมด</option>
                                <option value="2">ข้อมูลส่วนบุคคลที่ยังไม่หมดอายุ</option>
                                <option value="3">ข้อมูลส่วนบุคคลที่หมดอายุแล้ว</option>
                                <option value="4">ข้อมูลส่วนบุคคลที่จะหมดอายุในเดือนนี้</option>
                            </select>
                            <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value="" id="Srearch" aria-describedby="button-addon2">
                            <button class="btn btn-outline-warning" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row pb-2 justify-content-end">
                    <div class="col-md-8 justify-content-start align-self-center d-none d-md-flex">
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div style="min-height: 400px;" class="table-responsive">
                    <div id="table_Data-cookie"> </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-6 text-secondary ">
                        <div class="row">
                            <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a id="show_all"></a>
                                รายการ</span>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/UI/other/dist/js/views_js/report_js/js_report_class_pat.js"></script>
    <script type="text/javascript" src="/UI/other/dist/js/xlsx.full.min.js"></script>
    
    <script src="/UI/dist/js/feather.min.js"></script>
    <script src="/UI/dist/js/custom.min.js"></script>
    <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/UI/dist/js/pages/forms/select2/select2.init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/2.10.0/pdf-lib.min.js"></script>

    <script>

    </script>
    
    <%-include ("../../_footer")%>