<%- include('../_header') -%>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-3 align-self-center">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                    </ol>
                </nav>
            </div>
        </div>


    </div>

</div>
    <div class="container-fluid">
        <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title">เปลี่ยนรหัสผ่าน
                </h4>
            </div>
            <form class="form-horizontal needs-validation" novalidate action="/<%=process.env.SUBFOLDER%>changepw" method="post">
                <div class="card-body"style="min-height: 450px;">
                    <!-- <input type="hidden" value="<%=data[0].acc_id%>" name="acc_id"> -->
                    <div class="mb-3 row">
                        <label for="num_admin" class="col-sm-3 text-end control-label col-form-label text-secondary">ชื่อผู้ใช้</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control border border-info" id="num_admin" placeholder="จำนวนคน" value="<%=data[0].username%>" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="num_user" class="col-sm-3 text-end control-label col-form-label text-secondary">ตั้งค่ารหัสผ่านใหม่</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control border border-info" id="num_user" placeholder="รหัสผ่าน" required name="password">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="ntp" class="col-sm-3 text-end control-label col-form-label text-secondary" for="sender">ยืนยันรหัสผ่าน</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control border border-info" id="ntp" placeholder="ยืนยันรหัสผ่าน" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="pw_keep" class="col-sm-3 text-end control-label col-form-label text-secondary">ระยะเวลาในการเปลี่ยนรหัสผ่าน</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control border border-info" id="pw_keep" placeholder="จำนวนวัน" required name="pw_keep">
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success rounded-pill px-4 waves-effect waves-light">ยืนยัน</button>
                        </div>
                        <div class="col-sm-4">
                            <a href="/<%=process.env.SUBFOLDER%>index2"> <button type="button" class="btn btn-secondary rounded-pill px-4 waves-effect waves-light">กลับ</button></a>
                        </div>
                    </div><br> -->
                    <center>
                        <button type="submit" class="btn btn-success">ยืนยัน</button>
                        <a href="/<%=process.env.SUBFOLDER%>index2"> <button type="button" class="btn btn-secondary">ยกเลิก</button></a>
                      </center>
                    <br>
            </form>
            </div>
        </div>
        <!-- Row -->

    </div>
</div>
</div>

    <!-- -------------------------------------------------------------- -->
    <!-- End PAge Content -->
    <!-- -------------------------------------------------------------- -->
    <!--start overlay-->
    <%- include('../_footer') -%>
       