<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-3 align-self-center">
                <h3 class="page-title">ส่งข้อมูลแบบ Syslog</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                            <!-- <li class="breadcrumb-item"><a href="#">การตั้งค่า</a></li> -->
                            <li class="breadcrumb-item active" aria-current="page">ส่งข้อมูลแบบ Syslog</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- <div class="col-md-2 align-self-center">
                <div class="card">
                    <div class="progress-bar bg-warning" id="cpuusedper" style="width:60%; height:30px;" role="progressbar">
                        <span class="sr-only">60%</span> </div>
                    <h2 style="align-items: center;">60%</h2>
                </div>
            </div> -->
            <div class="col-md-3 align-self-center">
                <div class="card">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title">รายละเอียดข้อมูล</h4>
                    </div>
                            <div class="card-body ">
                                <div class="row pb-3">
                                    <div
                                    class="col-md-4 justify-content-start align-self-center d-none d-md-flex space">
                                    <button class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#samedata2-modal" data-bs-whatever="@mdo" type="button"><i
                                            class="fas fa-upload"></i> สร้างการส่งออก</button>
                                </div>
                                </div>
                                <table class="tablesaw no-wrap table-striped table-bordered table-hover table "
                                    id="myTable">
                                    <thead>
                                        <tr>
                                            <th scope="col " data-tablesaw-sortable-col
                                                data-tablesaw-sortable-default-col data-tablesaw-priority="3 "
                                                class="border ">ลำดับ</th>
                                            <th scope="col " data-tablesaw-sortable-col
                                                data-tablesaw-priority="persist " class="border ">ชื่อข้อมูล</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="2 "
                                                class="border ">รายละเอียดข้อมูล</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="2 "
                                                class="border ">วันที่สร้าง</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="1 "
                                                class="border ">เงื่อนไข</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="4 "
                                                class="border ">อุปกรณ์ที่ได้รับ</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="4 "
                                                class="border ">พอร์ตที่ใช้</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="4 "
                                                class="border ">ลบข้อมูล</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (data){ for (var i=0; i < data.length; i++) { %>
                                            <tr>
                                                <td class="title align-top ">
                                                    <%= (i+1) %>
                                                </td>
                                                <td class="align-top ">
                                                    <%=data[i].name%>
                                                </td>
                                                <td class="align-top ">
                                                    <%=data[i].descrip%>
                                                </td>
                                                <td class="align-top ">
                                                    <%=data[i].date%>
                                                </td>

                                                <td class="align-top ">
                                                    <%=data[i].filters%>
                                                </td>
                                                <td class="align-top ">
                                                    <%=data[i].destination%>
                                                </td>
                                                <td class="align-top ">
                                                    <%=data[i].port%>
                                                </td>
                                                <td class="center" align="center">
                                                    <a data-bs-toggle="modal"
                                                    data-bs-target="#samedata4-modal<%=i%>" data-bs-whatever="@mdo" title="ดูข้อมูล"
                                                        class="text-danger">
                                                        <i class="fas fa-trash-alt fa-2x"></i>
                                                    </a>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }} %>
                                            <% if (data){%>
                                                <% if (data.length==0){%>
                                                    <tr>
                                                        <td class="title align-top "
                                                            style="text-align: center; color: rgb(228, 20, 20); "
                                                            colspan="8">
                                                            ไม่พบข้อมูล
                                                        </td>
                                                    </tr>
                                                    <%}}%>
                                    </tbody>
                                </table>
                            </div>
                </div>
            </div>
        </div>
        <!-- สร้างการเตือน -->
        <div class="modal fade" id="samedata2-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-header d-flex align-items-center">

                        <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;สร้างการส่งออกข้อมูลแบบมีเงื่อนไข
                        </h4><button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <form action="/<%=process.env.SUBFOLDER%>createdataout" method="post">
                            <input type="hidden" value="0" name="status_conf">
                            <input type="hidden" value="0" name="status">
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="sender">ชื่อข้อมูล</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info"
                                        placeholder="ภาษาอังกฤษ ห้ามมี *?/_" name="name" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">รายละเอียดข้อมูล</label>
                                <div class="col-sm-6">
                                    <textarea type="text" row="4" class="form-control border border-info" id="spec"
                                        name="descrip"></textarea>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="sender">เงื่อนไข</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info"
                                        placeholder="ชื่อโฮส ชนิดของเหตุการณ์ หรือ คีย์เวิร์ด" name="filters" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="sender">ปลายทางที่ต้องการจัดส่ง</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control border border-info" placeholder="ไอพีแอดแดรส"
                                        name="destination" required>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control border border-info" placeholder="พอร์ต"
                                        name="port" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">วันที่สร้าง</label>
                                <div class="col-sm-6">
                                    <input type="datetime-local" class="form-control border border-info "
                                        name="create_date">
                                </div>
                            </div>
                            <br>
                            <hr>
                            <div class="mb-3 row">
                                <label for="cono1"
                                    class="col-sm-3 text-end control-label col-form-label text-secondary">การแจ้งเตือน</label>
                                <div class="col-sm-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input primary check-outline outline-primary"
                                            type="radio" name="type_alert" id="type_alert" value='0' required>
                                        <label class="form-check-label">ส่งผ่านอีเมล</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="cono1"
                                    class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input primary check-outline outline-primary"
                                            onclick="S" type="radio" name="type_alert" id="type_alert2" value='1'
                                            required>
                                        <label class="form-check-label">ส่งผ่าน SMS</label>
                                    </div>
                                </div>
                                <div class="col-sm-3" id="phone">
                                    <div>
                                        <input type="text" class="form-control border border-info "
                                            placeholder="เบอร์โทรศัพมือถือ" name="phone">

                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="cono1"
                                    class="col-sm-3 text-end control-label col-form-label text-secondary">แจ้งเตือนเมื่อ</label>
                                <div class="col-sm-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input success check-outline outline-success"
                                            type="radio" name="alert_status" id="alert_status" value='1' required>
                                        <label class="form-check-label">เรียบร้อย</label>
                                    </div>

                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input warning check-outline outline-warning"
                                            type="radio" name="alert_status" id="alert_status" value='0' required>
                                        <label class="form-check-label">เกิดข้อผิดพลาด</label>
                                    </div>

                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-1">
                                    <button type="submit"
                                        class="btn btn-success btn waves-effect waves-light">ยืนยัน</button>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-secondary waves-effect waves-light"
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- ดูการเตือน -->
        <% if (data){ for (var i=0; i < data.length; i++) { %>
            <div class="modal fade" id="samedata3-modal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                        <div class="modal-header d-flex align-items-center">

                            <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;การส่งออกข้อมูลแบบมีเงื่อนไข
                            </h4><button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>

                        </div>
                        <div class="modal-body">
                            <form action="/<%=process.env.SUBFOLDER%>deldataout" method="post">
                                <input type="hidden" value="0" name="status_conf">
                                <input type="hidden" value="<%=data[i].out_id%>" name="out_id">

                                <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="sender">ชื่อข้อมูล</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control border border-info"
                                            placeholder="ภาษาอังกฤษ ห้ามมี *?/_" name="name" value="<%=data[i].name%>"
                                            required>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="spec">รายละเอียดข้อมูล</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" row="4" class="form-control border border-info" id="spec"
                                            value="<%=data[i].descrip%>" name="descrip"></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="sender">เงื่อนไข</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control border border-info"
                                            placeholder="ชื่อโฮส ชนิดของเหตุการณ์ หรือ คีย์เวิร์ด"
                                            value="<%=data[i].filters%>" name="filters">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="sender">ปลายทางที่ต้องการจัดส่ง</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control border border-info"
                                            placeholder="ไอพีแอดแดรส" value="<%=data[i].destination%>"
                                            name="destination" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control border border-info" placeholder="พอร์ต"
                                            value="<%=data[i].port%>" name="port" required>
                                    </div>
                                </div>

                                <br>
                                <hr>
                                <div class="mb-3 row">
                                    <label for="cono1"
                                        class="col-sm-3 text-end control-label col-form-label text-secondary">การแจ้งเตือน</label>
                                    <div class="col-sm-3">
                                        <div class="form-check form-check-inline">
                                            <%if(data[i].type_alert==0){%>
                                                <input class="form-check-input primary check-outline outline-primary"
                                                    type="radio" name="type_alert" id="type_alert" value='0' checked>
                                                <%}else{%>
                                                    <input
                                                        class="form-check-input primary check-outline outline-primary"
                                                        type="radio" name="type_alert" id="type_alert" value='0'
                                                        disabled>

                                                    <%}%>
                                                        <label class="form-check-label">ส่งผ่านอีเมล</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <%if(data[i].type_alert==1){%>
                                        <label for="cono1"
                                            class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                        <div class="col-sm-2">

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input primary check-outline outline-primary"
                                                    type="radio" name="type_alert" id="type_alert2" value='1' checked>
                                                <label class="form-check-label">ส่งผ่าน SMS</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" id="phone">
                                            <div>
                                                <input type="text" class="form-control border border-info "
                                                    placeholder="เบอร์โทรศัพมือถือ" value="<%=data[i].phone%>"
                                                    name="phone">

                                            </div>
                                        </div>
                                        <%}else{%>
                                            <label for="cono1"
                                                class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                            <div class="col-sm-2">

                                                <div class="form-check form-check-inline">
                                                    <input
                                                        class="form-check-input primary check-outline outline-primary"
                                                        type="radio" name="type_alert" id="type_alert2" value='1'
                                                        disabled>
                                                    <label class="form-check-label">ส่งผ่าน SMS</label>
                                                </div>
                                            </div>

                                            <%}%>
                                </div>
                                <div class="mb-3 row">
                                    <label for="cono1"
                                        class="col-sm-3 text-end control-label col-form-label text-secondary">แจ้งเตือนเมื่อ</label>
                                    <div class="col-sm-3">
                                        <div class="form-check form-check-inline">
                                            <%if(data[i].type_alert==1){%>
                                                <input class="form-check-input success check-outline outline-success"
                                                    type="radio" name="alert_status" id="alert_status" value='1'
                                                    checked>
                                                <%}else{%>
                                                    <input
                                                        class="form-check-input success check-outline outline-success"
                                                        type="radio" name="alert_status" id="alert_status" value='1'
                                                        disabled>
                                                    <%}%>
                                                        <label class="form-check-label">เรียบร้อย</label>
                                        </div>

                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-check form-check-inline">
                                            <%if(data[i].type_alert==0){%>
                                                <input class="form-check-input warning check-outline outline-warning"
                                                    type="radio" name="alert_status" id="alert_status" value='0'
                                                    checked>
                                                <%}else{%>
                                                    <input
                                                        class="form-check-input warning check-outline outline-warning"
                                                        type="radio" name="alert_status" id="alert_status" value='0'
                                                        disabled>
                                                    <%}%>
                                                        <label class="form-check-label">เกิดข้อผิดพลาด</label>
                                        </div>

                                    </div>
                                </div>

                                <hr>
                                <center>
                                    <button type="submit"
                                            class="btn btn-danger btn waves-effect waves-light">ยืนยัน</button>
                                    <button type="button" class="btn btn-secondary waves-effect waves-light"
                                    data-bs-dismiss="modal">ยกเลิก</button>
                                </center>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% }} %>
                <!-- ลบการเตือน -->
                <% if (data){ for (var i=0; i < data.length; i++) { %>
                    <div class="modal fade" id="samedata4-modal<%=i%>" tabindex="-1"
                        aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">

                                <div class="modal-header d-flex align-items-center">

                                    <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;ลบการนำเข้าข้อมูล
                                    </h4><button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>

                                </div>
                                <div class="modal-body">
                                    <form action="/<%=process.env.SUBFOLDER%>deldataout" method="post">
                                        <input type="hidden" value="0" name="status_conf">
                                        <input type="hidden" value="<%=data[i].out_id%>" name="out_id">
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                                for="sender">ชื่อข้อมูล</label>
                                            <div class="col-sm-6">
                                                <label class="control-label col-form-label ">
                                                    <%=data[i].name%>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                                for="spec">รายละเอียดข้อมูล</label>
                                            <div class="col-sm-6">
                                                <label class="control-label col-form-label ">
                                                    <%=data[i].descrip%>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                                for="spec">วันที่สร้าง</label>
                                            <div class="col-sm-6">
                                                <label class="control-label col-form-label ">
                                                    <%=data[i].create_date%>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                                for="spec">ที่จัดเก็บ</label>
                                            <div class="col-sm-6">
                                                <label class="control-label col-form-label ">
                                                    <%=data[i].path%>
                                                </label>
                                            </div>
                                        </div>
                                        <%if(data[i].type_import=="agent" ){%>
                                            <div class="mb-3 row">
                                                <label for="cono1"
                                                    class="col-sm-3 text-end control-label col-form-label text-secondary">นำส่งโดย</label>
                                                <div class="col-sm-3">
                                                    <div class="form-check form-check-inline">
                                                        <input
                                                            class="form-check-input success check-outline outline-success"
                                                            type="radio" name="type_import" id="type_import"
                                                            value='agent' checked disabled>
                                                        <label class="form-check-label">Agent</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="cono1"
                                                    class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                                <div class="col-sm-3">
                                                    <div class="form-check form-check-inline">
                                                        <input
                                                            class="form-check-input warning check-outline outline-warning"
                                                            type="radio" name="type_import" id="type_import" value='ftp'
                                                            disabled>
                                                        <label class="form-check-label">FTP Upload</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}else{%>
                                                <div class="mb-3 row">
                                                    <label for="cono1"
                                                        class="col-sm-3 text-end control-label col-form-label text-secondary">นำส่งโดย</label>
                                                    <div class="col-sm-3">
                                                        <div class="form-check form-check-inline">
                                                            <input
                                                                class="form-check-input success check-outline outline-success"
                                                                type="radio" name="type_import" id="type_import"
                                                                value='agent' disabled>
                                                            <label class="form-check-label">Agent</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="cono1"
                                                        class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                                    <div class="col-sm-3">
                                                        <div class="form-check form-check-inline">
                                                            <input
                                                                class="form-check-input warning check-outline outline-warning"
                                                                type="radio" name="type_import" id="type_import"
                                                                value='ftp' checked disabled>
                                                            <label class="form-check-label">FTP Upload</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <!-- <div class="mb-3 row">
                                        <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">IP Address</label>
                                        <div class="col-sm-6">
                                            <label class="control-label col-form-label "><%=data[i].name%></label>
                                            <input type="text" class="form-control border border-info " name="ip" value="<%=data[i].name%>">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">Username</label>
                                        <div class="col-sm-6">
                                            <label class="control-label col-form-label "><%=data[i].name%></label>
                                            <input type="text" class="form-control border border-info " value="<%=data[i].name%>">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">Password</label>
                                        <div class="col-sm-6">
                                            <label class="control-label col-form-label "><%=data[i].name%></label>
                                            <input type="password" class="form-control border border-info " value="xxxxxxx">
                                        </div>
                                    </div> -->
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button type="submit" 
                                                                class="btn btn-danger btn waves-effect waves-light">ยืนยัน</button>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button type="button"
                                                                class="btn btn-secondary waves-effect waves-light"
                                                                data-bs-dismiss="modal">ยกเลิก</button>
                                                        </div>
                                                        <div class="col-sm-5">
                                                        </div>
                                                    </div>
                                                    <br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }} %>
                        <!-- google -->
                        <% if (data){ for (var i=0; i < data.length; i++) { %>
                            <div class="modal fade" id="tests<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex align-items-center"></div>
                                        <div class="modal-body">
                                            <div class="mb-3 row">
                                                <h4 class="text-center">OTP by Google Authenticator

                                                </h4><br>
                                                <hr><br>
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control border border-info"
                                                        placeholder="รหัสจาก Google Authenticator" id="authen">
                                                </div>
                                            </div>
                                            <br>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button" onclick="check2('<%=data[i].ftp_id %>')"
                                                        class="btn btn-success btn waves-effect waves-light">ยืนยัน</button>
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button"
                                                        class="btn btn-secondary waves-effect waves-light"
                                                        data-bs-dismiss="modal">ยกเลิก</button>
                                                </div>
                                                <div class="col-sm-5">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    <% }} %>

        <!-- -------------------------------------------------------------- -->
        <!-- End PAge Content -->
        <!-- -------------------------------------------------------------- -->
        <!--start overlay-->
        <%- include('../_footer') -%>
            <script>
                $(".mossparkline").sparkline([2, 4, 4, 6, 8, 5, 6, 4, 8, 6, 6, 2], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#39c449',
                    fillColor: '#39c449',
                    maxSpotColor: '#39c449',
                    highlightLineColor: 'rgba(0, 0, 0, 0.2)',
                    highlightSpotColor: '#39c449'
                });
            </script>
            <script>
                $(document).ready(function () {

                    // if (document.getElementById('type_alert2').checked) {
                    //     document.getElementById('phone').style.display = 'display'
                    //     console.log("asasdasdasd");
                    // } else {
                    //     document.getElementById('phone').style.display = 'none'
                    //     console.log("xxxxxxxxx");

                    // }
                    // var i = 10;
                    // var timeId;

                    // function countdown() {
                    //     timeId = setInterval("HideDivAfterSpecifiedTime()", 1000);
                    // }

                    // function HideDivAfterSpecifiedTime() {
                    //     if (i == 0) {
                    //         ShowAndHideDiv('type_alert2', 'hide');
                    //         clearInterval(timeId);
                    //     }
                    //     document.getElementById("phone").innerHTML = i;
                    //     i--;
                    // }
                    // countdown();
                });
            </script>
            <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js "></script>
            <script src="/UI/dist/js/pages/datatable/custom-datatable.js "></script>
            <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js "></script>
            <script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js "></script>
            <!-- <script src="/UI/assets/libs/chartist/dist/chartist.min.js "></script>
                                    <script src="/UI/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js "></script> -->
            <script src="/UI/assets/libs/flot/jquery.flot.js "></script>
            <script src="/UI/dist/js/pages/widget/widget-charts.js "></script>
            <script src="/UI/dist/js/app.min.js "></script>
            <script src="/UI/assets/libs/raphael/raphael.min.js"></script>
            <script src="/UI/assets/libs/morris.js/morris.min.js"></script>
            <script src="/UI/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
            <script src="/UI/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
            <script src="/UI/dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>
            <script>
                var userid = <% -JSON.stringify(session.userid) %>;
                function check(id) {
                    var result = []
                    // console.log(id);
                    result.value = document.getElementById("authen").value;
                    if (result.value) {
                        var request2 = function () {
                            result["userid"] = userid;
                            // console.log(result);
                            $.ajax({
                                url: "http://127.0.0.1:8081/ajaxcheckuser",
                                type: "post",
                                data: {
                                    value: result.value,
                                    userid: userid
                                },
                                success: function (data) {
                                    var result = data.data;
                                    if (result.length == 0) {
                                        alert("ใส่รหัสผ่านผิด")
                                        setInterval('location.reload()', 200);
                                    } else {
                                        $.ajax({
                                            url: "http://127.0.0.1:8081/device/confirmdelete/" + id,
                                            type: "post",
                                            // success: function(data2) {
                                            //     console.log(data2);
                                            //     // if (data2) {
                                            //     alert("ลบอุปกรณ์ต้นทางเรียบร้อย");
                                            //     setInterval('location.reload()', 200);
                                            //     // } else {
                                            //     //     alert("ข้อมูลผิดพลาด")
                                            //     //     setInterval('location.reload()', 200);
                                            //     // }
                                            // }
                                        });
                                        alert("ลบอุปกรณ์ต้นทางเรียบร้อย");
                                        setInterval('location.reload()', 200);
                                    }

                                }
                            });
                        }
                        request2();
                    }
                };
            </script>
            <script>
                var line = new Morris.Line({
                    element: 'morris-line-chart33',
                    resize: true,
                    data: [{
                        y: '2011 Q1',
                        item1: 2666
                    }, {
                        y: '2011 Q2',
                        item1: 2778
                    }, {
                        y: '2011 Q3',
                        item1: 4912
                    }, {
                        y: '2011 Q4',
                        item1: 3767
                    }, {
                        y: '2012 Q1',
                        item1: 6810
                    }, {
                        y: '2012 Q2',
                        item1: 5670
                    }, {
                        y: '2012 Q3',
                        item1: 4820
                    }, {
                        y: '2012 Q4',
                        item1: 15073
                    }, {
                        y: '2013 Q1',
                        item1: 10687
                    }, {
                        y: '2013 Q2',
                        item1: 8432
                    }],
                    xkey: 'y',
                    ykeys: ['item1'],
                    labels: ['Item 1'],
                    gridLineColor: '#eef0f2',
                    lineColors: ['#009efb'],
                    lineWidth: 1,
                    hideHover: 'auto'
                });
            </script>
            <script>
                var userid = <% -JSON.stringify(session.userid) %>;
                function check2(id) {
                    var result = []
                    result.value = document.getElementById("authen").value;
                    if (result.value) {
                        var request2 = function () {
                            result["userid"] = userid;
                            // console.log(result);
                            $.ajax({
                                url: "http://127.0.0.1:8081/ajaxcheckuser",
                                type: "post",
                                data: {
                                    value: result.value,
                                    userid: userid
                                },
                                success: function (data) {
                                    var result = data.data;
                                    if (result.length == 0) {
                                        alert("ใส่รหัสผ่านผิด")
                                        setInterval('location.reload()', 200);
                                    } else {
                                        $.ajax({
                                            url: "http://127.0.0.1:8081/deleteftp/" + id,
                                            type: "post",
                                            // success: function(data2) {
                                            //     console.log(data2);
                                            //     // if (data2) {
                                            //     alert("ลบอุปกรณ์ต้นทางเรียบร้อย");
                                            //     setInterval('location.reload()', 200);
                                            //     // } else {
                                            //     //     alert("ข้อมูลผิดพลาด")
                                            //     //     setInterval('location.reload()', 200);
                                            //     // }
                                            // }
                                        });
                                        alert("ลบนำเข้าข้อมูลต่างๆด้วยFTPเรียบร้อย");
                                        setInterval('location.reload()', 200);
                                    }

                                }
                            });
                        }
                        request2();
                    }
                };
            </script>