<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-2 align-self-center">
                <h3 class="page-title">สรุปรายการโฮส</h3> 
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                            <!-- <li class="breadcrumb-item"><a href="#">การตั้งค่า</a></li> -->
                            <li class="breadcrumb-item active" aria-current="page">สรุปรายการโฮส</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>


    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="row">
                    <div class="col-lg-3 col-md-6 ">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">เลือกอุปกรณ์</h4>
                                <br>
                                <div class="message-box scrollable" style="height: 220px;">
                                    <div class="message-widget message-scroll">
                                        <!-- Message -->
                                        <% if (data2){ for (var i = 0; i < data2.length; i++) { %>
                                            <a href="/<%=process.env.SUBFOLDER%>log/check/<%=data[i].device_id%>" class="d-flex align-items-center border-bottom p-3">
                                                <div class="user-img position-relative d-inline-block mr-0 mr-md-3">
                                                    <img src="/UI/image/<%=data[i].image%>" alt="user" class="rounded w-100" style="height: 45px;">

                                                    <span class="profile-status rounded-circle online"></span>
                                                </div>
                                                <div class="w-85 d-md-flex align-items-center v-middle ps-3">
                                                    <div class="w-85">
                                                        <h5 class="mb-0 mt-1 font-weight-medium">
                                                            <%=data2[i].name%>
                                                        </h5>
                                                        <span class="fs-3 text-nowrap d-block text-truncate mail-desc text-muted fw-normal"><%=data2[i].de_ip%></span>
                                                    </div>
                                                    <span class="fs-2 text-nowrap ms-auto time fw-normal"><%=data2[i].num.toLocaleString('en')%> ไฟล์</span>

                                                </div>
                                            </a>
                                            <%  }} %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-6 ">
                        <div class="row">

                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-8"><span class="display-6">2976 <i class="ti-angle-down fs-3 text-danger"></i></span>
                                                <h6>ปริมาณข้อมูล Log</h6>
                                            </div>
                                            <div class="col-4 align-self-center text-end  ps-0">
                                                <div id="sparklinedash3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-8"><span class="display-6">3670 <i class="ti-angle-up fs-3 text-success"></i></span>
                                                <h6>พื้นที่ใช้ไปทั้งสิ้น</h6>
                                            </div>
                                            <div class="col-4 align-self-center text-end ps-0">
                                                <div id="sparklinedash"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-8"><span class="display-6">1562 <i class="ti-angle-up fs-3 text-success"></i></span>
                                                <h6>ปริมาณเหตุการณ์</h6>
                                            </div>
                                            <div class="col-4 align-self-center text-end ps-0">
                                                <div id="sparklinedash2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-8"><span class="display-6">35% <i class="ti-angle-down fs-3 text-danger"></i></span>
                                                <h6>ระยะเวลาที่จัดเก็บ</h6>
                                            </div>
                                            <div class="col-4 align-self-center text-end ps-0">
                                                <div id="sparklinedash4"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body analytics-info">
                                        <h4 class="card-title">Site Traffic</h4>
                                        <div class="d-flex align-items-center">
                                            <div class="border-end pe-3">
                                                <h6 class="text-muted fw-normal">Overall Growth</h6>
                                                <b>80.40%</b>
                                            </div>
                                            <div class="ms-3 border-end pe-3">
                                                <h6 class="text-muted fw-normal">Montly</h6>
                                                <b>15.40%</b>
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="text-muted fw-normal">Day</h6>
                                                <b>5.50%</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Total_Traffic"><canvas width="278" height="50" style="display: inline-block; width: 278.984px; height: 50px; vertical-align: top;"></canvas></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body analytics-info">
                                        <h4 class="card-title">Site Visit</h4>
                                        <div class="d-flex align-items-center">
                                            <div class="border-end pe-3">
                                                <h6 class="text-muted fw-normal">Overall Growth</h6>
                                                <b>80.40%</b>
                                            </div>
                                            <div class="ms-3 border-end pe-3">
                                                <h6 class="text-muted fw-normal">Montly</h6>
                                                <b>15.40%</b>
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="text-muted fw-normal">Day</h6>
                                                <b>5.50%</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Site_Visit"><canvas width="278" height="50" style="display: inline-block; width: 278.984px; height: 50px; vertical-align: top;"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body ">
                    <div class="row pb-3">
                        <div class="col-md-8">
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#samedata2-modal" data-bs-whatever="@mdo" type="button"><i class="fas fa-upload"></i> เปรียบเทียบ</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <div class="border-bottom title-part-padding ">
                                <h4 class="card-title mb-0 ">การตั้งค่าการเตือน</h4>
                            </div>

                            <div class="card-body ">
                                <table class="tablesaw no-wrap table-striped table-bordered table-hover table " id="myTable-o">
                                    <thead>
                                        <tr>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3 " class="border ">ลำดับ</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="persist " class="border ">ชื่อไฟล์</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="2 " class="border ">วันที่ เวลา</th>
                                            <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="1 " class="border ">แฮช</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (data){ for (var i = 0; i < data.length; i++) { %>
                                            <tr>
                                                <td class="title align-top ">
                                                    <%= (i+1) %>
                                                </td>
                                                <td class="align-top ">
                                                    <%=data[i].name%>
                                                </td>

                                                <td class="align-top ">
                                                    <%=data[i].date%>
                                                </td>
                                                <td class="text-wrap text-break align-top ">
                                                    <%=data[i].hash%>
                                                </td>

                                            </tr>
                                            <%  }} %>

                                                <% if (data.length == 0){%>
                                                    <tr>
                                                        <td class="title align-top " style="text-align: center; color: rgb(228, 20, 20); " colspan="6 ">
                                                            ไม่พบข้อมูล
                                                        </td>
                                                    </tr>
                                                    <%}%>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- สร้างการเตือน -->
        <div class="modal fade" id="samedata2-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-header d-flex align-items-center">

                        <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;ข้อกำหนดการเฝ้าระวัง
                        </h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <form action="/<%=process.env.SUBFOLDER%>comparehost" method="post">
                            <%if(session.comparehost_id){%> <input type="hidden" value="<%=session.comparehost_id%>" name="comparehost_id">
                                <%}else{%><input type="hidden" value="0" name="comparehost_id">
                                    <%}%>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">เลือกอุปกรณ์</label>
                                            <div class="col-sm-6">
                                                <select class=".select2-with-border border-info form-control" style="width: 100%; height:36px;" name="comparehost_id">
                            <option  >กรุณาเลือก</option>
                            <%  if(data2){ %>
                                <%  for (var i = 0; i < data2.length; i++) {  %>
                              <option value="<%= data2[i].device_id %>" > <%= data2[i].name %>  </option>
                              <%  } }%>
                        </select>
                                            </div>
                                        </div>

                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-4">
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" class="btn btn-success btn waves-effect waves-light btn-lg">ยืนยัน</button>
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" class="btn btn-secondary waves-effect waves-light  btn-lg" data-bs-dismiss="modal">ยกเลิก</button>
                                            </div>
                                            <div class="col-sm-5">
                                            </div>
                                        </div>
                                        <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End PAge Content -->
    <!-- -------------------------------------------------------------- -->
    <!--start overlay-->
    <%- include('../_footer') -%>
        <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js "></script>
        <script src="/UI/dist/js/pages/datatable/custom-datatable.js "></script>
        <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js "></script>
        <script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js "></script>

        <script src="/UI/assets/libs/chartist/dist/chartist.min.js "></script>
        <script src="/UI/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js "></script>
        <script src="/UI/assets/libs/flot/jquery.flot.js "></script>

        <script src="/UI/dist/js/pages/widget/widget-charts.js "></script>

        <!-- <script src="/UI/dist/js/app.min.js "></script> -->
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
        <script>
            $(document).ready(function() {

                $('#myTable-o').DataTable({
                    dom: 'Blfrtip'

                });
                $('.dt-button').addClass('btn btn-primary mr-1').css('margin-bottom', '10px');

            });
        </script>

        <script>
            $(document).ready(function() {
                $("#mossparkline").sparkline([2, 4, 4, 6, 8, 5, 6, 4, 8, 6, 6, 2], {
                    type: 'line',
                    width: '100%',
                    height: '160',
                    lineColor: '#39c449',
                    fillColor: '#39c449',
                    maxSpotColor: '#39c449',
                    highlightLineColor: 'rgba(0, 0, 0, 0.2)',
                    highlightSpotColor: '#39c449'
                });
                $("#Total_Traffic").sparkline([0, 2, 8, 6, 8, 5, 6, 4, 8, 6, 6, 2], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#13dafe',
                    fillColor: '#13dafe',
                    minSpotColor: '#13dafe',
                    maxSpotColor: '#13dafe',
                    highlightLineColor: 'rgba(0, 0, 0, 0.2)',
                    highlightSpotColor: '#13dafe'
                });
                $("#Site_Visit").sparkline([0, 2, 8, 6, 8, 5, 6, 4, 8, 6, 6, 2], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#13dafe',
                    fillColor: '#13dafe',
                    minSpotColor: '#13dafe',
                    maxSpotColor: '#13dafe',
                    highlightLineColor: 'rgba(0, 0, 0, 0.2)',
                    highlightSpotColor: '#13dafe'
                });
            });
        </script>

        <script>
            var userid = <%-JSON.stringify(session.userid)%>;

            function check2(id) {
                var result = []
                console.log(id);
                result.value = document.getElementById("authen").value;
                if (result.value) {
                    var request2 = function() {
                        result["userid"] = userid;
                        // console.log(result);
                        $.ajax({
                            url: "http://127.0.0.1:8081/ajaxcheckuser",
                            type: "post",
                            data: {
                                value: result.value,
                                userid: userid
                            },
                            success: function(data) {
                                var result = data.data;
                                if (result.length == 0) {
                                    alert("ใส่รหัสผ่านผิด")
                                    setInterval('location.reload()', 200);
                                } else {
                                    $.ajax({
                                        url: "http://127.0.0.1:8081/deleteftp/" + id,
                                        type: "post",
                                        // success: function(data2) {
                                        //     console.log(data2);
                                        //     // if (data2) {
                                        //     alert("ลบอุปกรณ์ต้นทางเรียบร้อย");
                                        //     setInterval('location.reload()', 200);
                                        //     // } else {
                                        //     //     alert("ข้อมูลผิดพลาด")
                                        //     //     setInterval('location.reload()', 200);
                                        //     // }

                                        // }
                                    });
                                    alert("ลบนำเข้าข้อมูลต่างๆด้วยFTPเรียบร้อย");
                                    setInterval('location.reload()', 200);
                                }

                            }
                        });
                    }
                    request2();
                }
            };
        </script>