<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title"> หน้ากระดาษ </h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index">หน้าหลัก</a></li>
                            <%if(data[0].type==3){%>
                                <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>paper_consent_show">Paper Consent</a></li>
                                <%}else{%>
                                    <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index">Policy Doc</a></li>
                                    <%}%>
                                        <li class="breadcrumb-item">หน้ากระดาษ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="border-bottom pb-0 title-part-padding">
                    <div class="row">
                        <div class="col-md-8 align-self-center">
                            <h4 class="card-title mb-1">
                                ดูเอกสาร
                                <%if(data[0].type==3){%>
                                    Paper Consent
                                    <%}else{%>
                                        Policy Doc
                                        <%}%>
                                            <%=data1[0].doc_name%>
                                                <span class="d-inline-block ms-3 pb-3 "
                                                    style="color: grey;font-size: medium;">หน้าเอกสาร หน้าที่
                                                    <%let pagenum=0%>
                                                        <%for(i in data){%>
                                                            <% if (data[i].page_action !=1){pagenum +=1%>
                                                                <%if(data1[0].page_number==data[i].page_number){%>
                                                                    <%=pagenum%>
                                                                        <%}%>
                                                                            <%}%>
                                                                                <%}%>
                                                </span>
                        </div>
                        <input id="site_name" value="<%=user_site[0].Name1%>" readonly hidden />
                        <input id='short_name' value="<%=user_site[0].Name1%>" readonly hidden />
                        <input id="address_company" value="<%=user_site[0].shortDesciption1%>" readonly hidden />
                        <input id='phone_company' value="<%=user_site[0].phone1%>" readonly hidden />
                        <input id='email_company' value="<%=user_site[0].emailAddress1%>" readonly hidden />
                        <input type="hidden" id="pages" value="<%=JSON.stringify(data) %>">
                        <div class="col-md-4 justify-content-end align-self-center d-none d-md-flex">
                            <div class="d-flex">
                                <div class="dropdown me-2">
                                    <%if(data[0].type==3){%>
                                        <button type="submit" form="edit-paper-doc"
                                            class="btn btn-success btn-lg px-4 fs-4 font-weight-medium">
                                            บันทึกเอกสาร </button>
                                        <a href="/<%=process.env.SUBFOLDER%>paper_consent_show" style="margin-top: -0.5%;"
                                            class="btn btn-secondary btn-lg px-4 fs-4 font-weight-medium "
                                            style="text-align:center;">กลับ</a>

                                        <%}else{%>
                                            <button type="submit" form="edit-paper-doc"
                                                class="btn btn-success btn-lg px-4 fs-4 font-weight-medium">
                                                บันทึกเอกสาร </button>
                                            <a href="/<%=process.env.SUBFOLDER%>index" style="margin-top: -0.5%;"
                                                class="btn btn-secondary btn-lg px-4 fs-4 font-weight-medium "
                                                style="text-align:center;">กลับ</a>

                                            <%}%>
                                </div>
                            </div>
                        </div>

                        <div class="" style="float: right;text-align: right;">


                        </div>
                        </h4>

                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link d-flex active" data-bs-toggle="tab" href="#home2" role="tab"
                                    aria-selected="true">
                                    <span><i class=" ti-file"></i>
                                    </span>
                                    <span class="d-none d-md-block ms-3">เนื้อหา</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex" data-bs-toggle="tab" href="#profile2" role="tab"
                                    aria-selected="false">
                                    <span><i class="ti-book"></i>
                                    </span>
                                    <span class="d-none d-md-block ms-2">คำใช้บ่อย</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex" data-bs-toggle="tab" href="#messages2" role="tab"
                                    aria-selected="false">
                                    <span><i class="ti-server"></i>
                                    </span>
                                    <span class="d-none d-md-block ms-2">ข้อมูลส่วนบุคคล</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="p-0">
                        <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none"
                            href="javascript:void(0)"></a>
                        <div class="tab-content p-0">
                            <div class="tab-pane active" id="home2" role="tabpanel">
                                <div class="p-3 pb-0">
                                    <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none"
                                        href="javascript:void(0)"></a>
                                    <div class=" scrollable ps-container ps-theme-default"
                                        data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">
                                        <div class="overflow-auto">
                                            <ul class="d-flex justify-content-start mt-2">
                                                <div style="flex: 0 0 10%;">
                                                    <a href="/<%=process.env.SUBFOLDER%>createpaper/<%=doc_number%>"
                                                        class="li-add-paper btn btn-success">เพิ่มหน้า</a>
                                                </div>
                                                <% let count=0 %>
                                                    <% for (var i=0;i<data.length;i++){%>
                                                        <% if (data.length !=null){%>
                                                            <% if (data[i].page_action !=1){%>
                                                                <% if (count==0){%>
                                                                    <div style="flex: 0 0 10%;">
                                                                        <li class="list-group-item border-0 p-2 me-2 font-weight-medium  border-2 border-info d-md-flex"
                                                                            style=" float:left;text-align:left;align-items: center;">
                                                                            <%}else{%>
                                                                                <div style="flex: 0 0 10%;">
                                                                        <li class="list-group-item border-0 p-2 me-2 font-weight-medium border-start border-1 border d-md-flex"
                                                                            style=" float:left;text-align:left;align-items: center;border-color: grey;">
                                                                            <%}%>
                                                                                <a style="text-align: center;"
                                                                                    href='/<%=process.env.SUBFOLDER%>editpaper/<%=data[i].page_id%>'>&nbsp;&nbsp;
                                                                                    หน้า
                                                                                    <%= count +=1 %>
                                                                                </a>&nbsp;
                                                                                <span
                                                                                    style="float:right;text-align:right;"><a
                                                                                        title="ลบหน้ากระดาษ"
                                                                                        onclick="confirmdel('<%= count %>','<%= data[i].page_id %>','<%= data[i].doc_id %>')">
                                                                                        <i class="ti-trash "
                                                                                            style="color: #f62d51;font-size: large;"></i></a></span>
                                                                        </li>
                                                                    </div>
                                                                    <%}%>
                                                                        <%}%>
                                                                            <%}%>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input id="words" value="<%=words1%>" readonly hidden />
                            <input id='swords' value="<%=words2%>" readonly hidden />
                            <div class="tab-pane p-0" id="profile2" role="tabpanel">
                                <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none"
                                    href="javascript:void(0)"></a>
                                <div class="scrollable ps-container ps-theme-default"
                                    data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">
                                    <div class="p-0" align="center">
                                        <!-- <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript: void(0)">เพิ่มเอกสารใหม่</a> -->
                                        <div class="card-body pb-1">
                                            <div class="row">
                                                <div class="d-flex flex-col justify-content-start align-items-center">
                                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                                        data-bs-target="#success-header-modal">เพิ่มคำใช้บ่อย</button>
                                                    <% if(words){ %>
                                                        <% for(var w=0;w<words.length;w++){ %>
                                                            <br>
                                                            <% if (w==0){%>
                                                                <div style="flex: 10% 10% 10%;">
                                                                    <li class="list-group-item border-0 p-3 me-2 font-weight-medium border-2 border-info d-md-flex"
                                                                        style=" float:left;text-align:left;align-items: center;">
                                                                        <%}else{%>
                                                                            <div style="flex: 10% 10% 10%;">
                                                                    <li class=" list-group-item border-0 p-3 me-2 font-weight-medium border-start border-1 d-md-flex"
                                                                        style=" float:left;text-align:left;align-items: center;border-color: grey;">
                                                                        <%}%>

                                                                            <a id="<%=words[w].words_id%>" href="#"
                                                                                onclick="insertText(this.id)">/
                                                                                <%=words[w].words_often %>
                                                                            </a>&nbsp;
                                                                            <a id="<%=words[w].words_id%>"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#edit-words-modal"
                                                                                onclick="editwords(this.id)" href="#"><i
                                                                                    style="color: #ffc348;"
                                                                                    class="ti-pencil-alt "></i></a>&nbsp;
                                                                            <a id="<%=words[w].words_id%>"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#deleteword-header-modal"
                                                                                href="#"
                                                                                onclick="deletewords(this.id)"><i
                                                                                    class="ti-trash"
                                                                                    style="color: #f62d51;"></i></a>
                                                                    </li>
                                                                </div>
                                                                <%}%>
                                                                    <form action="/<%=process.env.SUBFOLDER%>updateword/<%=words[0].words_id%>"
                                                                        method="POST">
                                                                        <div id="edit-words-modal" class="modal fade"
                                                                            tabindex="-1"
                                                                            aria-labelledby="edit-header-modalLabel"
                                                                            aria-hidden="true" style="display: none;">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div
                                                                                        class="modal-header modal-colored-header border-bottom title-part-padding">
                                                                                        <h4 class="modal-title"
                                                                                            style="color: black;">
                                                                                            แก้ไขคำใช้บ่อย
                                                                                        </h4>
                                                                                        <button type="button"
                                                                                            class="btn-close"
                                                                                            data-bs-dismiss="modal"
                                                                                            aria-label="Close"></button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        <table
                                                                                            class='table table-borderless'>
                                                                                            <th class="col-md-3">
                                                                                                คำใช้บ่อย :
                                                                                            </th>
                                                                                            <td class="col-md-9"
                                                                                                id="editwords1">

                                                                                            </td>
                                                                                        </table>

                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="submit"
                                                                                            class="btn btn-warning font-weight-medium">แก้ไขข้อมูล</button>
                                                                                        <button type="button"
                                                                                            class="btn btn-secondary"
                                                                                            data-bs-dismiss="modal">ปิด</button>

                                                                                    </div>
                                                                                </div>
                                                                                <!-- /.modal-content -->
                                                                            </div>
                                                                            <!-- /.modal-dialog -->
                                                                        </div>
                                                                    </form>



                                                                    <form action="/<%=process.env.SUBFOLDER%>deleteword/<%= words[0].words_id %>"
                                                                        method="POST">
                                                                        <div id="deleteword-header-modal"
                                                                            class="modal fade" tabindex="-1"
                                                                            aria-labelledby="deleteword-header-modalLabel"
                                                                            aria-hidden="true" style="display: none;">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div
                                                                                        class="modal-header modal-colored-header border-bottom title-part-padding">
                                                                                        <h4 class="modal-title"
                                                                                            style="color: black;">
                                                                                            ยืนยันการลบคำใช้บ่อย
                                                                                        </h4>
                                                                                        <button type="button"
                                                                                            class="btn-close"
                                                                                            data-bs-dismiss="modal"
                                                                                            aria-label="Close"></button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        <table
                                                                                            class='table table-borderless'>
                                                                                            <th class="col-md-3">
                                                                                                คำใช้บ่อย :
                                                                                            </th>
                                                                                            <td class="col-md-9"
                                                                                                id="deletewords1">

                                                                                            </td>
                                                                                        </table>

                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="submit"
                                                                                            class="btn btn-danger font-weight-medium">ลบข้อมูล</button>
                                                                                        <button type="button"
                                                                                            class="btn btn-secondary"
                                                                                            data-bs-dismiss="modal">ปิด</button>

                                                                                    </div>
                                                                                </div>
                                                                                <!-- /.modal-content -->
                                                                            </div>
                                                                            <!-- /.modal-dialog -->
                                                                        </div>
                                                                    </form>
                                                                    <br>
                                                                    <%}%>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Model -->
                                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
                                        </div>
                                    </div>
                                    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane p-0" id="messages2" role="tabpanel">
                                <div class="pb-0">
                                    <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none"
                                        href="javascript:void(0)"></a>
                                    <div class=" scrollable ps-container ps-theme-default"
                                        data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">

                                        <div align="center">
                                            <!-- <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript: void(0)">เพิ่มเอกสารใหม่</a> -->
                                            <div class="card-body">
                                                <div class="button-group">
                                                    <!-- ------------------------------------------ -->
                                                    <!-- Fullscreen -->
                                                    <!-- ------------------------------------------ -->
                                                    <div>
                                                        <input id="code" value="<%=code%>" readonly hidden />
                                                        <input id='code1' value="<%=code1%>" readonly hidden />
                                                        <input id='code_name' value="<%=code_name%>" readonly hidden />
                                                        <% for(var i=0;i<pd.length;i++){ %>
                                                            <% if (i==0){%>
                                                                <div style="flex: 10% 10% 10%;">
                                                                    <li class="list-group-item border-0 p-3 me-2 font-weight-medium border-2 border-info d-md-flex"
                                                                        style=" float:left;text-align:left;align-items: center;">
                                                                        <%}else{%>
                                                                            <div style="flex: 10% 10% 10%;">
                                                                    <li class=" list-group-item border-0 p-3 me-2 font-weight-medium border-start border-1 d-md-flex"
                                                                        style=" float:left;text-align:left;align-items: center;border-color: grey;">
                                                                        <%}%>
                                                                            <a id="<%=pd[i].data_id%>" href="#"
                                                                                onclick="insertCode(this.id)">
                                                                                <%=pd[i].data_name%>
                                                                            </a>
                                                                    </li>
                                                                </div>
                                                                <%}%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
                                            </div>
                                        </div>
                                        <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="card-body">
                        <div class="overflow-auto ">
                            <div class="row mb-5">
                                <% if (data1 !=0){%>
                                    <div class="col">
                                        <form id="edit-paper-doc" action="/<%=process.env.SUBFOLDER%>updatepaper/<%=data1[0].page_id%>"
                                            method="post">
                                            <textarea id="myEditor1" class="summernote" name="page_content"
                                                style="display: none;width: none;"><%=data1[0].page_content %></textarea>
                                            <input type='hidden' name='page_number' value="<%= data1[0].page_number %>">
                                            <%if(data[0].type==3){%>
                                                <input type='hidden' name='link' value="paper_consent_show">
                                                <%}else{%>
                                                    <input type='hidden' name='link' value="index">
                                                <%}%>
                                        </form>
                                    </div>
                                    <%if(data[0].type==3 && page_check.length>0){%>
                                        <div class="col w-auto">
                                            <%if(page_check[0].consent_firstname_status==1 &&
                                                data1[0].page_number==1){%>
                                                <div class="mb row">
                                                    <label for="fname"
                                                        class="col-sm-3 text-start control-label col-form-label">
                                                        ชื่อ:</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="user_consent_firstname"
                                                            class="form-control" required style="margin-bottom: 10px;">
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <%if(page_check[0].consent_lastname_status==1 &&
                                                        data1[0].page_number==1){%>
                                                        <div class="mb row">
                                                            <label for="fname"
                                                                class="col-sm-3 text-start control-label col-form-label">
                                                                นามสกุล:</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" name="user_consent_firstname"
                                                                    class="form-control" required
                                                                    style="margin-bottom: 10px;">
                                                            </div>
                                                        </div>
                                                        <%}%>
                                                            <%if(page_check[0].consent_address_status==1 &&
                                                                data1[0].page_number==1){%>
                                                                <div class="mb row">
                                                                    <label for="fname"
                                                                        class="col-sm-3 text-start control-label col-form-label">
                                                                        ที่อยู่:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" name="user_consent_firstname"
                                                                            class="form-control" required
                                                                            style="margin-bottom: 10px;">
                                                                    </div>
                                                                </div>
                                                                <%}%>
                                                                    <%if(page_check[0].consent_phone_status==1 &&
                                                                        data1[0].page_number==1){%>
                                                                        <div class="mb row">
                                                                            <label for="fname"
                                                                                class="col-sm-3 text-start control-label col-form-label">
                                                                                เบอร์โทร:</label>
                                                                            <div class="col-sm-9">
                                                                                <input type="text"
                                                                                    name="user_consent_firstname"
                                                                                    class="form-control" required
                                                                                    style="margin-bottom: 10px;">
                                                                            </div>
                                                                        </div>
                                                                        <%}%>
                                                                            <%if(page_check[0].consent_other_status==1
                                                                                && data1[0].page_number==1){%>
                                                                                <div class="mb row">
                                                                                    <label for="fname"
                                                                                        class="col-sm-3 text-start control-label col-form-label">
                                                                                        <%=page_check[0].consent_other_name%>
                                                                                            :
                                                                                    </label>
                                                                                    <div class="col-sm-9">
                                                                                        <input type="text"
                                                                                            name="user_consent_firstname"
                                                                                            class="form-control"
                                                                                            required
                                                                                            style="margin-bottom: 10px;">
                                                                                    </div>
                                                                                </div>
                                                                                <%}%>
                                                                                    <%if(data[0].button_consent_position==1
                                                                                        && data1[0].page_number==1){%>
                                                                                        <hr>
                                                                                        <div class="text-center">
                                                                                            <a title="ตัวอย่าง"
                                                                                                style="cursor: pointer;"
                                                                                                class="btn btn-success">ยินยอม</a>
                                                                                            <a title="ตัวอย่าง"
                                                                                                style="cursor: pointer;"
                                                                                                class="btn btn-danger">ไม่ยินยอม</a>
                                                                                        </div>
                                                                                        <hr>
                                                                                        <%}%>


                                                                                            <div class="col-6 w-auto">
                                                                                                <% for (var
                                                                                                    i=0;i<data.length;i++){%>
                                                                                                    <% if (data.length
                                                                                                        !=null){%>
                                                                                                        <% if
                                                                                                            (data[i].page_action
                                                                                                            !=1){%>
                                                                                                            <% if
                                                                                                                (data1[0].page_id==data[i].page_id)
                                                                                                                {%>
                                                                                                                <div
                                                                                                                    id="setcode">
                                                                                                                    <%-data[i].page_content%>
                                                                                                                </div>
                                                                                                                <%}%>
                                                                                                                    <%}%>
                                                                                                                        <%}%>
                                                                                                                            <%}%>

                                                                                            </div>
                                                                                            <%if(data.length==data1[0].page_number
                                                                                                &&
                                                                                                data1[0].button_consent_position==0){%>

                                                                                                <div
                                                                                                    style="width: 550px;margin-top:2.5%;margin-right: 6%;margin-left: 6%;padding: 2%;">
                                                                                                    <hr>
                                                                                                    <div
                                                                                                        class="col-md-6 text-center">
                                                                                                        <div
                                                                                                            class="card-body">
                                                                                                            <a title="ตัวอย่าง"
                                                                                                                style="cursor: pointer;"
                                                                                                                class="btn btn-success">ยินยอม</a>
                                                                                                            <a title="ตัวอย่าง"
                                                                                                                style="cursor: pointer;"
                                                                                                                class="btn btn-danger">ไม่ยินยอม</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                        </div>
                                        <%}%>
                                            <%}else{%>
                                                <!-- <div class="col" style="width: auto;margin-left: 5%;padding: 2%;"> -->
                                                <div class="col w-auto ms-4">
                                                    <% for (var i=0;i<data.length;i++){%>
                                                        <% if (data.length !=null){%>
                                                            <% if (data[i].page_action !=1){%>
                                                                <% if (data1[0].page_id==data[i].page_id) {%>
                                                                    <div id="setcode">
                                                                        <%-data[i].page_content%>
                                                                    </div>
                                                                    <%}%>
                                                                        <%}%>
                                                                            <%}%>
                                                                                <%}%>
                                                </div>
                                                <%}%>

                            </div>
                        </div>
                    </div>
                </div>
                <%}else{%>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" align="center">
                                <h2>กรุณาเพิ่มหน้าเพื่อเริ่มต้น</h2>
                            </div>
                        </div>
                    </div>
                    <%}%>
            </div>
        </div>
    </div>


    <form action="/<%=process.env.SUBFOLDER%>new_word" method="POST">
        <div id="success-header-modal" class="modal fade" tabindex="-1" aria-labelledby="success-header-modalLabel"
            aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header border-bottom title-part-padding">
                        <h4 class="modal-title" style="color: black;">
                            เพิ่มคำใช้บ่อย
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class='table table-borderless'>
                            <th class="col-md-3">
                                คำใช้บ่อย :
                            </th>
                            <td class="col-md-9">
                                <input type="text" name="words_often" placeholder="กรอกคำใช้บ่อย.."
                                    class="form-control " required>
                            </td>
                        </table>
                    </div>
                    <div class="mb-3  text-center">
                        <button type="submit" class="btn btn-success  font-weight-medium">บันทึกข้อมูล</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </form>
    <style>
        .note-frame {
            width: 100px;
        }
    </style>






<%- include('../_footer') -%>





    <!-- <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/UI/assets/extra-libs/summernote/summernote-lite.min.js"></script> -->
    <script>
        $('#myEditor1').summernote({
            fontSizes: ['8', '9', '10', '11', '12', '13', '14', '15', '16', '18', '20', '22', '24'],
            toolbar: [
                ['style', ['style']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['font', ['bold', 'Sarabun', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['paragraph', 'ul', 'ol']],
                ['height', ['height']],
                ['insert', ['link', 'picture', 'hr']],
                // ['table', ['table']],
                ['view', ['undo', 'redo']],
            ],
            fontNames: ['Sarabun', 'Sans Serif', 'Arial', 'Arial Black', 'Tahoma'],
            fontNamesIgnoreCheck: ['Sarabun', 'Sans Serif', 'Arial', 'Arial Black', 'Tahoma'],
            focus: false,
            width: 600,
            height: 842, // set minimum height of editor
            callbacks: {
                onKeyup: function (e) {
                    $("#setcode").html($('#myEditor1').val());
                    let text = document.getElementById("setcode").innerHTML;
                    const code = document.getElementById("code").value
                    const code1 = document.getElementById('code1').value
                    const code_name = document.getElementById('code_name').value;

                    let sort_code = code.split(',')
                    let sort_code1 = code1.split(',')
                    let sort_code2 = code_name.split(',')
                    let obj = []
                    for (i in sort_code1) {
                        obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i], "data_name": sort_code2[i] })
                    }
                    for (j in obj) {
                        var x = obj[j].data_code
                        let position = text.search(x);
                        if (position > -1) {
                            text = text.replaceAll(obj[j].data_code, obj[j].data_name)
                            document.getElementById("setcode").innerHTML = text
                        }
                    }
                    summernote_replace_tag();
                    summernote_replace_code();
                },
                onInit: function (e) {
                    $(".note-editable").on('click', function (e) {
                        $("#setcode").html($('#myEditor1').val());
                        let text = document.getElementById("setcode").innerHTML;
                        const code = document.getElementById("code").value
                        const code1 = document.getElementById('code1').value
                        const code_name = document.getElementById('code_name').value;

                        let sort_code = code.split(',')
                        let sort_code1 = code1.split(',')
                        let sort_code2 = code_name.split(',')
                        let obj = []
                        for (i in sort_code1) {
                            obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i], "data_name": sort_code2[i] })
                        }
                        for (j in obj) {
                            var x = obj[j].data_code
                            let position = text.search(x);
                            if (position > -1) {
                                text = text.replaceAll(obj[j].data_code, obj[j].data_name)
                                document.getElementById("setcode").innerHTML = text
                            }
                        }
                        summernote_replace_tag();
                        summernote_replace_code();
                    });
                }
            }

        });

        function summernote_replace_tag() {
            $("#setcode").html($('#myEditor1').val());
            let text = document.getElementById("setcode").innerHTML;
            const site_name = document.getElementById("site_name").value;
            const short_name = document.getElementById('short_name').value;
            const image = 'logo.png'
            const email_company = document.getElementById("email_company").value;
            const phone_company = document.getElementById('phone_company').value;
            const address_company = document.getElementById('address_company').value;
            const number_company = 'number';

            let page_content_replace_company = [];
            let company_replace =
                [
                    "@@company_name",
                    "@@short_company_name",
                    "@@logo_company",
                    "@@email_company",
                    "@@phone_company",
                    "@@address_company",
                    "@@number_company",
                ];
            let regex =
                new RegExp(
                    company_replace[0],
                    "ig"
                );
            let regex_short =
                new RegExp(
                    company_replace[1],
                    "ig"
                );
            let regex_logo =
                new RegExp(
                    company_replace[2],
                    "ig"
                );
            let regex_email_company =
                new RegExp(
                    company_replace[3],
                    "ig"
                );
            let regex_phone_company =
                new RegExp(
                    company_replace[4],
                    "ig"
                );
            let regex_address_company =
                new RegExp(
                    company_replace[5],
                    "ig"
                );
            let regex_number_company =
                new RegExp(
                    company_replace[6],
                    "ig"
                );
            text = text.replace(
                regex, site_name
            );
            text = text.replace(
                regex_short, short_name
            );
            text = text.replace(
                regex_logo, image
            );
            text = text.replace(
                regex_email_company, email_company
            );
            text = text.replace(
                regex_phone_company, phone_company
            );
            text = text.replace(
                regex_address_company, address_company
            );
            text = text.replace(
                regex_number_company, number_company
            );
            page_content_replace_company.push(
                text
            );
            // console.log(page_content_replace_company);
            document.getElementById("setcode").innerHTML = page_content_replace_company
        }

        function summernote_replace_code() {
            let text = document.getElementById("setcode").innerHTML;
            const code = document.getElementById("code").value
            const code1 = document.getElementById('code1').value
            const code_name = document.getElementById('code_name').value;

            let sort_code = code.split(',')
            let sort_code1 = code1.split(',')
            let sort_code2 = code_name.split(',')
            let obj = []
            for (i in sort_code1) {
                obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i], "data_name": sort_code2[i] })
            }
            for (j in obj) {
                var x = obj[j].data_code
                let position = text.search(x);
                if (position > -1) {
                    text = text.replaceAll(obj[j].data_code, obj[j].data_name)
                    document.getElementById("setcode").innerHTML = text
                }
            }
        }


        var datachecknum = document.getElementById('pages').value
        var checknum = 0;
        for (x in datachecknum) {
            if (datachecknum[x].page_action != 1) {
                checknum += 1
            }
        }
        const confirmdel = (num, page_id, doc_id) => {
            Sub = document.getElementById('SubDomain').value;
            if (checknum > 1) {
                Swal.fire({
                    title: 'ต้องการลบหน้าที่ ' + num + ' ใช่หรือไม่',
                    showCancelButton: true,
                    confirmButtonText: 'ลบ',
                    type: 'warning',
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: `/${Sub}deletepaper/` + page_id,
                            type: "get",
                            success: function (data) {
                                Swal.fire(
                                    {
                                        type: 'success',
                                        title: 'ลบหน้าที่ ' + num + ' เรียบร้อย',
                                        showConfirmButton: false,
                                        timer: 1000
                                    }
                                ).then((result) => {
                                    window.location.href = `/${Sub}paper/` + doc_id;
                                })
                            },
                        });
                    }
                })
            } else {
                Swal.fire({
                    title: 'ไม่สามารถลบได้เนื่องจากมีเพียงหนึ่งหน้า',
                    confirmButtonText: 'ตกลง',
                    type: 'error',
                })
            }

        }
        summernote_replace();
        summernote_replace_1();

        function insertText(id) {
            const words = document.getElementById("words").value
            const words1 = document.getElementById('swords').value
            let sort_words = words.split(',')
            let sort_swords = words1.split(',')
            let obj = []
            for (i in sort_words) {
                obj.push({ "words_id": sort_words[i], "words_often": sort_swords[i] })
            }
            for (j in obj) {
                if (id == obj[j].words_id) {
                    $('#myEditor1').summernote('editor.saveRange');
                    // Editor loses selected range (e.g after blur)      
                    $('#myEditor1').summernote('editor.restoreRange');
                    $('#myEditor1').summernote('editor.focus');
                    $('#myEditor1').summernote('editor.insertText', obj[j].words_often);
                    $("#setcode").html($('#myEditor1').val());
                    summernote_replace();
                    summernote_replace_1();
                }
            }
        }
        function editwords(id) {
            const words = document.getElementById("words").value //words_id
            const words1 = document.getElementById('swords').value //words_often
            let sort_words = words.split(',')
            let sort_swords = words1.split(',')
            let obj = []
            var editwordsx = document.getElementById("editwords1");
            for (i in sort_words) {
                obj.push({ "words_id": sort_words[i], "words_often": sort_swords[i] })
            }
            for (j in obj) {
                if (id == obj[j].words_id) {
                    editwordsx.innerHTML = ' <div><input type="text" name="words_often" id="words_often" value="' + obj[j].words_often + '" class="form-control" required></div><div> <input type="hidden" name="words_id" id="words_id" value="' + obj[j].words_id + '" required></div>'
                }
            }
        }

        function deletewords(id) {
            const words = document.getElementById("words").value //words_id
            const words1 = document.getElementById('swords').value //words_often
            let sort_words = words.split(',')
            let sort_swords = words1.split(',')
            let obj = []
            var deletewordsx = document.getElementById("deletewords1");
            for (i in sort_words) {
                obj.push({ "words_id": sort_words[i], "words_often": sort_swords[i] })
            }
            for (j in obj) {
                if (id == obj[j].words_id) {
                    deletewordsx.innerHTML = obj[j].words_often + '<input type="hidden" name="words_id" id="words_id" value="' + obj[j].words_id + '" ></div>'
                }
            }
        }

        function insertCode(id) {
            const code = document.getElementById("code").value
            const code1 = document.getElementById('code1').value
            let sort_code = code.split(',')
            let sort_code1 = code1.split(',')
            let obj = []
            for (i in sort_code) {
                obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i] })
            }

            for (j in obj) {
                if (id == obj[j].data_id) {
                    $('#myEditor1').summernote('editor.saveRange');
                    // Editor loses selected range (e.g after blur)   
                    $('#myEditor1').summernote('editor.restoreRange');
                    $('#myEditor1').summernote('editor.focus');
                    $('#myEditor1').summernote('editor.insertText', " " + obj[j].data_code + " ");
                    $("#setcode").html($('#myEditor1').val());
                    summernote_replace();
                    summernote_replace_1()
                }
            }
        }


        function summernote_replace() {
            $("#setcode").html($('#myEditor1').val());
            let text = document.getElementById("setcode").innerHTML;
            const site_name = document.getElementById("site_name").value;
            const short_name = document.getElementById('short_name').value;
            const image = 'logo.png'
            const email_company = document.getElementById("email_company").value;
            const phone_company = document.getElementById('phone_company').value;
            const address_company = document.getElementById('address_company').value;
            const number_company = 'number';

            let page_content_replace_company = [];
            let company_replace =
                [
                    "@@company_name",
                    "@@short_company_name",
                    "@@logo_company",
                    "@@email_company",
                    "@@phone_company",
                    "@@address_company",
                    "@@number_company",
                ];
            let regex =
                new RegExp(
                    company_replace[0],
                    "ig"
                );
            let regex_short =
                new RegExp(
                    company_replace[1],
                    "ig"
                );
            let regex_logo =
                new RegExp(
                    company_replace[2],
                    "ig"
                );
            let regex_email_company =
                new RegExp(
                    company_replace[3],
                    "ig"
                );
            let regex_phone_company =
                new RegExp(
                    company_replace[4],
                    "ig"
                );
            let regex_address_company =
                new RegExp(
                    company_replace[5],
                    "ig"
                );
            let regex_number_company =
                new RegExp(
                    company_replace[6],
                    "ig"
                );
            text = text.replace(
                regex, site_name
            );
            text = text.replace(
                regex_short, short_name
            );
            text = text.replace(
                regex_logo, image
            );
            text = text.replace(
                regex_email_company, email_company
            );
            text = text.replace(
                regex_phone_company, phone_company
            );
            text = text.replace(
                regex_address_company, address_company
            );
            text = text.replace(
                regex_number_company, number_company
            );
            page_content_replace_company.push(
                text
            );
            // console.log(page_content_replace_company);
            document.getElementById("setcode").innerHTML = page_content_replace_company
        }

        function summernote_replace_1() {
            let text = document.getElementById("setcode").innerHTML;
            const code = document.getElementById("code").value
            const code1 = document.getElementById('code1').value
            const code_name = document.getElementById('code_name').value;

            let sort_code = code.split(',')
            let sort_code1 = code1.split(',')
            let sort_code2 = code_name.split(',')
            let obj = []
            for (i in sort_code1) {
                obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i], "data_name": sort_code2[i] })
            }
            for (j in obj) {
                var x = obj[j].data_code
                let position = text.search(x);
                if (position > -1) {
                    text = text.replaceAll(obj[j].data_code, obj[j].data_name)
                    document.getElementById("setcode").innerHTML = text
                }
            }
        }

    </script>

