<%- include('../_header') -%>
<!-- <%-JSON.stringify(importname)%> -->
<style>
  .dataTables_empty{
    color: red !important;
  }
  div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    color: #868e96!important;
}
</style>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-md-5 align-self-center">
      <h3 class="page-title">กำหนดการใช้ข้อมูลส่งออกไปภายนอก</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/<%=process.env.SUBFOLDER%>index2">หน้าแรก</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              กำหนดการใช้ข้อมูล
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- Row -->
  <!-- <div class="row">
    <div class="col-lg-4 col-md-6">
      <a href="#">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">การใช้ข้อมูลเพื่อส่งออก</h4>
            <div class="text-end">
              <h2 class="fw-light mb-0"><%if(dataout){%>
                <%=dataout.length%>
                <%}%></h2>
              <span class="text-muted"
                >ณ วันที่ <%= (new Date().getDate())+"/"+((new
                Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " +
                (new Date().getHours()) + ":" + (new Date().getMinutes())
                %></span
              >
            </div>
            <span class="text-success">100%</span>
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 100%; height: 6px"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a href="#">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">พื้นที่จัดเก็บ ตามรูปแบบ GB</h4>
            <div class="text-end">
              <h2 class="fw-light mb-0">
                <span id="diskSpace"> <%= checkDiskSpace.size %> </span>
              </h2>
              <span class="text-muted"
                >ณ วันที่ <%= (new Date().getDate())+"/"+((new
                Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " +
                (new Date().getHours()) + ":" + (new Date().getMinutes())
                %></span
              >
            </div>
            <span class="text-info" id="bar2">
              <%=
              100-(((parseInt(checkDiskSpace.free)/parseInt(checkDiskSpace.size))*100).toFixed(0))
              %>%
            </span>
            <div class="progress">
              <div
                id="progress-bar2"
                class="progress-bar bg-info"
                role="progressbar"
                aria-valuenow=""
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a href="#">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">การใช้ข้อมูลที่ DPO อนุมัติ</h4>
            <div class="text-end">
              <h2 class="fw-light mb-0" id="bar3">0</h2>
              <span class="text-muted"
                >ณ วันที่ <%= (new Date().getDate())+"/"+((new
                Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " +
                (new Date().getHours()) + ":" + (new Date().getMinutes())
                %></span
              >
            </div>
            <span class="text-purple" id="dpo">100%</span>
            <div class="progress">
              <div
                id="percenttotal"
                class="progress-bar bg-purple"
                role="progressbar"
                aria-valuenow=""
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div> -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-bottom title-part-padding">
          <h4 class="card-title mb-0">
            กำหนดการใช้ข้อมูล
            เพื่อให้มั่นใจว่าข้อมูลที่ถูกนำออกไปถูกต้องตามนโยบายและควบคุมโดย
            DPO<span class="text-secondary"></span>
          </h4>
        </div>
        <div class="card-body">
          <form action="javascript:void(0);" method="post">
            <div class="row">
              <div class="col-md-8">
                <a href="/<%=process.env.SUBFOLDER%>dataoutlistadd" class="btn btn-success">
                  <i class="fas fa-plus"></i>
                  &nbsp;กำหนดการใช้ข้อมูล</a
                >
                <a href="/<%=process.env.SUBFOLDER%>dataoutviewchart" class="btn btn-warning">
                  <i class="me-2 mdi mdi-monitor"></i>
                  แสดงประวัติการส่งออก</a
                >
              </div>

              <!-- <div class="col-md-4">
                <div class="input-group mb-2">
                  <a
                    href="/<%=process.env.SUBFOLDER%>dataoutviewchart"
                    class="btn form-control"
                    id="id_1"
                    style="background-color: red; color: white"
                  >
                    <i class="me-2 mdi mdi-file-export"></i>
                    แสดงประวัติการส่งออก</a
                  >
                </div>
              </div> -->
              <div
                class="col-md-4 justify-content-end align-self-center d-block d-md-flex"
              >
                <div class="input-group mb-2">
                  <a
                    class="btn btn-outline-warning"
                    id="reface"
                    onclick="reloadpage()"
                    ><i data-feather="refresh-cw"></i
                  ></a>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="ค้นหา.."
                    aria-label=""
                    value=""
                    id="myCustomSearchBox"
                    aria-describedby="button-addon2"
                  />
                  <button
                    class="btn btn-outline-warning"
                    type="button"
                    id="button-addon2"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div style="min-height: 470px; margin-left: 1%; margin-right: 1%">
            <%if(dataout){%>
            <%if(dataout.length > 0){%>
              
            <br />
            <table
              class="tablesaw table-striped table-bordered table-hover table"
              id="myTabletest"
            >
              <thead>
                <tr>
                  <th class="border" style="text-align: center">ลำดับ</th>
                  <th class="border" style="text-align: center">ชื่อประเภท</th>
                  <th class="border" style="text-align: center">
                    ข้อมูลที่แยกประเภท
                  </th>
                  <th style="width: 10%" class="border text-center">
                    วันที่สร้าง
                  </th>
                  <th style="width: 10%; text-align: center" class="border">
                    ระยะเวลา
                  </th>
                  <th class="border" style="text-align: center; width: 5%">
                    เครื่องหมายข้อมูล
                  </th>
                  <th class="border text-center" style="text-align: center">
                    ผู้สร้าง
                  </th>
                  <th class="border" style="text-align: center">
                    อุปกรณ์/Agent
                  </th>
                  <th class="border" style="text-align: center">DPO Review</th>
                  <th class="border" style="text-align: center; width: 10%">
                    ดูข้อมูล
                  </th>
                  <th
                    class="border text-center"
                    style="text-align: center; width: 10%"
                  >
                    ลบข้อมูล
                  </th>
                </tr>
              </thead>
              <tbody>
                <%for (i in dataout){%>
                <tr>
                  <td class="title align-top" style="text-align: center">
                    <%=parseInt(i)+1%>
                  </td>
                  <td class="align-top" style="text-align: center">
                    <%=dataout[i].classify_name%>
                  </td>
                  <td class="align-top" style="text-align: center">
                    <%=dataout[i].pattern_name%>
                  </td>
                  <td class="align-top" style="text-align: center">
                    <%=dataout[i].datecreate%>
                  </td>
                  <td class="align-top" style="text-align: center">
                    <%=dataout[i].long_date%> วัน <%=dataout[i].long_hour%>
                    ชั่วโมง
                  </td>
                  <%if(dataout[i].classify_type_data_in_event_personal_datamark_check
                  == 1){%>
                  <td
                    class="align-top"
                    style="color: green; text-align: center"
                  >
                    Yes
                  </td>
                  <%}else{%>
                  <td class="align-top" style="color: red; text-align: center">
                    No
                  </td>
                  <%}%>
                  <td class="align-top" style="text-align: center">
                    <%=dataout[i].firstname %> <%=dataout[i].lastname %>
                  </td>
                  <td class="align-top" style="text-align: center">
                    <span style="color: blue" id="import_<%=dataout[i].data_out_id%>"></span>
                    <%if(dataout[i].pattern_storage_method_inside_agent != 0){%>
                    จาก
                    <%}%>
                    <span style="color: red" id="importagent_<%=dataout[i].data_out_id%>"></span
                    >
                  </td>
                  <%if(dataout[i].dpo_confirm == 0){%>
                  <td class="align-top">
                    <center>
                      <a
                        onclick="allowdpo('<%=dataout[i].data_out_id %>','<%=dataout[i].classify_name%>','<%=dataout[i].pattern_name%>')"
                        style="color: red; cursor: pointer"
                      >
                        DPO Review
                      </a>
                    </center>
                  </td>
                  <%}else{%>
                  <td class="align-top">
                    <center>
                      <a
                        href="/<%=process.env.SUBFOLDER%>dataoutdporeview/<%=dataout[i].data_out_id %>/<%=dataout[i].classify_type_data_in_event_personal_datamark_check%>"
                        style="color: green; text-align: center"
                      >
                        DPO Review
                      </a>
                    </center>
                  </td>
                  <%}%>
                  <td class="center" align="center ">
                    <center>
                      <a
                        href="/<%=process.env.SUBFOLDER%>dataoutdetails/<%=dataout[i].data_out_id%>"
                        title="ดูข้อมูล"
                        class="text-info"
                      >
                        <i class="fas fa-file-alt fa-2x"></i>
                      </a>
                    </center>
                  </td>
                  <td class="center" align="center">
                    <center>
                      <a
                        title="ลบข้อมูล"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-del<%=i%>"
                        data-bs-whatever="@mdo"
                        class="text-danger"
                      >
                        <i class="fas fa-trash-alt fa-2x"></i>
                      </a>
                    </center>
                  </td>
                  <!-- <td class="title align-top tablesaw-swipe-cellhidden tablesaw-swipe-cellpersist text-center" style="width:110px"><a style="cursor: pointer;" class="text-info"><i class="fas fa-file-alt fa-2x"></i></a></td>
                            <td class="title align-top tablesaw-swipe-cellhidden tablesaw-swipe-cellpersist text-center" style="width:110px"><a style="cursor: pointer;" onclick="alertdel('<%=dataout[i].data_out_id%>','<%=dataout[i].classify_name%>');"><i class="fas fa-trash-alt fa-2x" style="color:red"></i></a></td> -->
                </tr>
                <%}%>
                
              </tbody>
            </table>
            <%}else{%>
              <br />
              <table
                class="tablesaw table-striped table-bordered table-hover table"
                id="myTabletest"
              >
                <thead>
                  <tr>
                    <th class="border" style="text-align: center">ลำดับ</th>
                    <th class="border" style="text-align: center">ชื่อประเภท</th>
                    <th class="border" style="text-align: center">
                      ข้อมูลที่แยกประเภท
                    </th>
                    <th style="width: 10%" class="border text-center">
                      วันที่สร้าง
                    </th>
                    <th style="width: 10%; text-align: center" class="border">
                      ระยะเวลา
                    </th>
                    <th class="border" style="text-align: center; width: 5%">
                      เครื่องหมายข้อมูล
                    </th>
                    <th class="border text-center" style="text-align: center">
                      ผู้สร้าง
                    </th>
                    <th class="border" style="text-align: center">
                      อุปกรณ์/Agent
                    </th>
                    <th class="border" style="text-align: center">DPO Review</th>
                    <th class="border" style="text-align: center; width: 10%">
                      ดูข้อมูล
                    </th>
                    <th
                      class="border text-center"
                      style="text-align: center; width: 10%"
                    >
                      ลบข้อมูล
                    </th>
                  </tr>
                </thead>
                </table>

            <%}}%>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->
  </div>
  </div>
  <div><%- include('data_out_del') -%></div>
  <form action="/<%=process.env.SUBFOLDER%>dataoutadd" method="POST">
    <%- include('data_out_add') -%> <%- include('data_out_addclass') -%>
  </form>
  <script>
    Sub = document.getElementById('SubDomain').value;
    function alertdel(id, name) {
      let confirmAction = confirm(
        "(ตัวลบชั่วคราว) ต้องการลบ " + name + " ใช่หรือไม่"
      );
      if (confirmAction) {
        location.href = `/${Sub}dataoutdel/` + id;
      }
    }

    function allowdpo(id, classname, patname) {
      
      let timerInterval;
      Swal.fire({
        confirmButtonText: "ยืนยัน",
        showCancelButton: true,
        cancelButtonText: "ยกเลิก",
        title: "อนุญาต DPO การส่งออกข้อมูลสู่ภายนอก",
        html:
          '<br><label class="text-secondary" > ชื่อประเภท </label> <label >' +
          classname +
          "</label> <br>" +
          '<label class="text-secondary" "> ข้อมูลที่แยกประเภท </label> <label >' +
          patname +
          "</label> <br>",
      }).then((result) => {
        if (result.value) {
          var request1 = function () {
            $.ajax({
              url: `/${Sub}dataoutchangedpo/` + id,
              type: "get",
              success: function (data) {
                location.reload();
              },
            });
          };
          request1();
        }
      });
    }
  </script>
  <script>
    var databar = <%-JSON.stringify(dataout)%>;
    var importname = <%-JSON.stringify(importname)%>;
    var importagent = <%-JSON.stringify(importagent)%>;
    var countdpo = 0;
    var countdponot = 0;
    for(i in databar){
      if(databar[i].dpo_confirm == 1){
        countdpo += 1
      }else{
        countdponot += 1
      }
    }
    var percent = ((parseInt(countdpo)/parseInt(databar.length))*100)
    $('#bar3').text(countdpo)
    if(isNaN(percent)){
      console.log("tessssssssss");
    
    }else{
      $('#dpo').text(percent.toFixed(0)+"%")
      $('#percenttotal').css("width",percent.toFixed(0)+"%")
    }
    for(s in databar){
      var datan = databar[s].pattern_storage_method_inside_import_id;
      var datan2 =  databar[s].pattern_storage_method_inside_agent;
      if(datan2 != 0){
        datan2 = datan2.toString();
        datan2 = datan2.split(",");
      }
      datan = datan.split(",");
      var namee = "";
      var nameagent = "";
      if(datan.length > 0) {
        for(ss in datan){
        for(sss in importname){
        if(datan[ss] == importname[sss].ftp_id){
          var text = "#import_"+databar[s].data_out_id
          var text2 = "#importdel_"+databar[s].data_out_id
          if(ss != 0){
            namee = namee+","+importname[sss].name
            $(text).text(namee)
            $(text2).text(namee)
          }else{
            namee = importname[sss].name
            $(text).text(namee)
            $(text2).text(namee)
          }
        }
      }
    }
    }if (datan2 != 0){ 
        for(ss in datan2){
      for(sss in importagent){
        if(datan2[ss] == importagent[sss].agm_id){
          var text = "#importagent_"+databar[s].data_out_id
          if(ss != 0){
            nameagent = nameagent+","+importagent[sss].agm_name
            $(text).text(nameagent)
          }else{
            nameagent = importagent[sss].agm_name
            $(text).text(nameagent)
          }
        }
      }
      }
      }
    }
  </script>
  <script>
    function reloadpage() {
      location.reload();
    }
    $(document).ready(function () {
      dTable = $("#myTabletest").DataTable({
        ordering: false,
        autoWidth: false,
        bLengthChange: false, // this gives option for changing the number of records shown in the UI table
        columnDefs: [
          {
            className: "dt-center",
            targets: "_all",
          }, //columnDefs for align text to center
        ],
        dom: "lrtip",
        pageLength: 20,
        oSearch: { bSmart: false, bRegex: true }, //to hide default searchbox but search feature is not disabled hence customised searchbox can be made.
      });
      $("#myCustomSearchBox").keyup(function () {
        dTable.search($(this).val()).draw(); // this  is for customized searchbox with datatable search feature.
      });

      //$('#myTabletest_filter input').addClass('btn form-control');
      //$('#myTabletest input').addClass('btn btn-success');
      $("#myTableclass").DataTable({
        // bAutoWidth: false,
        lengthMenu: [
          [3, 5, 10, 25, -1],
          [3, 5, 10, 25, "All"],
        ],
      });
      var convert_gb = parseInt($("#diskSpace").text()) / (1024 * 1024 * 1024);
      var bar = parseInt($("#bar2").text());
      $("#diskSpace").text(convert_gb.toFixed(0));
      $("#progress-bar2").css("width", bar);
      // $('#tablecsv').DataTable({
      // });
    });
  </script>
  <%- include('../_footer') -%>
  <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/UI/dist/js/pages/datatable/custom-datatable.js"></script>
  <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js"></script>
  <script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <!-- <script src="/UI/dist/js/pages/dashboards/dashboard1.js"></script> -->


