<%- include('../_header') -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-md-5 align-self-center">
      <h3 class="page-title">คู่มือการใช้ข้อมูลกิจกรรมจากภายนอก</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              คู่มือการใช้ข้อมูลกิจกรรมจากภายนอก
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="row">
            <div class="card-body">
              <div class="border-bottom title-part-padding">
                <h4 class="card-title">
                    ตัวอย่างคู่มือการใช้ข้อมูลกิจกรรมจากภายนอก
                </h4>
              </div>
              <div class="card-body">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link d-flex active" data-bs-toggle="tab" href="#home2" role="tab" aria-selected="true">
                                <span><i class="ti-home"></i>
                                </span>
                                <span class="d-none d-md-block ms-2">ขั้นตอนที่ 1. Link API และการ SET header</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex" data-bs-toggle="tab" href="#profile2" role="tab" aria-selected="false">
                                <span><i class="ti-user"></i>
                                </span>
                                <span class="d-none d-md-block ms-2">ขั้นตอนที่ 2. การ SET body</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex" data-bs-toggle="tab" href="#messages2" role="tab" aria-selected="false">
                                <span><i class="ti-comment"></i>
                                </span>
                                <span class="d-none d-md-block ms-2">3. ผลลัพธ์</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex" data-bs-toggle="tab" href="#code" role="tab" aria-selected="false">
                                <span><i class="ti-email"></i>
                                </span>
                                <span class="d-none d-md-block ms-2">4. ตัวอย่างโค็ด</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home2" role="tabpanel">
                            <div class="p-3 text-start">
                                <h4 style="color: crimson;">Link API : <%=host%>:8551/apicheckverify/apireq</h4>
                                <h5 >Link สำหรับการส่งและรับข้อมูลจาก API</h5>
                                <h4 style="color: crimson;">ตัวอย่าง Token : RHNOE7316ZKPUXVX</h4>
                                <h5 >Token สำหรับการใส่ใน header เพื่อระบุและตรวจสอบผู้ใช้งานว่าได้รับการอนุญาตหรือไม่</h5>
                                <h4 style="color: crimson;">ตัวอย่างการ Set API และการ SET header จากโปรแกรม Postman</h4>
                                <img src="/UI/assets/images/api/guideapi1.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="profile2" role="tabpanel">
                            <div class="p-3 text-start">
                                <h4 style="color: crimson;">มีการ SET ข้อมูล 3 อย่างคือ 1. Activity 2. Personal 3. Dataname</h4>
                                <h5>1. Activity คือ กิจกรรมที่ต้องการตรวจสอบ โดยใช้เลข ID อ้างอิง</h5>
                                <h5>2. Personal คือ รูปแบบข้อมูลที่ต้องการนำไปตรวจสอบ key json ให้ใช้คำว่า <span style="color: crimson;">name</span> และ <span style="color: crimson;">value</span> ใช้ชื่ออ้างอิง เช่น ชื่อ,ที่อยู่,เบอร์โทร เป็นต้น</h5>
                                <h5 >3. Dataname คือ ข้อมูลที่ต้องการตรวจสอบ key json ให้ใช้คำว่า <span style="color: crimson;">data</span> และ <span style="color: crimson;">value</span> แทนด้วยข้อมูลที่ต้องการต้องสอบ</h5>
                                <h4 style="color: crimson;">ตัวอย่างการ Set body จากโปรแกรม Postman</h4>
                                <img src="/UI/assets/images/api/guideapi2.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="messages2" role="tabpanel">
                            <div class="p-3 text-start">
                                <h4 style="color: crimson;">มี 2 รูปแบบคือ ผลลัพธ์ที่สำเร็จและผิดพลาด</h4>
                                <h5 >1. ผลลัพธ์ที่สำเร็จ จะขึ้นว่า "status": "success-200" ดังรูป</h5>
                                <img src="/UI/assets/images/api/guideapisuc.png" class="img-fluid" alt="">
                                <h5 class="mt-3">2. ผลลัพธ์ที่ผิดพลาด จะขึ้นว่า "status": "ERROR" มี 4 รูปแบบคือ </h5>
                                <h5>2.1 "status": "ERROR-415 : DATA Unsupported Media Type" คือ ข้อมูลที่ส่งมาไม่ใช่รูปแบบ json</h5>
                                <h5>2.2 "status": "ERROR-500 : DATA is Personal null" คือ ข้อมูล personal ไม่มีข้อมูลส่งมา</h5>
                                <h5>2.3 "status": "ERROR-500 : DATA Personal and Dataname NOT Match" คือ ข้อมูลที่ส่งมาตรวจสอบ personal และ dataname ข้อมูลที่ส่งมาไม่สอดคล้องกัน </h5>
                                <h5>2.4 "status": "ERROR-401 : USER Unauthorized" คือ User ไม่ได้รับอนุญาตในการเข้าถึงข้อมูล </h5>
                                <img src="/UI/assets/images/api/guideapierror.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="code" role="tabpanel">
                            <div class="p-3 text-start">
                                <div class="mb-3">
                                    <label style="color: crimson;">Ajax Code</label>
                                    <textarea class="form-control" rows="15">
                                      var settings = {
                                        "url": "http://127.0.0.1:8551/apicheckverify/apireq",
                                        "method": "POST",
                                        "timeout": 0,
                                        "headers": {
                                          "token": "IHUDEODKNVV69QJB",
                                          "Content-Type": "application/json"
                                        },
                                        "data": JSON.stringify({
                                          "personal": [
                                            {
                                              "name": "ชื่อ"
                                            },
                                            {
                                              "name": "นามสกุล"
                                            },
                                            {
                                              "name": "เลขบัตรประชาชน1"
                                            }
                                          ],
                                          "dataname": [
                                            {
                                              "data": "matawee,ridtirong,pongsatorn,pongsatorn11"
                                            },
                                            {
                                              "data": "mungmontee1,wong,loan"
                                            },
                                            {
                                              "data": "0872566899,0689722419"
                                            }
                                          ],
                                          "activity": "AC0001"
                                        }),
                                      };
                                      
                                      $.ajax(settings).done(function (response) {
                                        console.log(response);
                                      });
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/UI/dist/js/pages/datatable/custom-datatable.js"></script>
  <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js"></script>
  <script>
    $('#myTableclass').DataTable({
  // bAutoWidth: false,
  "lengthMenu": [[ 3, 5,10, -1], [ 3, 5,10, "All"]] 
});
</script>
      <%- include('../_footer') -%>
