<%- include('../_header') -%>
<!-- <%-JSON.stringify(device_check)%> -->
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-md-5 align-self-center">
      <h3 class="page-title">คู่มือการใช้ข้อมูลกิจกรรมจาก log</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              คู่มือการใช้ข้อมูลกิจกรรมจากภายนอกจาก log
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="row">
            <div class="card-body">
              <div class="border-bottom title-part-padding">
                <h4 class="card-title">
                    ตัวอย่างคู่มือการใช้ข้อมูลกิจกรรมจากภายนอกจาก log
                </h4>
              </div>
              <div class="card-body">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link d-flex active" data-bs-toggle="tab" href="#home2" role="tab" aria-selected="true">
                                <span><i class="ti-home"></i>
                                </span>
                                <span class="d-none d-md-block ms-2">ขั้นตอนที่ 1. Link API และการ SET body</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex" data-bs-toggle="tab" href="#messages2" role="tab" aria-selected="false">
                                <span><i class="ti-comment"></i>
                                </span>
                                <span class="d-none d-md-block ms-2">2. ผลลัพธ์</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex" data-bs-toggle="tab" href="#code" role="tab" aria-selected="false">
                                <span><i class="ti-email"></i>
                                </span>
                                <span class="d-none d-md-block ms-2">3. ตัวอย่างโค็ด</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home2" role="tabpanel">
                            <div class="p-3 text-start">
                                <h4 style="color: crimson;">Link API : <%=host%>:8551/apidatain/apireqlog</h4>
                                <h5 >Link สำหรับการรับข้อมูลจาก API</h5>
                                <h4 style="color: crimson;">มีการ SET body ข้อมูล 3 อย่างคือ  1. msg 2. date 3. file_name</h4>
                                <h5>1. msg คือ ข้อความจาก log </h5>
                                <h5>2. date คือ วันที่และเวลา</h5>
                                <h5>3. file_name คือ ชื่อไฟล์ที่นำมาอ่าน log </h5>
                                <h4 style="color: crimson;">ตัวอย่างการ Set API และการ SET body จากโปรแกรม Postman</h4>
                                <img src="/UI/assets/images/api/guideapidatain.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="messages2" role="tabpanel">
                            <div class="p-3 text-start">
                                <h4 style="color: crimson;">มี 2 รูปแบบคือ ผลลัพธ์ที่สำเร็จและผิดพลาด</h4>
                                <h5 >1. ผลลัพธ์ที่สำเร็จ จะขึ้นว่า "INSERT success" ดังรูป</h5>
                                <h5 >2. ผลลัพธ์ที่ผิดพลาด จะขึ้นว่า "ERROR insert"</h5>
                                <img src="/UI/assets/images/api/guideapidatain2.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="code" role="tabpanel">
                            <div class="p-3 text-start">
                                <div class="mb-3">
                                    <label style="color: crimson;">Ajax Code</label>
                                    <textarea class="form-control" rows="15">
                                      var settings = {
                                        "url": "http://127.0.0.1:8551/apidatain/apireqlog",
                                        "method": "POST",
                                        "timeout": 0,
                                        "headers": {
                                          "Content-Type": "application/json",
                                          "Cookie": "connect.sid=s%3A1DQQWDBihvbqgDO6w4JhbkN1o-YJfADY.5TZGCgT5kOlqaq8ZAqKSrb5zNdToBLd7qxuR%2FM9SWXU"
                                        },
                                        "data": JSON.stringify({
                                          "data": [
                                            {
                                              "msg": "data1",
                                              "date": "2022-05-07 09:19:05",
                                              "file_name": "test.log"
                                            },
                                            {
                                              "msg": "data2",
                                              "date": "2022-05-07 09:19:05",
                                              "file_name": "test.log"
                                            },
                                            {
                                              "msg": "data3",
                                              "date": "2022-05-07 09:19:05",
                                              "file_name": "test2.log"
                                            }
                                          ]
                                        }),
                                      };
                                      
                                      $.ajax(settings).done(function (response) {
                                        console.log(response);
                                      });
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/UI/dist/js/pages/datatable/custom-datatable.js"></script>
  <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js"></script>
  <script>
    $('#myTableclass').DataTable({
  // bAutoWidth: false,
  "lengthMenu": [[ 3, 5,10, -1], [ 3, 5,10, "All"]] 
});
</script>
      <%- include('../_footer') -%>
