<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/UI/dist/css/style.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <title>ทดลองส่งemail</title> -->
</head>

<body>
    <div class="mt-4">
        <div class="text-center">
            <div>
                <img src="https://www.smartpdpa.com/assets/images/logo-icon.png" alt="homepage" class="dark-logo" width="60px" />
            </div>
            <div class="mt-4">
                <h3>
                    Alltra
                </h3>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="card card-body" id="add">
                            <div style="text-align: center;" id="text">
                                <h5>
                                    ยืนยันการเลือก
                                </h5>
                                <hr>
                            </div>
                            <button data="/<%=process.env.SUBFOLDER%>notagree-email-confirm-board/<%=id%>" id="confirm"
                                class="btn btn-danger">ยืนยัน</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #banner {
            /* width: 50%; */
            border: 1.5px solid black;
            box-sizing: border-box;
        }
    </style>

    <script>
        document.getElementById('confirm').addEventListener('click', () => {
            let confirm = document.getElementById('confirm')
            let hrefconfirm = confirm.getAttribute('data')
            confirm.remove()
            document.getElementById('text').remove()
            document.getElementById('add').innerHTML =
                ` <div style="text-align: center;">
                                <h2>
                                    ขอขอบคุณ
                                </h2>
                            </div>
                            `
            $.ajax({
                type: 'GET',
                url: `${hrefconfirm}`,
                error: function (e) {
                    console.log(e);
                }
            });

        })
    </script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/UI/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>