<%- include ("../../_header") %>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">เขียน E-mail </h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                            <!-- <li class="breadcrumb-item"><a href="/appeal">รับเรื่องร้องเรียน</a></li> -->
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>Email-Board">การส่งข้อมูลไปยังคณะกรรมการ</a></li>
                            <li class="breadcrumb-item">เขียน E-mail</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <a href="/<%=process.env.SUBFOLDER%>Email-Board" class="btn btn-secondary ">ย้อนกลับ</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="border-bottom title-part-padding ">
                <div class="row">
                    <div class="col-md-4 justify-content-start d-flex align-items-center">
                        <h4 class="card-title mb-0">เขียน E-mail</h4>
                    </div>
                    <div class="col-md-8 justify-content-end d-flex align-items-center">
                        <a href="/<%=process.env.SUBFOLDER%>default-messgaes" class="btn btn-success">เพิ่มข้อความเริ่มต้น</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form action="/<%=process.env.SUBFOLDER%>send-email-board" enctype="multipart/form-data" method="post">
                    <div class="mb-3">
                        <label for="">ตำเเหน่งปุ่ม :</label>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input success" type="radio" name="location" checked
                                id="secondary2-light-radio" value="top">
                            <label class="form-check-label" for="secondary2-light-radio"> ด้านบน</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input success " type="radio" name="location" 
                                id="secondary-light-radio" value="under">
                            <label class="form-check-label" for="secondary-light-radio"> ด้านล่าง</label>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6 form-group" id="firstname">
                            <label class="mb-1">ขื่อคณะกรรม</label>
                            <input type="text" name="firstname" class="form-control" placeholder="ขื่อผู้รับ"
                                id="email_firstname" required>
                        </div>
                        <div class="col-md-6 form-group" id="lastname">
                            <label class="mb-1">นามสกุล</label>
                            <input class="form-control" type="text" name="lastname" placeholder="นามสกุลผู้รับ"
                                id="email_lastname" required>
                        </div>
                        <div class="col-md-6 mt-2 email form-group">
                            <label class="mb-1">สำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล</label>
                            <input type="email" id="email" name="email_to" class="form-control" placeholder="email"
                                value="pdpc@mdes.go.th" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="mb-1">ไฟล์แนบ</label>
                            <input class="form-control" type="file" id="formFile" name="files_send" multiple="multiple">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6 form-group">
                            <label class="mb-1">หัวเรื่อง</label>
                            <input type="text" name="subject" id="subject" class="form-control" value=""
                                placeholder="หัวข้อ" required>
                        </div>
                        <input type="hidden" name="infraction" value="0">
                        <div class="col-md-6 form-group">
                            <label class="mb-1">เลือกเอกสาร</label>
                            <select class=" mr-sm-2 select2 form-control" id="policy" name="doc_id" multiple="multiple"
                                style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-6 align-items-start d-flex">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input success check-outline outline-success" type="checkbox"
                                    id="default-message">
                                <label class="form-check-label" for="default-message">ข้อความเริ่มต้น</label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="overflow-auto">
                        <h4>เขียนข้อความ</h4>
                        <textarea id="message" name="content"></textarea>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button type="button" class="btn btn-warning" id="print-envelopes">
                            พิมพ์ซองจดหมาย</button>
                        <button type="submit" class="btn btn-success"><i class="far fa-envelope me-1"></i>ส่ง</button>
                        <button type="button" class="btn btn-secondary" id="throw_away">ทิ้ง</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/UI/assets/extra-libs/jqbootstrapvalidation/validation.js"></script>
    <script>
        ! function (window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        }(window, document, jQuery);
    </script>
    
    <script src="/UI/assets/extra-libs/summernote/summernote-lite.min.js"></script>
    <script src="/UI/dist/js/views_js/email/inbox_board.js"></script>
    <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/UI/dist/js/pages/forms/select2/select2.init.js"></script>
    <%- include ("../../_footer") %>