<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%=host%>/UI/dist/css/style.min.css" rel="stylesheet">
    <script src="<%=host%>/UI/assets/libs/jquery/dist/jquery.min.js"></script>



</head>

<body>
    <div class="mt-4">
        <div class="text-center">
            <div>
                <img src="<%=logo%>" alt="homepage" class="dark-logo" width="60px" />
            </div>
            <div class="mt-4">
                <h3>
                    ขอขอบคุณที่ยินยอม
                </h3>
            </div>
        </div>
    </div>
    <script src="<%=host%>/UI/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>