<%- include ("../../_header") %>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">การส่งข้อมูลไปยังเจ้าของข้อมูลส่วนบุคคล</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">การส่งข้อมูลไปยังเจ้าของข้อมูลส่วนบุคคล</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <div style="justify-content:start" class="align-items-center d-none d-md-flex">
                    <h4 class="card-title mb-0">การส่งข้อมูลไปยังเจ้าของข้อมูลส่วนบุคคล</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row pb-3">
                    <div class="col-md-4 justify-content-start align-items-center d-none d-md-flex" id="limit">
                        <a class="btn btn-success" id="inbox-email" href="/<%=process.env.SUBFOLDER%>email-owner-personal/inbox">
                            <i class="fas fa-plus"></i>
                            เขียน E-mail</a>
                    </div>
                    <div class="col-md-8 justify-content-start align-items-center d-none d-md-flex">
                        <div class="input-group mb-2 ">
                            <a class="btn btn-outline-warning" href="/<%=process.env.SUBFOLDER%>email-owner-personal"><i
                                    data-feather="repeat"></i></a>
                            <input class="form-control" type="date" value="" id="firstDay">
                            <span class="input-group-text" id="basic-addon1">ถึง</span>
                            <input class="form-control" type="date" value="" id="lastDay">
                            <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value=""
                                id="Search" aria-describedby="button-search">
                            <button class="btn btn-outline-warning" type="button" id="button-search"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div style="min-height: 470px;" class="table-responsive">
                    <table class="tablesaw no-wrap table-striped table-bordered table-hover table">
                        <thead>
                            <tr>
                                <th>
                                    ลำดับ
                                </th>
                                <th>
                                    อีเมล
                                </th>
                                <th>
                                    หัวเรื่องอีเมล
                                </th>
                                <th>
                                    ชื่อ-นามสกุล ผู้รับอีเมล
                                </th>
                                <th>
                                    วันที่จัดส่ง
                                </th>
                                <th>
                                    วันที่ตอบกลับ
                                </th>
                                <th>
                                    ดูข้อมูล
                                </th>
                                <th>
                                    สถานะ
                                </th>
                                <th>
                                    ส่งใหม่
                                </th>
                            </tr>
                        </thead>
                        <tbody id="table-body">

                        </tbody>
                    </table>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 text-secondary ">
                        <div class="row">
                            <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a id="show_all"></a>
                                รายการ</span>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/UI/dist/js/views_js/email/email_owner_personal_list.js"></script>
    <%- include ("../../_footer") %>