<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%=host%>/UI/dist/css/style.min.css" rel="stylesheet">
    <script src="<%=host%>/UI/assets/libs/jquery/dist/jquery.min.js"></script>



</head>

<body>
    <div class="mt-4">
        <div class="text-center">
            <div>
                <img src="<%=logo%>" alt="homepage" class="dark-logo" width="60px" />
            </div>
            <div class="mt-4">
                <h3>
                    <%=email_name%>
                </h3>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="card card-body">
                            <div style="text-align: center;">
                                <h5>
                                    ยืนยันการเลือก
                                </h5>
                                <hr>
                            </div>
                            <a href="<%=host%>/<%=process.env.SUBFOLDER%>notagree-email-confirm/<%=id_email%>" class="btn btn-info">ยืนยัน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="<%=host%>/UI/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/UI/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->

</body>

</html>