<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">กำหนดรูปแบบข้อมูล</h3>
                <div class="d-flex align-items-center" style="margin-top: 1%;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าแรก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">กำหนดรูปแบบข้อมูล (Pattern)</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" id="index">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <!-- <div class="col-lg-4 col-md-6" >
                <a href="/<%=process.env.SUBFOLDER%>pattern/datatype">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">รูปแบบข้อมูล</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0">
                                    <%= pm.length %>
                                </h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-success" id="bar1">100%</span>
                            <div class="progress">
                                <div id='progress-bar1' class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- Column -->
            <!-- Column -->
            <!-- <div class="col-lg-4 col-md-6">
                <a href="javascript:void(0);">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">พื้นที่จัดเก็บ ตามรูปแบบ GB</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0"><span id="diskSpace">
                                        <%= checkDiskSpace.size %>
                                    </span></h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-info" id="bar2">
                                <%= 100-(((parseInt(checkDiskSpace.free)/parseInt(checkDiskSpace.size))*100).toFixed(0))
                                    %>%
                            </span>
                            <div class="progress">
                                <div id='progress-bar2' class="progress-bar bg-info" role="progressbar" aria-valuenow=""
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- Column -->
            <!-- Column -->
            <!-- <div class="col-lg-4 col-md-6">
                <a href="javascript:void(0);">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">การใช้งานรูปแบบ</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0">
                                    <%= used %>
                                </h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-purple" id="bar3">
                                <%= used_length %>%
                            </span>
                            <div class="progress">
                                <div id='progress-bar3' class="progress-bar bg-purple" role="progressbar"
                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">สร้างรูปแบบข้อมูล สำหรับค้นหาตรวจสอบ และ ป้องกัน <span
                                class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body">
                        <form action="javascript:void(0);" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <a href="/<%=process.env.SUBFOLDER%>pattern/new" class='btn btn-success'>
                                        <i class="fas fa-plus"></i>
                                        เพิ่มรูปแบบข้อมูล
                                    </a>
                                </div>
                                <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                    <div class="input-group mb-2">
                                        <a href="/<%=process.env.SUBFOLDER%>pattern" class="btn btn-outline-warning"><i
                                                data-feather="refresh-cw"></i></a>
                                                <input type="text" class="form-control" placeholder="ค้นหา.." id="myInput-pattern" name="search" aria-label="" aria-describedby="button-addon2" value="">
                                                <button type="button" class="btn btn-outline-warning search-key-pattern"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div style="min-height: 470px;">
                            <p class="h4 split-para">รูปแบบข้อมูลส่วนบุคคล </p>
                            <table id="myTable" class="tablesaw table-striped table-bordered table-hover table"
                                data-tablesaw-mode="stack" data-tablesaw-sortable style="margin-top: 1%;">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th data-tablesaw-sortable-default-col data-tablesaw-priority="3"
                                            class="border text-center no">ลำดับ</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                            class="border text-center">
                                            ชื่อรูปแบบ</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4"
                                            class="border text-center">
                                            ข้อมูลส่วนบุคคล</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            วันที่สร้าง</th>

                                        <!-- <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            วันที่ใช้</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            วันที่สิ้นสุด</th> -->

                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ผู้สร้าง</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center" style="vertical-align: middle;">
                                            อุปกรณ์/Agent/<br />Database ภายนอก</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ดูข้อมูล</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            แก้ไขข้อมูล</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ลบข้อมูล</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-secondary" style="margin-left: 1%;">
                                <span>แสดงผล <span id="start-1"></span> ถึง <span id="end"></span> ทั้งหมด <%= pm.length
                                        %>
                                        รายการ</span>
                            </div>
                            <div class="col-md justify-content-end align-self-center d-block d-md-flex">
                                <nav aria-label="Page navigation example" style="margin-right: 2%;">
                                    <ul class="pagination" id="pagination-wapper">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <!-- Row -->
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">เอกสารกิจกรรม/เอกสารนโยบายข้อมูลส่วนบุคคล (Policy)
                            ที่ยังไม่ได้ดำเนินการจัดรูปแบบ (Pattern)<span class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body col-12">
                        <div style="min-height: 470px;">
                            <p class="h4 split-para">เอกสารกิจกรรม/เอกสารนโยบายข้อมูลส่วนบุคคล </p>
                            <table id="myTable1" class="tablesaw  table-striped table-bordered table-hover table"
                                data-tablesaw-mode="stack" data-tablesaw-sortable style="margin-top: 1%;">
                                <thead>
                                    <tr>
                                        <th data-tablesaw-sortable-default-col data-tablesaw-priority="3"
                                            class="border text-center no">ลำดับ</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                            class="border text-left">
                                            ชื่อเอกสาร</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4"
                                            class="border text-center">
                                            ประเภทเอกสาร</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            วัน/เวลาที่สร้าง</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ผู้สร้าง</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ดูเอกสาร</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body-policy">

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-secondary" style="margin-left: 1%;">
                                <span>แสดงผล <span id="start-policy"></span> ถึง <span id="end-policy"></span> ทั้งหมด
                                    <span id="total-policy"></span> รายการ</span>
                            </div>
                            <div class="col-md justify-content-end align-self-center d-block d-md-flex">
                                <nav aria-label="Page navigation example" style="margin-right: 2%;">
                                    <ul class="pagination" id="pagination-wapper-policy">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form id="del_pattern" method="POST">
            <div id="delete_pattern" class="modal fade modal-scroll">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-colored-header border-bottom title-part-padding">
                            <h4 class="modal-title" style="color: black; font-weight: bold;">
                                ยืนยันลบกำหนดรูปแบบข้อมูล
                            </h4>
                        </div>
                        <div id="modal-del-pattern" class="modal-body">
                            <table class="table table-boardless">
                                <th style="width: 30%; text-align: right;">ชื่อรูปแบบ: </th>
                                <td id="p_name"></td>
                            </table>
                            <table class="table table-boardless">
                                <th style="width: 30%; text-align: right;">ข้อมูลส่วนบุคคล: </th>
                                <td id="p_data"></td>

                                <table class="table table-boardless">
                                    <th style="width: 30%; text-align: right;">วันที่สร้าง: </th>
                                    <td id="p_create"></td>
                                </table>
                                <table class="table table-boardless">
                                    <th style="width: 30%; text-align: right;">ผู้สร้าง: </th>
                                    <td id="p_user"></td>
                                </table>
                                <table class="table table-boardless">
                                    <th class="text-center">อุปกรณ์/Agnet/Database ภายนอก</th>
                                </table>
                                <table class="table table-boardless">
                                    <td id="p_options" class="text-center"></td>
                                </table>
                        </div>
                        <div class="modal-footer">
                            <div class="button-center-success">
                                <button type="submit" id="sub_del_pattern"
                                    class="btn btn-danger font-weight-large">ยืนยัน</button>
                            </div>
                            <div class="button-center-danger2">
                                <button type="button" class="btn btn-secondary font-weight-large"
                                    data-bs-dismiss="modal">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- <div align = 'center' >
        <img src='/UI/assets/images/underconstruction1.png' style="width: 60%; ;">
    </div> -->

    <!-- <script src="/UI/dist/js/all_function_pattern.js"></script> -->




    <script src="/UI/dist/js/all_function_pattern.js"></script>
    <script src="/UI/dist/js/all_function_classification.js"></script>

    <%- include('../_footer') -%>